.auth-dropdown-trigger[data-v-7cea9491] {
  --custom-ui-button-bg-theme-primary: var(--custom-auth-dropdown-trigger-bg);
  --custom-ui-button-clr-theme-primary: var(--custom-auth-dropdown-trigger-clr);
  --custom-ui-button-hover-bg-theme-primary: var(
    --custom-auth-dropdown-trigger-hover-bg
  );
  --custom-ui-button-active-bg-theme-primary: var(
    --custom-auth-dropdown-trigger-active-bg
  );
  --custom-ui-button-toggled-bg-theme-primary: var(
    --custom-auth-dropdown-trigger-toggled-bg
  );
}
