[dir] .top-champs-app__expanded[data-v-5e822a27] {
  border-radius: var(--border-radius);
}
[dir] .top-champs-app__expanded[data-v-5e822a27] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.top-champs-app__expanded[data-v-5e822a27] > :last-child {
  overflow: hidden;
}
[dir] .top-champs-app__expanded[data-v-5e822a27] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.top-champs-app__item[data-v-5e822a27] {
  min-width: 0;
}
.top-champs-app__text[data-v-5e822a27]:first-child {
  text-transform: uppercase;
}
.top-champs-app__text[data-v-5e822a27]:last-child {
  text-transform: capitalize;
}
.top-champs-app__ico--is-decent[data-v-5e822a27],
.top-champs-app__toggle--is-decent[data-v-5e822a27] {
  color: Hsl(var(--hsl-clr-decent));
}
.top-champs-app__toggle[data-v-5e822a27] {
  min-height: 2rem;
}
[dir] .top-champs-app--is-opened .top-champs-app__content[data-v-5e822a27] {
  margin-bottom: 0.5rem;
}
[dir] .top-champs-app--is-opened .top-champs-app__link[data-v-5e822a27] {
  border-bottom: 1px solid hsl(var(--primary-50-bg));
}
