.ui-coupon-bet-teams[data-v-27ca6bbc] {
  color: Hsl(var(--coupon-bet-teams-color, var(--hsl-clr-strong)));
  font-weight: 700;
}
.is-keyboard-user .ui-coupon-bet-teams__link[data-v-27ca6bbc]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"] .ui-coupon-bet-teams__scores[data-v-27ca6bbc] {
  margin-left: 0.25rem;
}
[dir="rtl"] .ui-coupon-bet-teams__scores[data-v-27ca6bbc] {
  margin-right: 0.25rem;
}
.ui-coupon-bet-teams-scores[data-v-27ca6bbc] {
  color: var(--coupon-bet-teams-scores);
  white-space: nowrap;
}
.ui-coupon-bet-teams-scores[data-v-27ca6bbc]:before {
  content: "[ ";
}
.ui-coupon-bet-teams-scores[data-v-27ca6bbc]:after {
  content: " ]";
}
.ui-coupon-bet-teams-scores__item[data-v-27ca6bbc] {
  display: inline-flex;
}
.ui-coupon-bet-teams-scores__item[data-v-27ca6bbc]:nth-child(n + 2):before {
  content: ":";
}
.ui-coupon-coef[data-v-cf406ed8] {
  align-items: center;
  display: flex;
  justify-content: center;
}
[dir] .ui-coupon-coef[data-v-cf406ed8] {
  border-radius: var(--coupon-coef-border-radius, var(--border-radius));
  padding: 3px 0.25rem;
  text-align: center;
}
.ui-coupon-coef--has-theme[data-v-cf406ed8] {
  color: var(--coupon-bet-market-coef-name);
}
[dir] .ui-coupon-coef--has-theme[data-v-cf406ed8] {
  background-color: var(--coupon-bet-market-coef);
}
.ui-coupon-coef__value[data-v-cf406ed8] {
  font-size: 0.75rem;
  font-weight: var(--coupon-bet-market-coef-name-font-weight, 400);
  line-height: 0.875rem;
}
.ui-coupon-sections-item[data-v-afcf5abf] {
  color: Hsl(var(--hsl-clr));
  position: relative;
}
.ui-coupon-sections-item[data-v-afcf5abf]:after,
.ui-coupon-sections-item[data-v-afcf5abf]:before,
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before {
  color: Hsl(var(--hsl-bg));
  content: "";
  position: absolute;
}
.ui-coupon-sections-item[data-v-afcf5abf]:before,
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before {
  bottom: -1px;
  display: none;
  top: -1px;
  width: 0.5625rem;
}
.ui-coupon-sections-item[data-v-afcf5abf]:after,
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after {
  bottom: 0;
  top: 0;
  width: 0.5rem;
}
.ui-coupon-sections-item[data-v-afcf5abf]:not(.ui-coupon-sections-item--has-ears):before,
.ui-coupon-sections-item[data-v-afcf5abf]:not(.ui-coupon-sections-item--has-error):before {
  background-color: Hsl(var(--hsl-clr-bad));
}
.ui-coupon-sections-item[data-v-afcf5abf]:before {
  left: -1px;
}
.ui-coupon-sections-item[data-v-afcf5abf]:after,
.ui-coupon-sections-item[data-v-afcf5abf]:before {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.ui-coupon-sections-item[data-v-afcf5abf]:after {
  left: 0;
}
[dir]
  .ui-coupon-sections-item[data-v-afcf5abf]:not(.ui-coupon-sections-item--has-ears, .ui-coupon-sections-item--single):after,
[dir]
  .ui-coupon-sections-item[data-v-afcf5abf]:only-child:not(.ui-coupon-sections-item--single, .ui-coupon-sections-item--has-boost):after {
  background-color: currentColor;
}
[dir] .ui-coupon-sections-item__wrapper[data-v-afcf5abf] {
  border-radius: inherit;
}
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  right: -1px;
}
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--has-ears)
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before,
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--has-error)
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before {
  background-color: Hsl(var(--hsl-clr-bad));
}
.ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
  right: 0;
}
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--has-ears, .ui-coupon-sections-item--single)
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
[dir]
  .ui-coupon-sections-item:only-child:not(.ui-coupon-sections-item--single, .ui-coupon-sections-item--has-boost)
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after {
  background-color: currentColor;
}
.ui-coupon-sections-item__lock[data-v-afcf5abf] {
  align-items: center;
  bottom: 0;
  color: Hsl(var(--hsl-clr));
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
}
[dir] .ui-coupon-sections-item__lock[data-v-afcf5abf] {
  left: 0;
  right: 0;
  text-align: center;
}
.ui-coupon-sections-item--single.ui-coupon-sections-item--has-ears[data-v-afcf5abf]:before {
  background-image: radial-gradient(
    ellipse 0.46875rem 0.4375rem at 0 50%,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections-item--single.ui-coupon-sections-item--has-ears[data-v-afcf5abf]:after {
  background-image: radial-gradient(
    circle at 0 50%,
    hsla(0, 0%, 100%, 0) 0.5rem,
    currentColor 0.53125rem
  );
}
.ui-coupon-sections-item--single.ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before {
  background-image: radial-gradient(
    ellipse 0.46875rem 0.4375rem at 100% 50%,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections-item--single.ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after {
  background-image: radial-gradient(
    circle at 100% 50%,
    hsla(0, 0%, 100%, 0) 0.5rem,
    currentColor 0.53125rem
  );
}
[dir]
  .ui-coupon-sections-item--single:not(.ui-coupon-sections-item--has-ears)
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
[dir]
  .ui-coupon-sections-item--single[data-v-afcf5abf]:not(.ui-coupon-sections-item--has-ears):after {
  background-color: Hsl(var(--hsl-bg));
}
.ui-coupon-sections-item__container[data-v-afcf5abf] {
  position: relative;
}
[dir] .ui-coupon-sections-item__container[data-v-afcf5abf] {
  background-color: Hsl(var(--hsl-bg));
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
}
.ui-coupon-sections-item__ears[data-v-afcf5abf] {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
}
[dir] .ui-coupon-sections-item__ears[data-v-afcf5abf] {
  border-radius: inherit;
}
.ui-coupon-sections-item__ears[data-v-afcf5abf]:before {
  bottom: 0.53125rem;
  content: "";
  position: absolute;
  top: 0.53125rem;
}
[dir] .ui-coupon-sections-item__ears[data-v-afcf5abf]:before {
  left: 0;
  right: 0;
}
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single)
  .ui-coupon-sections-item__ears[data-v-afcf5abf]:before {
  background-color: Hsl(var(--hsl-bg));
}
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--has-ears)
  .ui-coupon-sections-item__ears--left[data-v-afcf5abf],
[dir]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--has-ears)
  .ui-coupon-sections-item__ears--right[data-v-afcf5abf] {
  background-color: Hsl(var(--hsl-bg));
  border-radius: inherit;
}
.ui-coupon-sections-item__ears--left[data-v-afcf5abf] {
  background-image: radial-gradient(
      circle at 0 0,
      #fff0 0.50625rem,
      Hsl(var(--hsl-bg)) 0.53125rem 10%,
      #fff0 10%
    ),
    radial-gradient(
      circle at 0 100%,
      #fff0 0.50625rem,
      Hsl(var(--hsl-bg)) 0.53125rem 10%,
      #fff0 10%
    );
  left: 0;
}
.ui-coupon-sections-item__ears--right[data-v-afcf5abf] {
  background-image: radial-gradient(
      circle at 100% 0,
      #fff0 0.50625rem,
      Hsl(var(--hsl-bg)) 0.53125rem 10%,
      #fff0 10%
    ),
    radial-gradient(
      circle at 100% 100%,
      #fff0 0.50625rem,
      Hsl(var(--hsl-bg)) 0.53125rem 10%,
      #fff0 10%
    );
  right: 0;
}
[dir] .ui-coupon-sections-item__ears-fade[data-v-afcf5abf] {
  border-radius: inherit;
}
.ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before {
  content: "";
  height: 0.875rem;
  opacity: 0;
  position: absolute;
  width: 100%;
}
[dir]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
[dir]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before {
  background-color: Hsl(var(--hsl-bg));
  border-radius: inherit;
  transition: opacity 0.3s cubic-bezier(0.8, 0, 0.15, 1);
}
[dir="ltr"]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
[dir="ltr"]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before {
  left: 0;
}
[dir="rtl"]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
[dir="rtl"]
  .ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before {
  right: 0;
}
.ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before {
  top: 0;
}
.ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after {
  bottom: 0;
}
.ui-coupon-sections-item--fade-in-bottom
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--fade-in-top
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before,
.ui-coupon-sections-item:last-child:not(.ui-coupon-sections-item--has-boost)
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after {
  opacity: 0.8;
}
.ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:before,
.ui-coupon-sections-item--has-error[data-v-afcf5abf]:before {
  display: block;
}
.ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__container[data-v-afcf5abf] {
  box-shadow: 0 1px Hsl(var(--hsl-clr-bad)), 0 -1px Hsl(var(--hsl-clr-bad));
}
.ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__ears[data-v-afcf5abf] {
  bottom: 1px;
  top: 1px;
}
.ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__ears[data-v-afcf5abf]:before {
  display: none;
}
[dir]
  .ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__ears--left[data-v-afcf5abf] {
  background-image: radial-gradient(
    circle at 0 50%,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem
  );
}
[dir]
  .ui-coupon-sections-item--has-error
  .ui-coupon-sections-item__ears--right[data-v-afcf5abf] {
  background-image: radial-gradient(
    circle at 100% 50%,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem
  );
}
.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item--is-locked[data-v-afcf5abf]:after {
  opacity: 0.8;
}
.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  bottom: 0;
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
}
[dir]
  .ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  background-color: Hsl(var(--hsl-bg));
  left: 0;
  right: 0;
}
.ui-coupon-sections-item--theme-gray-100[data-v-afcf5abf] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  --coupon-bet-is-live: Hsl(var(--accent-0-bg));
  --coupon-bet-is-live-color: Hsl(var(--accent-0-clr));
  --coupon-bet-remove: Hsl(var(--hsl-clr-decent));
  --coupon-bet-lock-remove: Hsl(var(--hsl-bg));
  --coupon-bet-remove-hover: Hsl(var(--hsl-clr));
  --coupon-bet-lock-remove-hover: Hsl(var(--hsl-bg));
  --coupon-bet-teams-scores: Hsl(var(--hsl-clr-accent));
  --coupon-bet-market-coef: Hsl(
    var(--custom-coupon-bet-market-coef-alt, var(--gray-0-bg))
  );
  --coupon-bet-market-coef-name: Hsl(var(--gray-0-clr-strong));
  --coupon-bet-market-name: Hsl(var(--hsl-clr));
  --coupon-opened-bet-params-item-status-pending: Hsl(var(--hsl-clr-decent));
}
.ui-coupon-sections-item--theme-gray-100
  .ui-coupon-sections-item__lock[data-v-afcf5abf] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
.ui-coupon-sections-item--theme-gray-100.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-gray-100.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before,
.ui-coupon-sections-item--theme-gray-100.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-gray-100.ui-coupon-sections-item--is-locked[data-v-afcf5abf]:after {
  --hsl-bg: var(--primary--40-bg);
}
.ui-coupon-sections-item--theme-gray-100.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
.ui-coupon-sections-item--theme-cyber[data-v-afcf5abf] {
  --hsl-bg: var(--cyber-0-bg);
  --hsl-clr: var(--cyber-0-clr);
  --hsl-clr-accent: var(--cyber-0-clr-accent);
  --hsl-clr-decent: var(--cyber-0-clr-decent);
  --hsl-clr-strong: var(--cyber-0-clr-strong);
  --hsl-clr-strong-alt: var(--cyber-0-clr-strong-alt);
  --hsl-clr-primary: var(--cyber-0-clr-primary);
  --hsl-clr-good: var(--cyber-0-clr-good);
  --hsl-clr-bad: var(--cyber-0-clr-bad);
  --hsl-sep: var(--cyber-0-sep);
  --hsl-sep-alt: var(--cyber-0-sep-alt);
  --coupon-bet-is-live: Hsl(var(--coupon-bet-is-live-bg, var(--accent-0-bg)));
  --coupon-bet-is-live-color: Hsl(
    var(--coupon-bet-is-live-clr, var(--accent-0-clr))
  );
  --coupon-bet-remove: Hsl(var(--hsl-clr-primary));
  --coupon-bet-lock-remove: Hsl(var(--hsl-clr-primary));
  --coupon-bet-remove-hover: Hsl(var(--cyber--60-clr-strong));
  --coupon-bet-lock-remove-hover: Hsl(var(--cyber--60-clr-strong));
  --coupon-bet-teams-scores: Hsl(var(--hsl-clr-primary));
  --coupon-bet-market-coef: Hsl(var(--cyber--35-bg));
  --coupon-bet-market-coef-name: Hsl(var(--hsl-clr));
  --coupon-bet-market-name: Hsl(var(--hsl-clr-primary));
  --coupon-opened-bet-params-item-status-pending: Hsl(var(--hsl-clr));
}
.ui-coupon-sections-item--theme-cyber
  .ui-coupon-sections-item__lock[data-v-afcf5abf] {
  --hsl-bg: var(--cyber--60-bg);
  --hsl-clr: var(--cyber--60-clr);
  --hsl-clr-accent: var(--cyber--60-clr-accent);
  --hsl-clr-decent: var(--cyber--60-clr-decent);
  --hsl-clr-strong: var(--cyber--60-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--60-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--60-clr-primary);
  --hsl-clr-good: var(--cyber--60-clr-good);
  --hsl-clr-bad: var(--cyber--60-clr-bad);
  --hsl-sep: var(--cyber--60-sep);
  --hsl-sep-alt: var(--cyber--60-sep-alt);
}
.ui-coupon-sections-item--theme-cyber.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-cyber.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before,
.ui-coupon-sections-item--theme-cyber.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-cyber.ui-coupon-sections-item--is-locked[data-v-afcf5abf]:after {
  --hsl-bg: var(--cyber--60-bg);
}
.ui-coupon-sections-item--theme-cyber.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  --hsl-bg: var(--cyber--60-bg);
  --hsl-clr: var(--cyber--60-clr);
  --hsl-clr-accent: var(--cyber--60-clr-accent);
  --hsl-clr-decent: var(--cyber--60-clr-decent);
  --hsl-clr-strong: var(--cyber--60-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--60-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--60-clr-primary);
  --hsl-clr-good: var(--cyber--60-clr-good);
  --hsl-clr-bad: var(--cyber--60-clr-bad);
  --hsl-sep: var(--cyber--60-sep);
  --hsl-sep-alt: var(--cyber--60-sep-alt);
}
.ui-coupon-sections-item--theme-special-primary-90[data-v-afcf5abf] {
  --hsl-bg: var(--specialPrimary-90-bg);
  --hsl-clr: var(--specialPrimary-90-clr);
  --hsl-clr-accent: var(--specialPrimary-90-clr-accent);
  --hsl-clr-decent: var(--specialPrimary-90-clr-decent);
  --hsl-clr-strong: var(--specialPrimary-90-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary-90-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary-90-clr-primary);
  --hsl-clr-good: var(--specialPrimary-90-clr-good);
  --hsl-clr-bad: var(--specialPrimary-90-clr-bad);
  --hsl-sep: var(--specialPrimary-90-sep);
  --hsl-sep-alt: var(--specialPrimary-90-sep-alt);
  --coupon-bet-is-live: Hsl(var(--specialAccent-0-bg));
  --coupon-bet-is-live-color: Hsl(var(--specialAccent-0-clr));
  --coupon-bet-remove: Hsl(var(--hsl-clr-decent));
  --coupon-bet-remove-hover: Hsl(var(--hsl-clr));
  --coupon-bet-lock-remove: Hsl(var(--specialPrimary-100-bg));
  --coupon-bet-lock-remove-hover: Hsl(var(--hsl-bg));
  --coupon-bet-teams-scores: Hsl(var(--hsl-clr-accent));
  --coupon-bet-market-coef: Hsl(
    var(--custom-coupon-bet-market-coef-alt, var(--specialPrimary-100-bg))
  );
  --coupon-bet-market-coef-name: Hsl(var(--hsl-clr));
  --coupon-bet-market-name: Hsl(var(--hsl-clr));
  --coupon-opened-bet-params-item-status-pending: Hsl(var(--hsl-clr-decent));
  --coupon-bet-market-coef-name-font-weight: 700;
}
.ui-coupon-sections-item--theme-special-primary-90.coupon-bet--is-live[data-v-afcf5abf] {
  --hsl-bg: var(--specialAccent-85-bg);
}
.ui-coupon-sections-item--theme-special-primary-90.coupon-bet--is-line[data-v-afcf5abf] {
  --hsl-bg: var(--specialPrimary-80-bg);
}
.ui-coupon-sections-item--theme-special-primary-90
  .ui-coupon-sections-item__lock[data-v-afcf5abf] {
  --hsl-bg: var(--specialPrimary--60-bg);
  --hsl-clr: var(--specialPrimary--60-clr);
  --hsl-clr-accent: var(--specialPrimary--60-clr-accent);
  --hsl-clr-decent: var(--specialPrimary--60-clr-decent);
  --hsl-clr-strong: var(--specialPrimary--60-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary--60-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary--60-clr-primary);
  --hsl-clr-good: var(--specialPrimary--60-clr-good);
  --hsl-clr-bad: var(--specialPrimary--60-clr-bad);
  --hsl-sep: var(--specialPrimary--60-sep);
  --hsl-sep-alt: var(--specialPrimary--60-sep-alt);
}
.ui-coupon-sections-item--theme-special-primary-90.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-special-primary-90.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before,
.ui-coupon-sections-item--theme-special-primary-90.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-special-primary-90.ui-coupon-sections-item--is-locked[data-v-afcf5abf]:after {
  --hsl-bg: var(--specialPrimary--60-bg);
}
.ui-coupon-sections-item--theme-special-primary-90.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  --hsl-bg: var(--specialPrimary--60-bg);
  --hsl-clr: var(--specialPrimary--60-clr);
  --hsl-clr-accent: var(--specialPrimary--60-clr-accent);
  --hsl-clr-decent: var(--specialPrimary--60-clr-decent);
  --hsl-clr-strong: var(--specialPrimary--60-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary--60-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary--60-clr-primary);
  --hsl-clr-good: var(--specialPrimary--60-clr-good);
  --hsl-clr-bad: var(--specialPrimary--60-clr-bad);
  --hsl-sep: var(--specialPrimary--60-sep);
  --hsl-sep-alt: var(--specialPrimary--60-sep-alt);
}
.ui-coupon-sections-item--theme-primary[data-v-afcf5abf] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  --coupon-bet-is-live: Hsl(var(--primary--10-clr-bad));
  --coupon-bet-is-live-color: Hsl(var(--hsl-clr));
  --coupon-bet-remove: Hsl(var(--primary-0-sep-alt));
  --coupon-bet-lock-remove: Hsl(var(--primary-0-sep-alt));
  --coupon-bet-remove-hover: Hsla(var(--primary-0-sep-alt), 0.5);
  --coupon-bet-lock-remove-hover: Hsla(var(--primary-0-sep-alt), 0.5);
  --coupon-bet-champ-caption: Hsl(var(--hsl-clr-strong));
  --coupon-bet-teams-scores: Hsl(var(--hsl-clr-accent));
  --coupon-bet-market-coef: Hsl(
    var(--custom-coupon-bet-market-coef-alt, var(--gray-30-bg))
  );
  --coupon-bet-market-coef-name: Hsl(var(--hsl-clr));
  --coupon-bet-market-name: Hsl(
    var(--custom-coupon-bet-market-name, var(--hsl-clr-strong))
  );
  --coupon-opened-bet-params-item-status-pending: Hsl(var(--hsl-clr-decent));
}
.ui-coupon-sections-item--theme-primary
  .ui-coupon-sections-item__lock[data-v-afcf5abf] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
.ui-coupon-sections-item--theme-primary.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-primary.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__ears-fade[data-v-afcf5abf]:before,
.ui-coupon-sections-item--theme-primary.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__wrapper[data-v-afcf5abf]:after,
.ui-coupon-sections-item--theme-primary.ui-coupon-sections-item--is-locked[data-v-afcf5abf]:after {
  --hsl-bg: var(--primary--40-bg);
}
.ui-coupon-sections-item--theme-primary.ui-coupon-sections-item--is-locked
  .ui-coupon-sections-item__container[data-v-afcf5abf]:after {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
.ui-coupon-sections--animated[data-v-6e4013a0] {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item.coupon-singles-success-coupons__item
  .ui-coupon-sections-item__ears:before {
  display: none;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:first-child
  .ui-coupon-sections-item__ears--left {
  background-image: radial-gradient(
    circle at 0 100%,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem 100%,
    #fff0
  );
  border-top-left-radius: inherit;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:first-child
  .ui-coupon-sections-item__ears--right {
  background-image: radial-gradient(
    circle at 100% 100%,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem 100%,
    #fff0
  );
  border-top-right-radius: inherit;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:last-child:not(.ui-coupon-sections-item--has-boost)
  .ui-coupon-sections-item__ears--left {
  background-image: radial-gradient(
    circle at 0 0,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem 100%,
    #fff0
  );
  border-bottom-left-radius: inherit;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:last-child:not(.ui-coupon-sections-item--has-boost)
  .ui-coupon-sections-item__ears--right {
  background-image: radial-gradient(
    circle at 100% 0,
    #fff0 0.50625rem,
    Hsl(var(--hsl-bg)) 0.53125rem 100%,
    #fff0
  );
  border-bottom-right-radius: inherit;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears.ui-coupon-sections-item--has-boost:before,
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:not(:last-child):before {
  background-image: radial-gradient(
    circle at 0 100%,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears.ui-coupon-sections-item--has-boost:after,
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:not(:last-child):after {
  background-image: radial-gradient(
    circle at 0 100%,
    #fff0 0.5rem,
    Hsl(var(--hsl-bg)) 0.53125rem,
    Hsl(var(--hsl-bg))
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears.ui-coupon-sections-item--has-boost
  .ui-coupon-sections-item__wrapper:before,
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:not(:last-child)
  .ui-coupon-sections-item__wrapper:before {
  background-image: radial-gradient(
    circle at 100% 100%,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears.ui-coupon-sections-item--has-boost
  .ui-coupon-sections-item__wrapper:after,
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single).ui-coupon-sections-item--has-ears:not(:last-child)
  .ui-coupon-sections-item__wrapper:after {
  background-image: radial-gradient(
    circle at 100% 100%,
    #fff0 0.5rem,
    Hsl(var(--hsl-bg)) 0.53125rem,
    Hsl(var(--hsl-bg))
  );
}
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2) {
  margin-top: 2px;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-border:after {
  content: "";
  height: 1px;
  position: absolute;
  top: -1px;
  width: 100%;
}
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-border:after {
  background-color: #fff0;
  border-top: 1px dashed hsl(var(--hsl-sep-alt));
}
[dir="ltr"]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-border:after {
  left: 0;
}
[dir="rtl"]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-border:after {
  right: 0;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears:before {
  background-image: radial-gradient(
      circle at 0 0,
      #fff0 0.5rem,
      Hsl(var(--hsl-clr-bad)) 0.53125rem 75%,
      #fff0 75%
    ),
    radial-gradient(
      circle at 0 100%,
      #fff0 0.5rem,
      Hsl(var(--hsl-clr-bad)) 0.53125rem 75%,
      #fff0 75%
    );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears:after {
  background-image: radial-gradient(
      circle at 0 0,
      #fff0 0.5rem,
      Hsl(var(--hsl-bg)) 0.53125rem 75%,
      #fff0 75%
    ),
    radial-gradient(
      circle at 0 100%,
      #fff0 0.5rem,
      Hsl(var(--hsl-bg)) 0.53125rem 75%,
      #fff0 75%
    );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__container:before {
  bottom: 100%;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
}
[dir="ltr"]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__container:before {
  background: linear-gradient(to left, Hsl(var(--hsl-sep-alt)) 50%, #fff0 50%) 0
    0/3px 100% repeat-x;
}
[dir="rtl"]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__container:before {
  background: linear-gradient(to right, Hsl(var(--hsl-sep-alt)) 50%, #fff0 50%)
    100% 0/3px 100% repeat-x;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper:before {
  background-image: radial-gradient(
      circle at 100% 0,
      #fff0 0.5rem,
      Hsl(var(--hsl-clr-bad)) 0.53125rem 75%,
      #fff0 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      #fff0 0.5rem,
      Hsl(var(--hsl-clr-bad)) 0.53125rem 75%,
      #fff0 75%
    );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):nth-child(n
    + 2).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper:after {
  background-image: radial-gradient(
      circle at 100% 0,
      #fff0 0.5rem,
      Hsl(var(--hsl-bg)) 0.53125rem 75%,
      #fff0 75%
    ),
    radial-gradient(
      circle at 100% 100%,
      #fff0 0.5rem,
      Hsl(var(--hsl-bg)) 0.53125rem 75%,
      #fff0 75%
    );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):last-child:not(:first-child):not(.ui-coupon-sections-item--has-boost).ui-coupon-sections-item--has-ears:before {
  background-image: radial-gradient(
    circle at 0 0,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):last-child:not(:first-child):not(.ui-coupon-sections-item--has-boost).ui-coupon-sections-item--has-ears:after {
  background-image: radial-gradient(
    circle at 0 0,
    #fff0 0.5rem,
    Hsl(var(--hsl-bg)) 0.53125rem,
    Hsl(var(--hsl-bg))
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):last-child:not(:first-child):not(.ui-coupon-sections-item--has-boost).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper:before {
  background-image: radial-gradient(
    circle at 100% 0,
    #fff0 0.5rem,
    Hsl(var(--hsl-clr-bad)) 0.53125rem
  );
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item:not(.ui-coupon-sections-item--single):last-child:not(:first-child):not(.ui-coupon-sections-item--has-boost).ui-coupon-sections-item--has-ears
  .ui-coupon-sections-item__wrapper:after {
  background-image: radial-gradient(
    circle at 100% 0,
    #fff0 0.5rem,
    Hsl(var(--hsl-bg)) 0.53125rem,
    Hsl(var(--hsl-bg))
  );
}
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-enter-active,
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-leave-active {
  transform-origin: top center;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.15, 1);
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-enter-active:not(:only-child),
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-leave-active:not(:only-child) {
  height: var(--coupon-height);
}
.ui-coupon-sections[data-v-6e4013a0] .ui-coupon-sections-item--t-enter-from,
.ui-coupon-sections[data-v-6e4013a0] .ui-coupon-sections-item--t-leave-to {
  opacity: 0;
}
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-enter-from,
[dir]
  .ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-leave-to {
  transform: scale(0.6);
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-enter-from:not(:only-child):not(:first-child) {
  height: 0;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-leave-to:not(:only-child) {
  height: 0;
}
.ui-coupon-sections[data-v-6e4013a0]
  .ui-coupon-sections-item--t-enter-active
  + .ui-coupon-sections-item--t-enter-active {
  height: auto;
}
