.betting-right-aside--is-compact.betting-right-aside[data-v-30658be8] {
  z-index: 50;
}
[dir="ltr"]
  .betting-right-aside--is-compact.betting-right-aside[data-v-30658be8] {
  margin-right: 0;
}
[dir="rtl"]
  .betting-right-aside--is-compact.betting-right-aside[data-v-30658be8] {
  margin-left: 0;
}
.betting-right-aside--is-compact.betting-right-aside.ui-scrollbar[data-v-30658be8] {
  overflow: visible;
}
.betting-right-aside--is-compact.betting-right-aside--is-shown[data-v-30658be8] {
  width: calc(
    var(--layout-sidebar-size) + var(--right-side-scrollbar-width, 0)
  );
}
[dir="ltr"]
  .betting-right-aside--is-compact.betting-right-aside--is-shown[data-v-30658be8] {
  background-image: linear-gradient(
    to left,
    Hsla(var(--right-side-compact-shown-bg), 0.5) 0.25rem,
    Hsl(var(--right-side-compact-shown-bg)) 0.25rem
  );
  box-shadow: 0.8125rem 0 0 1.3125rem Hsl(var(--right-side-compact-shown-bg)),
    0.3125rem 0 1.125rem 0.3125rem #0000003b;
  right: calc(
    var(--layout-padding-size) - var(--right-side-scrollbar-width, 0)
  );
}
[dir="rtl"]
  .betting-right-aside--is-compact.betting-right-aside--is-shown[data-v-30658be8] {
  background-image: linear-gradient(
    to right,
    Hsla(var(--right-side-compact-shown-bg), 0.5) 0.25rem,
    Hsl(var(--right-side-compact-shown-bg)) 0.25rem
  );
  box-shadow: -0.8125rem 0 0 1.3125rem Hsl(var(--right-side-compact-shown-bg)),
    -0.3125rem 0 1.125rem 0.3125rem #0000003b;
  left: calc(var(--layout-padding-size) - var(--right-side-scrollbar-width, 0));
}
.betting-right-aside--is-compact.betting-right-aside--is-shown.ui-scrollbar[data-v-30658be8] {
  overflow-y: scroll;
}
