.ui-sub-game-block[data-v-18dd34e8] {
  display: flex;
  position: relative;
}
.ui-sub-game-block[data-v-18dd34e8]:before {
  bottom: 0;
  color: Hsl(var(--hsl-clr-accent));
  content: "";
  position: absolute;
  top: 0;
}
[dir] .ui-sub-game-block[data-v-18dd34e8]:before {
  background-color: currentColor;
}
[dir="ltr"] .ui-sub-game-block[data-v-18dd34e8]:before {
  left: 0;
}
[dir="rtl"] .ui-sub-game-block[data-v-18dd34e8]:before {
  right: 0;
}
.ui-sub-game-block__link[data-v-18dd34e8] {
  bottom: 0;
  position: absolute;
  top: 0;
}
[dir] .ui-sub-game-block__link[data-v-18dd34e8] {
  cursor: pointer;
  left: 0;
  right: 0;
}
.ui-sub-game-block__link:hover
  + .ui-sub-game-block__container
  .ui-sub-game-block__label[data-v-18dd34e8] {
  text-decoration: underline;
}
.ui-sub-game-block__container[data-v-18dd34e8] {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.ui-sub-game-block__label[data-v-18dd34e8] {
  flex-grow: 1;
  min-width: 0;
}
.ui-sub-game-block__control[data-v-18dd34e8] {
  flex-shrink: 0;
  position: relative;
}
[dir="ltr"] .ui-sub-game-block__control[data-v-18dd34e8]:nth-child(n + 2) {
  margin-left: 0.25rem;
}
[dir="rtl"] .ui-sub-game-block__control[data-v-18dd34e8]:nth-child(n + 2) {
  margin-right: 0.25rem;
}
[dir] .ui-sub-game-block__favorite[data-v-18dd34e8] {
  margin: -0.25rem;
}
.ui-sub-game-block__favorite.ui-sub-game-block__favorite--is-active[data-v-18dd34e8],
.ui-sub-game-block__favorite[data-v-18dd34e8]:hover {
  color: Hsl(var(--custom-favorite-star, var(--hsl-clr-accent)));
}
.is-keyboard-user .ui-sub-game-block-link[data-v-18dd34e8]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sub-game-block--theme-primary[data-v-18dd34e8] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr-strong-alt), 1);
}
[dir] .ui-sub-game-block--theme-primary[data-v-18dd34e8] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sub-game-block--theme-primary[data-v-18dd34e8]:hover {
  --hsl-bg: var(--primary-10-bg);
  --hsl-clr: var(--primary-10-clr);
  --hsl-clr-accent: var(--primary-10-clr-accent);
  --hsl-clr-decent: var(--primary-10-clr-decent);
  --hsl-clr-strong: var(--primary-10-clr-strong);
  --hsl-clr-strong-alt: var(--primary-10-clr-strong-alt);
  --hsl-clr-primary: var(--primary-10-clr-primary);
  --hsl-clr-good: var(--primary-10-clr-good);
  --hsl-clr-bad: var(--primary-10-clr-bad);
  --hsl-sep: var(--primary-10-sep);
  --hsl-sep-alt: var(--primary-10-sep-alt);
}
.ui-sub-game-block--theme-gray-100[data-v-18dd34e8] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr-strong-alt), 1);
}
[dir] .ui-sub-game-block--theme-gray-100[data-v-18dd34e8] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sub-game-block--theme-gray-100.ui-sub-game-block--is-opened[data-v-18dd34e8] {
  --hsl-bg: var(--primary-90-bg);
  --hsl-clr: var(--primary-90-clr);
  --hsl-clr-accent: var(--primary-90-clr-accent);
  --hsl-clr-decent: var(--primary-90-clr-decent);
  --hsl-clr-strong: var(--primary-90-clr-strong);
  --hsl-clr-strong-alt: var(--primary-90-clr-strong-alt);
  --hsl-clr-primary: var(--primary-90-clr-primary);
  --hsl-clr-good: var(--primary-90-clr-good);
  --hsl-clr-bad: var(--primary-90-clr-bad);
  --hsl-sep: var(--primary-90-sep);
  --hsl-sep-alt: var(--primary-90-sep-alt);
}
.ui-sub-game-block--theme-gray-100[data-v-18dd34e8]:hover {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
}
.ui-sub-game-block--theme-gray-50[data-v-18dd34e8] {
  --hsl-bg: var(--gray-50-bg);
  --hsl-clr: var(--gray-50-clr);
  --hsl-clr-accent: var(--gray-50-clr-accent);
  --hsl-clr-decent: var(--gray-50-clr-decent);
  --hsl-clr-strong: var(--gray-50-clr-strong);
  --hsl-clr-strong-alt: var(--gray-50-clr-strong-alt);
  --hsl-clr-primary: var(--gray-50-clr-primary);
  --hsl-clr-good: var(--gray-50-clr-good);
  --hsl-clr-bad: var(--gray-50-clr-bad);
  --hsl-sep: var(--gray-50-sep);
  --hsl-sep-alt: var(--gray-50-sep-alt);
  color: Hsla(var(--hsl-clr-strong-alt), 1);
}
[dir] .ui-sub-game-block--theme-gray-50[data-v-18dd34e8] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sub-game-block--theme-gray-50[data-v-18dd34e8]:hover {
  --hsl-bg: var(--gray-80-bg);
  --hsl-clr: var(--gray-80-clr);
  --hsl-clr-accent: var(--gray-80-clr-accent);
  --hsl-clr-decent: var(--gray-80-clr-decent);
  --hsl-clr-strong: var(--gray-80-clr-strong);
  --hsl-clr-strong-alt: var(--gray-80-clr-strong-alt);
  --hsl-clr-primary: var(--gray-80-clr-primary);
  --hsl-clr-good: var(--gray-80-clr-good);
  --hsl-clr-bad: var(--gray-80-clr-bad);
  --hsl-sep: var(--gray-80-sep);
  --hsl-sep-alt: var(--gray-80-sep-alt);
}
.ui-sub-game-block--theme-primary--20[data-v-18dd34e8] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr-strong-alt), 1);
}
[dir] .ui-sub-game-block--theme-primary--20[data-v-18dd34e8] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sub-game-block--theme-primary--20.ui-sub-game-block--is-opened[data-v-18dd34e8] {
  --hsl-bg: var(--primary-15-bg);
  --hsl-clr: var(--primary-15-clr);
  --hsl-clr-accent: var(--primary-15-clr-accent);
  --hsl-clr-decent: var(--primary-15-clr-decent);
  --hsl-clr-strong: var(--primary-15-clr-strong);
  --hsl-clr-strong-alt: var(--primary-15-clr-strong-alt);
  --hsl-clr-primary: var(--primary-15-clr-primary);
  --hsl-clr-good: var(--primary-15-clr-good);
  --hsl-clr-bad: var(--primary-15-clr-bad);
  --hsl-sep: var(--primary-15-sep);
  --hsl-sep-alt: var(--primary-15-sep-alt);
}
.ui-sub-game-block--theme-primary--20[data-v-18dd34e8]:hover {
  --hsl-bg: var(--primary--10-bg);
  --hsl-clr: var(--primary--10-clr);
  --hsl-clr-accent: var(--primary--10-clr-accent);
  --hsl-clr-decent: var(--primary--10-clr-decent);
  --hsl-clr-strong: var(--primary--10-clr-strong);
  --hsl-clr-strong-alt: var(--primary--10-clr-strong-alt);
  --hsl-clr-primary: var(--primary--10-clr-primary);
  --hsl-clr-good: var(--primary--10-clr-good);
  --hsl-clr-bad: var(--primary--10-clr-bad);
  --hsl-sep: var(--primary--10-sep);
  --hsl-sep-alt: var(--primary--10-sep-alt);
}
.ui-sub-game-block--size-s[data-v-18dd34e8]:before {
  width: 2px;
}
[dir]
  .ui-sub-game-block--size-s
  .ui-sub-game-block__container[data-v-18dd34e8] {
  padding: 0.25rem 0.5rem;
}
.ui-sub-game-block--size-s .ui-sub-game-block__label[data-v-18dd34e8] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.ui-sub-game-block--size-m[data-v-18dd34e8]:before {
  width: 3px;
}
[dir]
  .ui-sub-game-block--size-m
  .ui-sub-game-block__container[data-v-18dd34e8] {
  padding: 0.5rem 0.75rem;
}
.ui-sub-game-block--size-m .ui-sub-game-block__label[data-v-18dd34e8] {
  font-size: 0.875rem;
  line-height: 0.875rem;
}
