.games-slider-game-markets[data-v-41e05909] {
  display: flex;
  gap: 2px;
  position: relative;
}
.games-slider-game-markets__item[data-v-41e05909] {
  flex-grow: 1;
}
.games-slider-game-markets__all[data-v-41e05909] {
  align-items: center;
  color: Hsl(var(--hsl-clr-strong));
  justify-content: center;
}
.games-slider-game-markets__all[data-v-41e05909]:not(.games-slider-game-markets__all--icon) {
  flex-grow: 1;
  min-width: 3.375rem;
}
.games-slider-game-markets__all--icon[data-v-41e05909] {
  min-width: 2.25rem;
}
.games-slider-game-markets__count[data-v-41e05909] {
  text-decoration: underline;
}
.games-slider-game-info--not-started
  .games-slider-game-info__wrapper[data-v-56d4d07b] {
  color: Hsl(var(--hsl-clr-decent));
}
.games-slider-game-info:not(.games-slider-game-info--not-started)
  .games-slider-game-info__wrapper[data-v-56d4d07b] {
  color: Hsl(var(--hsl-clr-accent));
}
.games-slider-game-info__wrapper[data-v-56d4d07b] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
.games-slider-game-info__icon[data-v-56d4d07b] {
  flex-shrink: 0;
}
.games-slider-game-info__label[data-v-56d4d07b] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
.games-slider-game-card[data-v-8820fe07] {
  display: grid;
  position: relative;
}
[dir] .games-slider-game-card[data-v-8820fe07] {
  border-radius: var(--border-radius);
}
.games-slider-game-card__link[data-v-8820fe07] {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
[dir] .games-slider-game-card__link[data-v-8820fe07] {
  border-radius: inherit;
}
[dir="ltr"] .games-slider-game-card__link[data-v-8820fe07] {
  left: 0;
}
[dir="rtl"] .games-slider-game-card__link[data-v-8820fe07] {
  right: 0;
}
.is-keyboard-user .games-slider-game-card__link[data-v-8820fe07]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.games-slider-game-card__content[data-v-8820fe07],
.games-slider-game-card__image[data-v-8820fe07] {
  grid-area: 1/-1;
}
.games-slider-game-card__header[data-v-8820fe07] {
  display: flex;
  gap: 0.5rem;
  min-height: 1.625rem;
  position: relative;
}
[xlang="hi"] .games-slider-game-card__header[data-v-8820fe07],
[xlang="hu"] .games-slider-game-card__header[data-v-8820fe07] {
  align-items: flex-start;
}
[xlang="hi"] .games-slider-game-card__header[data-v-8820fe07] {
  min-height: 2.125rem;
}
.games-slider-game-card__content[data-v-8820fe07] {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
  row-gap: 0.5rem;
}
[dir] .games-slider-game-card__content[data-v-8820fe07] {
  border-radius: inherit;
  padding: 0.5rem;
}
.games-slider-game-card__image[data-v-8820fe07] {
  align-self: start;
  justify-self: end;
  overflow: hidden;
}
[dir="ltr"] .games-slider-game-card__image[data-v-8820fe07] {
  border-top-right-radius: inherit;
}
[dir="rtl"] .games-slider-game-card__image[data-v-8820fe07] {
  border-top-left-radius: inherit;
}
.games-slider-game-card__favorite[data-v-8820fe07] {
  color: Hsl(var(--custom-favorite-star, var(--gray-100-clr-accent)));
  flex-shrink: 0;
}
[dir="ltr"] .games-slider-game-card__favorite[data-v-8820fe07] {
  margin-left: auto;
  margin-right: -0.25rem;
}
[dir="rtl"] .games-slider-game-card__favorite[data-v-8820fe07] {
  margin-left: -0.25rem;
  margin-right: auto;
}
.games-slider-game-card__ico[data-v-8820fe07] {
  font-size: 5.875rem;
  opacity: 0.08;
  position: relative;
  top: -0.625rem;
}
[dir="ltr"] .games-slider-game-card__ico[data-v-8820fe07] {
  right: -0.625rem;
}
[dir="rtl"] .games-slider-game-card__ico[data-v-8820fe07] {
  left: -0.625rem;
}
[xlang="hi"] .games-slider-game-card__info[data-v-8820fe07],
[xlang="hu"] .games-slider-game-card__info[data-v-8820fe07],
[xlang="my"] .games-slider-game-card__info[data-v-8820fe07] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[xlang="hu"] .games-slider-game-card__info[data-v-8820fe07] {
  min-height: 1.25rem;
}
[xlang="hi"] .games-slider-game-card__info[data-v-8820fe07],
[xlang="my"] .games-slider-game-card__info[data-v-8820fe07] {
  min-height: 2rem;
}
.games-slider-game-card__teams[data-v-8820fe07] {
  min-height: 2.0625rem;
}
[dir] .games-slider-game-card__widget[data-v-8820fe07] {
  cursor: pointer;
}
.games-slider-game-card__champ[data-v-8820fe07] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
.games-slider-game-card-header__ico[data-v-8820fe07] {
  flex-shrink: 0;
}
.games-slider-game-card-header__link[data-v-8820fe07] {
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  flex-grow: 1;
  min-width: 0;
}
.games-slider-game-card-header__link:hover
  .games-slider-game-card__champ[data-v-8820fe07] {
  text-decoration: underline;
}
.is-keyboard-user .games-slider-game-card-header__link[data-v-8820fe07]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.games-slider-game-card--theme-gray-100[data-v-8820fe07] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .games-slider-game-card--theme-gray-100[data-v-8820fe07] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.games-slider-game-card--theme-gray-100[data-v-8820fe07]:hover {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
}
.games-slider-game-card--theme-gray-100
  .games-slider-game-card__teams[data-v-8820fe07] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.games-slider-game-card--theme-primary[data-v-8820fe07] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .games-slider-game-card--theme-primary[data-v-8820fe07] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.games-slider-game-card--theme-primary
  .games-slider-game-card__ico[data-v-8820fe07] {
  color: Hsl(var(--hsl-clr-decent));
}
.games-slider-game-card--theme-primary
  .games-slider-game-card__teams[data-v-8820fe07] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.games-slider-game-card--theme-primary[data-v-8820fe07]:hover {
  --hsl-bg: var(--primary-5-bg);
  --hsl-clr: var(--primary-5-clr);
  --hsl-clr-accent: var(--primary-5-clr-accent);
  --hsl-clr-decent: var(--primary-5-clr-decent);
  --hsl-clr-strong: var(--primary-5-clr-strong);
  --hsl-clr-strong-alt: var(--primary-5-clr-strong-alt);
  --hsl-clr-primary: var(--primary-5-clr-primary);
  --hsl-clr-good: var(--primary-5-clr-good);
  --hsl-clr-bad: var(--primary-5-clr-bad);
  --hsl-sep: var(--primary-5-sep);
  --hsl-sep-alt: var(--primary-5-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .games-slider-game-card--theme-primary[data-v-8820fe07]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.games-slider-game-card--theme-primary--20[data-v-8820fe07] {
  --hsl-bg: var(--primary--10-bg);
  --hsl-clr: var(--primary--10-clr);
  --hsl-clr-accent: var(--primary--10-clr-accent);
  --hsl-clr-decent: var(--primary--10-clr-decent);
  --hsl-clr-strong: var(--primary--10-clr-strong);
  --hsl-clr-strong-alt: var(--primary--10-clr-strong-alt);
  --hsl-clr-primary: var(--primary--10-clr-primary);
  --hsl-clr-good: var(--primary--10-clr-good);
  --hsl-clr-bad: var(--primary--10-clr-bad);
  --hsl-sep: var(--primary--10-sep);
  --hsl-sep-alt: var(--primary--10-sep-alt);
  color: Hsl(var(--hsl-clr));
}
[dir] .games-slider-game-card--theme-primary--20[data-v-8820fe07] {
  border: 1px solid transparent;
  box-shadow: 0 0.3125rem 1.25rem Hsla(var(--primary--40-bg), 0.8);
}
[dir="ltr"] .games-slider-game-card--theme-primary--20[data-v-8820fe07] {
  background: linear-gradient(
        180deg,
        Hsl(var(--hsl-bg)) 0,
        Hsl(var(--primary--30-bg))
      )
      padding-box,
    linear-gradient(
        90deg,
        Hsla(var(--primary-75-bg), 0.2) 0,
        Hsla(var(--primary-0-bg), 0.2)
      )
      border-box;
}
[dir="rtl"] .games-slider-game-card--theme-primary--20[data-v-8820fe07] {
  background: linear-gradient(
        -180deg,
        Hsl(var(--hsl-bg)) 0,
        Hsl(var(--primary--30-bg))
      )
      padding-box,
    linear-gradient(
        -90deg,
        Hsla(var(--primary-75-bg), 0.2) 0,
        Hsla(var(--primary-0-bg), 0.2)
      )
      border-box;
}
.games-slider-game-card--theme-primary--20
  .games-slider-game-card__favorite[data-v-8820fe07] {
  color: Hsl(var(--custom-favorite-star, var(--hsl-clr-accent)));
}
[dir="ltr"] .games-slider-game-card--theme-primary--20[data-v-8820fe07]:hover {
  background: linear-gradient(
        180deg,
        Hsla(var(--primary-0-bg)) 0,
        Hsla(var(--primary--20-bg))
      )
      padding-box,
    linear-gradient(
        90deg,
        Hsla(var(--primary-75-bg), 0.2) 0,
        Hsla(var(--primary-0-bg), 0.2)
      )
      border-box;
}
[dir="rtl"] .games-slider-game-card--theme-primary--20[data-v-8820fe07]:hover {
  background: linear-gradient(
        -180deg,
        Hsla(var(--primary-0-bg)) 0,
        Hsla(var(--primary--20-bg))
      )
      padding-box,
    linear-gradient(
        -90deg,
        Hsla(var(--primary-75-bg), 0.2) 0,
        Hsla(var(--primary-0-bg), 0.2)
      )
      border-box;
}
.games-slider-app-loader[data-v-64066350] {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  overflow: hidden;
  position: relative;
}
[dir] .games-slider-app-loader[data-v-64066350] {
  padding-bottom: 0.5rem;
}
.games-slider-app-loader--live .games-slider-app-loader__card[data-v-64066350] {
  height: 10.25rem;
}
.games-slider-app-loader--line .games-slider-app-loader__card[data-v-64066350] {
  height: 9.875rem;
}
.games-slider-app-loader[data-v-64066350]:after {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 3.75rem;
  z-index: 50;
}
[dir="ltr"] .games-slider-app-loader[data-v-64066350]:after {
  background: linear-gradient(90deg, #fff0, Hsla(var(--hsl-bg), 0.5));
  right: 0;
}
[dir="rtl"] .games-slider-app-loader[data-v-64066350]:after {
  background: linear-gradient(-90deg, #fff0, Hsla(var(--hsl-bg), 0.5));
  left: 0;
}
.games-slider-app-loader__card[data-v-64066350] {
  flex-shrink: 0;
  width: 21.25rem;
}
[xlang="hi"] .games-slider-app-loader__card[data-v-64066350],
[xlang="hu"] .games-slider-app-loader__card[data-v-64066350],
[xlang="my"] .games-slider-app-loader__card[data-v-64066350] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
[xlang="my"] .games-slider-app-loader__card[data-v-64066350] {
  height: 12.5625rem;
}
[xlang="hi"] .games-slider-app-loader__card[data-v-64066350] {
  height: 12.1875rem;
}
[xlang="hu"] .games-slider-app-loader__card[data-v-64066350] {
  height: 10.3125rem;
}
[dir] .games-slider-app-loader-card[data-v-64066350] {
  border-radius: var(--border-radius);
  padding: 0.5rem;
}
.games-slider-app-loader-card__wrapper[data-v-64066350] {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "row favorite";
  grid-template-columns: 1fr auto;
}
.games-slider-app-loader-card__row[data-v-64066350] {
  align-items: center;
  display: grid;
  gap: 0.25rem;
  grid-area: row;
  grid-template-columns: auto 1fr;
}
[dir] .games-slider-app-loader-card__favorite[data-v-64066350],
[dir] .games-slider-app-loader-card__ico[data-v-64066350],
[dir] .games-slider-app-loader-card__line[data-v-64066350],
[dir] .games-slider-app-loader-card__market[data-v-64066350] {
  background-color: currentColor;
}
[dir] .games-slider-app-loader-card__favorite[data-v-64066350],
[dir] .games-slider-app-loader-card__line[data-v-64066350] {
  border-radius: var(--border-radius);
}
[dir] .games-slider-app-loader-card__market[data-v-64066350] {
  border-radius: var(--ui-market-custom-border-radius, var(--border-radius));
}
.games-slider-app-loader-card__ico[data-v-64066350] {
  height: 1rem;
  width: 1rem;
}
[dir] .games-slider-app-loader-card__ico[data-v-64066350] {
  border-radius: 50%;
}
[dir] .games-slider-app-loader-card__ico[data-v-64066350]:first-child,
[dir]
  .games-slider-app-loader-card__ico:first-child
  + .games-slider-app-loader-card__line[data-v-64066350] {
  margin-bottom: 0.5rem;
}
.games-slider-app-loader-card__line[data-v-64066350] {
  height: 0.75rem;
  width: 100%;
}
.games-slider-app-loader-card__favorite[data-v-64066350] {
  grid-area: favorite;
  height: 0.75rem;
  width: 0.75rem;
}
[dir] .games-slider-app-loader-card__favorite[data-v-64066350] {
  margin-top: 2px;
}
.games-slider-app-loader-card__markets[data-v-64066350] {
  -moz-column-gap: 2px;
  column-gap: 2px;
  display: flex;
}
[dir] .games-slider-app-loader-card__markets[data-v-64066350] {
  margin-top: 1rem;
}
.games-slider-app-loader-card__market[data-v-64066350] {
  flex-basis: 5.4375rem;
  height: 2rem;
}
.games-slider-app-loader-card__market[data-v-64066350]:not(:last-child) {
  flex-shrink: 0;
}
