.left-side-template[data-v-18c63d73] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
[dir] .left-side-template__box[data-v-18c63d73] {
  border-radius: var(--left-side-custom-border-radius, var(--border-radius));
}
[dir] .left-side-template__box[data-v-18c63d73] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .left-side-template__box[data-v-18c63d73] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.left-side-template__button[data-v-18c63d73] {
  color: Hsla(var(--hsl-clr), 0.6);
}
.left-side-template__button[data-v-18c63d73]:hover {
  color: Hsl(var(--hsl-clr));
}
.is-keyboard-user .left-side-template__button[data-v-18c63d73]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir] .left-side-bottom-buttons[data-v-bd24e6ec] {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.left-side-bottom-buttons--theme-gray-30[data-v-bd24e6ec] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .left-side-bottom-buttons--theme-gray-30[data-v-bd24e6ec] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.left-side-bottom-buttons--theme-gray--70[data-v-bd24e6ec] {
  --hsl-bg: var(--gray--70-bg);
  --hsl-clr: var(--gray--70-clr);
  --hsl-clr-accent: var(--gray--70-clr-accent);
  --hsl-clr-decent: var(--gray--70-clr-decent);
  --hsl-clr-strong: var(--gray--70-clr-strong);
  --hsl-clr-strong-alt: var(--gray--70-clr-strong-alt);
  --hsl-clr-primary: var(--gray--70-clr-primary);
  --hsl-clr-good: var(--gray--70-clr-good);
  --hsl-clr-bad: var(--gray--70-clr-bad);
  --hsl-sep: var(--gray--70-sep);
  --hsl-sep-alt: var(--gray--70-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .left-side-bottom-buttons--theme-gray--70[data-v-bd24e6ec] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.left-side-bottom-buttons[data-v-bd24e6ec],
.left-side-bottom-buttons__container[data-v-bd24e6ec] {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.left-side-bottom-buttons__container[data-v-bd24e6ec] {
  width: 100%;
}
[dir] .left-side-bottom-buttons__container[data-v-bd24e6ec] {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
[dir] .left-side-nav-loader[data-v-347de582] {
  border-radius: var(--border-radius);
}
[dir] .left-side-nav-loader[data-v-347de582] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .left-side-nav-loader[data-v-347de582] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.left-side-nav-loader__skeleton[data-v-347de582] {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 2rem;
}
[dir] .left-side-nav-loader__skeleton[data-v-347de582] {
  padding: 0.25rem 0.5rem;
}
[dir] .left-side-nav-loader__arrow[data-v-347de582],
[dir] .left-side-nav-loader__ico[data-v-347de582],
[dir] .left-side-nav-loader__name[data-v-347de582] {
  background-color: currentColor;
}
.left-side-nav-loader__arrow[data-v-347de582],
.left-side-nav-loader__name[data-v-347de582] {
  min-height: 0.75rem;
}
[dir] .left-side-nav-loader__arrow[data-v-347de582],
[dir] .left-side-nav-loader__name[data-v-347de582] {
  border-radius: var(--border-radius);
}
.left-side-nav-loader__ico[data-v-347de582] {
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
}
[dir] .left-side-nav-loader__ico[data-v-347de582] {
  border-radius: 50%;
}
.left-side-nav-loader__name[data-v-347de582] {
  flex-basis: 10.625rem;
}
[dir="ltr"] .left-side-nav-loader__name[data-v-347de582] {
  margin-left: 0.5rem;
}
[dir="rtl"] .left-side-nav-loader__name[data-v-347de582] {
  margin-right: 0.5rem;
}
.left-side-nav-loader__arrow[data-v-347de582] {
  flex-basis: 1.25rem;
}
[dir="ltr"] .left-side-nav-loader__arrow[data-v-347de582] {
  margin-left: 0.75rem;
}
[dir="rtl"] .left-side-nav-loader__arrow[data-v-347de582] {
  margin-right: 0.75rem;
}
[dir] .left-side__sport-menu[data-v-a9e6152f] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.betting-left-aside-asian-view[data-v-7701a53e] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
[dir="ltr"] .betting-left-aside-asian-view--is-compact[data-v-7701a53e] {
  background-image: linear-gradient(
    to left,
    Hsla(var(--primary--40-bg), 0.5) 0.25rem,
    Hsl(var(--hsl-bg)) 0.25rem
  );
}
[dir="rtl"] .betting-left-aside-asian-view--is-compact[data-v-7701a53e] {
  background-image: linear-gradient(
    to right,
    Hsla(var(--primary--40-bg), 0.5) 0.25rem,
    Hsl(var(--hsl-bg)) 0.25rem
  );
}
.betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view--is-shown[data-v-7701a53e] {
  width: 15.625rem;
  z-index: 1000;
}
[dir="ltr"]
  .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view--is-shown[data-v-7701a53e] {
  box-shadow: -0.9375rem 0 0 0.625rem Hsl(var(--hsl-bg)),
    -0.625rem 0 0 0.625rem Hsla(var(--primary--40-bg), 0.7),
    0.3125rem 0 1.125rem 0.3125rem #0000003b;
}
[dir="rtl"]
  .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view--is-shown[data-v-7701a53e] {
  box-shadow: 0.9375rem 0 0 0.625rem Hsl(var(--hsl-bg)),
    0.625rem 0 0 0.625rem Hsla(var(--primary--40-bg), 0.7),
    -0.3125rem 0 1.125rem 0.3125rem #0000003b;
}
[dir]
  .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view--is-shown.ui-scrollbar[data-v-7701a53e]::-webkit-scrollbar {
  background-color: Hsla(var(--primary--40-bg), 0.5);
}
@-moz-document url-prefix() {
  [dir="ltr"]
    .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view[data-v-7701a53e] {
    background-image: linear-gradient(
      to left,
      Hsla(var(--primary--40-bg), 0.5) 0.5rem,
      Hsl(var(--hsl-bg)) 0.5rem
    );
  }
  [dir="rtl"]
    .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view[data-v-7701a53e] {
    background-image: linear-gradient(
      to right,
      Hsla(var(--primary--40-bg), 0.5) 0.5rem,
      Hsl(var(--hsl-bg)) 0.5rem
    );
  }
  [dir="ltr"]
    .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view[data-v-7701a53e]:hover {
    box-shadow: -1.125rem 0 0 0.625rem Hsl(var(--hsl-bg)),
      -0.625rem 0 0 0.625rem Hsla(var(--primary--40-bg), 0.4),
      0.3125rem 0 1.125rem 0.3125rem #0000003b;
  }
  [dir="rtl"]
    .betting-left-aside-asian-view--is-compact.betting-left-aside-asian-view[data-v-7701a53e]:hover {
    box-shadow: 1.125rem 0 0 0.625rem Hsl(var(--hsl-bg)),
      0.625rem 0 0 0.625rem Hsla(var(--primary--40-bg), 0.4),
      -0.3125rem 0 1.125rem 0.3125rem #0000003b;
  }
}
