.sports-menu-compact-sport[data-v-57decbb9] {
  align-items: center;
  display: flex;
  justify-content: center;
}
[dir] .sports-menu-compact-sport[data-v-57decbb9] {
  padding: 0.25rem;
}
.sports-menu-compact-sport--theme-gray-100[data-v-57decbb9] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr-strong-alt), 1);
}
[dir] .sports-menu-compact-sport--theme-gray-100[data-v-57decbb9] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-compact-sport--theme-primary--20[data-v-57decbb9] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-compact-sport--theme-primary--20[data-v-57decbb9] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-compact-sport--theme-primary[data-v-57decbb9] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-compact-sport--theme-primary[data-v-57decbb9] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-compact[data-v-4765fcc4] {
  row-gap: var(--sports-menu-compact-row-gap, none);
}
.sports-menu-compact__count[data-v-4765fcc4] {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 2rem;
  min-width: var(--sports-menu-compact-count-min-width, none);
}
[dir] .sports-menu-compact__count[data-v-4765fcc4] {
  border-radius: var(--sports-menu-compact-count-border-radius, none);
}
.sports-menu-compact__sport[data-v-4765fcc4] {
  height: var(--sports-menu-compact-sport-height, none);
  max-width: var(--sports-menu-compact-sport-max-width, 2rem);
  min-height: var(--sports-menu-compact-sport-min-height, 2rem);
  width: var(--sports-menu-compact-sport-width, none);
}
[dir] .sports-menu-compact__sport[data-v-4765fcc4] {
  border-bottom: var(
    --sports-menu-compact-sport-border,
    1px solid Hsl(var(--gray-30-bg))
  );
  border-radius: var(--sports-menu-compact-sport-border-radius, none);
}
.sports-menu-compact__count--theme-gray-30[data-v-4765fcc4] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-compact__count--theme-gray-30[data-v-4765fcc4] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-compact__count--theme-primary--40[data-v-4765fcc4] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-compact__count--theme-primary--40[data-v-4765fcc4] {
  background-color: Hsla(var(--hsl-bg), 1);
}
