.layout[data-v-9813fa56] {
  --left-sidebar-size: var(--layout-sidebar-size, 15.625rem);
  --main-content-size: minmax(0, 1fr);
  --right-sidebar-size: var(--layout-sidebar-size, 15.625rem);
  --layout-padding-size: var(--layout-gutter, 0.5rem);
  -moz-column-gap: var(--layout-gutter, 0.5rem);
  column-gap: var(--layout-gutter, 0.5rem);
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: var(--main-content-size);
  min-height: calc(100vh - var(--header-height) / var(--fz) * 1em);
}
[dir] .layout[data-v-9813fa56] {
  padding-left: var(--layout-padding-size);
  padding-right: var(--layout-padding-size);
}
[dir] .layout--has-top-indent[data-v-9813fa56] {
  padding-top: var(--layout-padding-size);
}
.layout--has-both-sidebars[data-v-9813fa56] {
  grid-template-areas: "leftSidebar main rightSidebar";
  grid-template-columns: var(--left-sidebar-size) var(--main-content-size) var(
      --right-sidebar-size
    );
}
.layout--has-left-sidebar[data-v-9813fa56] {
  grid-template-areas: "leftSidebar main";
  grid-template-columns: var(--left-sidebar-size) var(--main-content-size);
}
.layout--has-right-sidebar[data-v-9813fa56] {
  grid-template-areas: "main rightSidebar";
  grid-template-columns: var(--main-content-size) var(--right-sidebar-size);
}
.layout__main[data-v-9813fa56] {
  display: flex;
  flex-direction: column;
  grid-area: main;
}
.layout__main[data-v-9813fa56] > * {
  flex-grow: 1;
}
.layout--right-sidebar-size-xxxs[data-v-9813fa56] {
  --right-sidebar-size: 1.5rem;
}
.layout--right-sidebar-size-xxs[data-v-9813fa56] {
  --right-sidebar-size: var(--layout-sidebar-size-xxs, 2rem);
}
.layout--left-sidebar-size-xxs[data-v-9813fa56] {
  --left-sidebar-size: var(--layout-sidebar-size-xxs, 2rem);
}
.layout--left-sidebar-size-xs[data-v-9813fa56] {
  --left-sidebar-size: 2.375rem;
}
.layout--right-sidebar-size-xs[data-v-9813fa56] {
  --right-sidebar-size: 2.625rem;
}
.layout--right-sidebar-size-m[data-v-9813fa56] {
  --right-sidebar-size: 15.625rem;
}
.layout--left-sidebar-size-l[data-v-9813fa56] {
  --left-sidebar-size: 18.75rem;
}
.layout--right-sidebar-size-l[data-v-9813fa56] {
  --right-sidebar-size: 18.75rem;
}
.layout--right-sidebar-size-xl[data-v-9813fa56] {
  --right-sidebar-size: 30rem;
}
