.ui-dashboard-game-penalty[data-v-03958c41] {
  display: grid;
  grid-row-gap: 0.25rem;
}
.ui-dashboard-game-penalty__list[data-v-03958c41] {
  align-items: center;
  display: flex;
}
.ui-dashboard-game-penalty__item[data-v-03958c41] {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}
[dir] .ui-dashboard-game-penalty__item[data-v-03958c41] {
  border-radius: 50%;
}
.ui-dashboard-game-penalty[data-v-03958c41] {
  align-items: start;
}
.ui-dashboard-game-penalty__item--missing
  .ui-dashboard-game-penalty__ico[data-v-03958c41] {
  --ico-size: 0.4375rem;
  color: Hsl(var(--hsl-clr-bad));
}
.ui-dashboard-game-penalty__item--win
  .ui-dashboard-game-penalty__ico[data-v-03958c41] {
  --ico-size: 0.5625rem;
  color: Hsl(var(--hsl-clr-good));
}
.ui-dashboard-game-penalty__item[data-v-03958c41] {
  height: 0.9375rem;
  width: 0.9375rem;
}
[dir] .ui-dashboard-game-penalty__item[data-v-03958c41] {
  box-shadow: inset 0 0 0 2px Hsla(var(--primary-0-bg), 0.25);
  margin: 2px;
}
