[dir] .express-day-loader[data-v-bb61ba11] {
  border-radius: var(--border-radius);
}
.express-day-loader__header[data-v-bb61ba11] {
  height: 2.5rem;
  width: 100%;
}
[dir] .express-day-loader__header[data-v-bb61ba11] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .express-day-loader__content[data-v-bb61ba11] {
  padding: 0.75rem;
}
.express-day-loader__button[data-v-bb61ba11],
.express-day-loader__game[data-v-bb61ba11],
.express-day-loader__info[data-v-bb61ba11] {
  width: 100%;
}
[dir] .express-day-loader__button[data-v-bb61ba11],
[dir] .express-day-loader__game[data-v-bb61ba11],
[dir] .express-day-loader__info[data-v-bb61ba11] {
  background-color: currentColor;
  border-radius: var(--border-radius);
}
.express-day-loader__game[data-v-bb61ba11] {
  height: 5rem;
}
[dir] .express-day-loader__game[data-v-bb61ba11] {
  margin-bottom: 0.5rem;
}
.express-day-loader__info[data-v-bb61ba11] {
  height: 2rem;
}
[dir] .express-day-loader__info[data-v-bb61ba11] {
  margin-bottom: 0.5rem;
}
.express-day-loader__button[data-v-bb61ba11] {
  height: 2.5rem;
}
.express-day-item-header[data-v-d9966584] {
  align-items: center;
  display: flex;
}
[dir] .express-day-item-header[data-v-d9966584] {
  padding: 0.25rem 0.5rem;
}
.express-day-item-header__title[data-v-d9966584] {
  flex-grow: 1;
}
[dir="ltr"] .express-day-item-header__title[data-v-d9966584] {
  border-right: 1px solid hsl(var(--hsl-sep));
  padding-right: 0.5rem;
}
[dir="rtl"] .express-day-item-header__title[data-v-d9966584] {
  border-left: 1px solid hsl(var(--hsl-sep));
  padding-left: 0.5rem;
}
[dir="ltr"] .express-day-item-header__title[data-v-d9966584]:not(:first-child) {
  margin-left: 0.5rem;
}
[dir="rtl"] .express-day-item-header__title[data-v-d9966584]:not(:first-child) {
  margin-right: 0.5rem;
}
.express-day-item-header__delete[data-v-d9966584] {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}
[dir] .express-day-item-header__delete[data-v-d9966584] {
  border-radius: var(--border-radius);
}
[dir="ltr"] .express-day-item-header__delete[data-v-d9966584] {
  margin-left: 0.25rem;
}
[dir="rtl"] .express-day-item-header__delete[data-v-d9966584] {
  margin-right: 0.25rem;
}
.express-day-item-header__delete[data-v-d9966584]:hover {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-item-header__delete[data-v-d9966584]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.is-keyboard-user .express-day-item-header__delete[data-v-d9966584]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.express-day-item-header--theme-primary[data-v-d9966584] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-item-header--theme-primary[data-v-d9966584] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.express-day-item-header--theme-gray-30[data-v-d9966584] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-item-header--theme-gray-30[data-v-d9966584] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .express-day-game[data-v-0354dcba] {
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
}
.express-day-game__wrapper[data-v-0354dcba] {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.express-day-game__wrapper + .express-day-game__wrapper[data-v-0354dcba] {
  align-items: flex-end;
}
[dir] .express-day-game__wrapper + .express-day-game__wrapper[data-v-0354dcba] {
  margin-top: 0.5rem;
}
.express-day-game__content[data-v-0354dcba] {
  align-items: center;
  display: flex;
}
.express-day-game__champ[data-v-0354dcba],
.express-day-game__info[data-v-0354dcba],
.express-day-game__subtext[data-v-0354dcba] {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
[xlang="bn"] .express-day-game__subtext[data-v-0354dcba],
[xlang="hi"] .express-day-game__subtext[data-v-0354dcba],
[xlang="hy"] .express-day-game__subtext[data-v-0354dcba],
[xlang="my"] .express-day-game__subtext[data-v-0354dcba],
[xlang="sd"] .express-day-game__subtext[data-v-0354dcba],
[xlang="ta"] .express-day-game__subtext[data-v-0354dcba] {
  width: 100%;
  word-break: normal;
}
.express-day-game__champ[data-v-0354dcba],
.express-day-game__info[data-v-0354dcba] {
  display: -webkit-box;
  max-width: 50%;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
[dir="ltr"] .express-day-game__info[data-v-0354dcba] {
  margin-right: -3px;
  padding-right: 0.4375rem;
  text-align: right;
}
[dir="rtl"] .express-day-game__info[data-v-0354dcba] {
  margin-left: -3px;
  padding-left: 0.4375rem;
  text-align: left;
}
.express-day-game__players[data-v-0354dcba] {
  display: block;
}
[dir="ltr"] .express-day-game__players[data-v-0354dcba] {
  border-left: 1px solid
    hsl(var(--express-day-game-players-separator-color, var(--hsl-sep)));
  padding-left: 0.5rem;
}
[dir="rtl"] .express-day-game__players[data-v-0354dcba] {
  border-right: 1px solid
    hsl(var(--express-day-game-players-separator-color, var(--hsl-sep)));
  padding-right: 0.5rem;
}
.express-day-game__players:hover
  .express-day-game-player__name[data-v-0354dcba] {
  text-decoration: underline;
}
.express-day-game__players:hover
  .express-day-game-player__name[data-v-0354dcba]:before {
  width: 100%;
}
.is-keyboard-user .express-day-game__players[data-v-0354dcba]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir] .express-day-game__date[data-v-0354dcba] {
  margin-bottom: 0.25rem;
}
[dir="ltr"] .express-day-game__date[data-v-0354dcba] {
  padding-right: 0.5rem;
}
[dir="rtl"] .express-day-game__date[data-v-0354dcba] {
  padding-left: 0.5rem;
}
[dir] .express-day-game__player[data-v-0354dcba]:last-child {
  margin-top: 0.25rem;
}
.express-day-game__market[data-v-0354dcba] {
  min-width: var(--express-day-game-market-min-width, 4.625rem);
}
[dir] .express-day-game__market[data-v-0354dcba] {
  margin-bottom: auto;
}
.express-day-game-player[data-v-0354dcba] {
  display: flex;
}
[dir="ltr"] .express-day-game-player__ico[data-v-0354dcba] {
  margin-right: 0.5rem;
}
[dir="rtl"] .express-day-game-player__ico[data-v-0354dcba] {
  margin-left: 0.5rem;
}
.express-day-game-player__name[data-v-0354dcba] {
  color: Hsl(var(--hsl-clr-strong-alt));
  font-size: 0.875rem;
  line-height: 1rem;
  position: relative;
}
.express-day-game-champ__ico[data-v-0354dcba] {
  display: inline-block;
  flex-shrink: 0;
}
[dir="ltr"] .express-day-game-champ__ico[data-v-0354dcba] {
  margin-right: 0.5rem;
}
[dir="rtl"] .express-day-game-champ__ico[data-v-0354dcba] {
  margin-left: 0.5rem;
}
[xlang="bn"] .express-day-game-champ__name[data-v-0354dcba],
[xlang="hi"] .express-day-game-champ__name[data-v-0354dcba],
[xlang="hy"] .express-day-game-champ__name[data-v-0354dcba],
[xlang="my"] .express-day-game-champ__name[data-v-0354dcba],
[xlang="sd"] .express-day-game-champ__name[data-v-0354dcba],
[xlang="ta"] .express-day-game-champ__name[data-v-0354dcba] {
  word-break: normal;
}
[xlang="my"] .express-day-game-champ__sport[data-v-0354dcba] {
  padding-top: 0.5ex;
}
.express-day-game--theme-primary[data-v-0354dcba] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr-strong), 1);
}
[dir] .express-day-game--theme-primary[data-v-0354dcba] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.express-day-game--theme-gray-100[data-v-0354dcba] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-game--theme-gray-100[data-v-0354dcba] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.express-day-info__item[data-v-e29c6eef] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 2rem;
}
[dir] .express-day-info__item[data-v-e29c6eef] {
  border-radius: var(--border-radius);
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
}
[dir="ltr"] .express-day-info__text[data-v-e29c6eef] {
  margin-right: 0.5rem;
}
[dir="rtl"] .express-day-info__text[data-v-e29c6eef] {
  margin-left: 0.5rem;
}
.express-day-info--theme-primary[data-v-e29c6eef] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-info--theme-primary[data-v-e29c6eef] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.express-day-info--theme-gray-100[data-v-e29c6eef] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-info--theme-gray-100[data-v-e29c6eef] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .express-day-item[data-v-dac1983a] {
  border-radius: var(--express-day-item-border-radius, var(--border-radius));
}
[dir] .express-day-item__header[data-v-dac1983a] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .express-day-item__content[data-v-dac1983a] {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: var(--express-day-item-content-padding, 0.75rem);
}
.express-day-item__button[data-v-dac1983a] {
  width: 100%;
}
[dir] .express-day-item__button[data-v-dac1983a] {
  margin-top: 0.5rem;
}
.express-day-item__list[data-v-dac1983a] {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(29.375rem, 1fr));
}
@media (max-width: 1152px) {
  .express-day-item__list[data-v-dac1983a] {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}
.express-day-item--theme-primary--20
  .express-day-item__content[data-v-dac1983a] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .express-day-item--theme-primary--20
  .express-day-item__content[data-v-dac1983a] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.express-day-item--theme-gray-30 .express-day-item__content[data-v-dac1983a] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .express-day-item--theme-gray-30
  .express-day-item__content[data-v-dac1983a] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .express-day-placeholder[data-v-9cb661e1] {
  border-radius: var(--express-day-item-border-radius, var(--border-radius));
}
[dir] .express-day-placeholder__header[data-v-9cb661e1] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.express-day-placeholder__wrapper[data-v-9cb661e1] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .express-day-placeholder__wrapper[data-v-9cb661e1] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 0.75rem;
}
.betting-express-day[data-v-f3ae7e5d] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
  grid-gap: 0.5rem;
  scroll-margin-top: calc(var(--betting-express-day-scroll-offset) + 0.625rem);
}
.betting-express-day__app[data-v-f3ae7e5d] {
  min-width: 0;
}
