.ui-sports-event-game-champ[data-v-711a5a4b] {
  align-items: center;
  display: flex;
}
.ui-sports-event-game-champ__ico[data-v-711a5a4b] {
  color: var(--ui-sports-event-game-champ-icon-color, Hsla(var(--hsl-clr)));
  display: flex;
  justify-content: center;
  min-width: 0.875rem;
}
[dir="ltr"] .ui-sports-event-game-champ__ico[data-v-711a5a4b] {
  margin-right: 0.5rem;
}
[dir="rtl"] .ui-sports-event-game-champ__ico[data-v-711a5a4b] {
  margin-left: 0.5rem;
}
[dir="ltr"] .ui-sports-event-game-champ__marker[data-v-711a5a4b] {
  margin-right: 0.25rem;
}
[dir="rtl"] .ui-sports-event-game-champ__marker[data-v-711a5a4b] {
  margin-left: 0.25rem;
}
.ui-sports-event-game-champ__title[data-v-711a5a4b] {
  color: var(--ui-sports-event-game-champ-title-color, Hsl(var(--hsl-clr)));
}
.ui-sports-event-show-video[data-v-1cd9dae5] {
  display: block;
}
[dir] .ui-sports-event-show-video[data-v-1cd9dae5] {
  padding: 0.25rem;
}
.ui-sports-event-show-video[data-v-1cd9dae5]:hover {
  opacity: 0.75;
}
.is-keyboard-user .ui-sports-event-show-video[data-v-1cd9dae5]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sports-event-show-video--is-toggled[data-v-1cd9dae5] {
  color: Hsl(var(--hsl-clr-accent));
}
.ui-sports-event-show-video--is-disabled[data-v-1cd9dae5] {
  opacity: 0.5;
}
[dir] .ui-sports-event-show-video--is-disabled[data-v-1cd9dae5] {
  cursor: default;
}
.ui-sports-event-show-video--is-disabled[data-v-1cd9dae5]:focus,
.ui-sports-event-show-video--is-disabled[data-v-1cd9dae5]:hover {
  opacity: 0.5;
}
.ui-sports-event-game-controls[data-v-a3a9341d] {
  display: flex;
}
.ui-sports-event-game-controls__favorite[data-v-a3a9341d],
.ui-sports-event-game-controls__video[data-v-a3a9341d] {
  position: relative;
}
.ui-sports-event-game-controls__favorite[data-v-a3a9341d] {
  color: Hsl(var(--custom-favorite-star, var(--gray-100-clr-accent)));
}
.ui-sports-event-game-teams__info[data-v-c06a8276] {
  opacity: 0.6;
}
.ui-sports-event-game-teams-details[data-v-c06a8276] {
  color: Hsl(var(--hsl-clr));
  position: relative;
}
.ui-sports-event-game-teams-details__header[data-v-c06a8276] {
  align-items: center;
  display: flex;
}
.is-keyboard-user
  .ui-sports-event-game-teams-details__header[data-v-c06a8276]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sports-event-game-teams-details__header[data-v-c06a8276]:hover {
  opacity: 0.75;
}
[dir="ltr"]
  .ui-sports-event-game-teams-details__header--is-toggled
  .ui-sports-event-game-teams-details__ico[data-v-c06a8276] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .ui-sports-event-game-teams-details__header--is-toggled
  .ui-sports-event-game-teams-details__ico[data-v-c06a8276] {
  transform: rotate(-180deg);
}
.ui-sports-event-game-teams-details__ico[data-v-c06a8276] {
  height: 1rem;
}
[dir="ltr"] .ui-sports-event-game-teams-details__ico[data-v-c06a8276] {
  margin-left: 0.25rem;
}
[dir="rtl"] .ui-sports-event-game-teams-details__ico[data-v-c06a8276] {
  margin-right: 0.25rem;
}
.ui-sports-event-game-teams-details__body[data-v-c06a8276] {
  color: Hsl(var(--hsl-clr-strong-alt));
  overflow: hidden;
}
[dir] .ui-sports-event-game-teams-details__body[data-v-c06a8276] {
  margin-top: 0.25rem;
}
.ui-sports-event-game-teams-details-enter-active[data-v-c06a8276],
.ui-sports-event-game-teams-details-leave-active[data-v-c06a8276] {
  will-change: height;
}
[dir] .ui-sports-event-game-teams-details-enter-active[data-v-c06a8276],
[dir] .ui-sports-event-game-teams-details-leave-active[data-v-c06a8276] {
  transition: height 0.2s ease-in-out;
}
.ui-sports-event-game-teams-details-enter[data-v-c06a8276],
.ui-sports-event-game-teams-details-leave-to[data-v-c06a8276] {
  height: 0 !important;
}
.ui-sports-event-game[data-v-f4598b5c] {
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  row-gap: 0.25rem;
}
[dir] .ui-sports-event-game[data-v-f4598b5c] {
  padding: 0.5rem;
}
.is-keyboard-user .ui-sports-event-game[data-v-f4598b5c]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sports-event-game__header[data-v-f4598b5c] {
  align-items: center;
  display: flex;
  min-width: 0;
}
.ui-sports-event-game__champ[data-v-f4598b5c] {
  flex-grow: 1;
  min-width: 0;
}
.ui-sports-event-game__controls[data-v-f4598b5c] {
  flex-shrink: 0;
}
[dir="ltr"] .ui-sports-event-game__controls[data-v-f4598b5c] {
  margin: -0.25rem -0.25rem -0.25rem 0.25rem;
}
[dir="rtl"] .ui-sports-event-game__controls[data-v-f4598b5c] {
  margin: -0.25rem 0.25rem -0.25rem -0.25rem;
}
.ui-sports-event-game__info[data-v-f4598b5c] {
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  position: relative;
}
[dir="ltr"] .ui-sports-event-game__info[data-v-f4598b5c] {
  margin-right: 1rem;
}
[dir="rtl"] .ui-sports-event-game__info[data-v-f4598b5c] {
  margin-left: 1rem;
}
.ui-sports-event-game__teams[data-v-f4598b5c] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.ui-sports-event-game__label[data-v-f4598b5c] {
  color: Hsl(var(--hsl-clr-accent));
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
.ui-sports-event-game__var[data-v-f4598b5c] {
  flex-shrink: 0;
}
.ui-sports-event-markets[data-v-c98d1bf9] {
  display: flex;
}
[dir] .ui-sports-event-markets[data-v-c98d1bf9] {
  padding: 2px;
}
.ui-sports-event-markets__item[data-v-c98d1bf9] {
  flex: 1 1 50%;
  min-width: 0;
}
[dir="ltr"] .ui-sports-event-markets__item[data-v-c98d1bf9]:nth-child(n + 2) {
  margin-left: 2px;
}
[dir="rtl"] .ui-sports-event-markets__item[data-v-c98d1bf9]:nth-child(n + 2) {
  margin-right: 2px;
}
.ui-sports-event-toggle-sub-games[data-v-a42780b3] {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.is-keyboard-user .ui-sports-event-toggle-sub-games[data-v-a42780b3]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sports-event-toggle-sub-games__arrow[data-v-a42780b3] {
  height: 1rem;
  width: 1rem;
}
[dir] .ui-sports-event-toggle-sub-games__arrow[data-v-a42780b3] {
  transition: transform 0.2s;
}
[dir="ltr"]
  .ui-sports-event-toggle-sub-games--is-toggled
  .ui-sports-event-toggle-sub-games__arrow[data-v-a42780b3] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .ui-sports-event-toggle-sub-games--is-toggled
  .ui-sports-event-toggle-sub-games__arrow[data-v-a42780b3] {
  transform: rotate(-180deg);
}
.ui-sports-event[data-v-8727f49c] {
  display: grid;
}
.ui-sports-event__link[data-v-8727f49c] {
  grid-area: 1/-1;
}
.ui-sports-event__toggle-sub-games[data-v-8727f49c] {
  align-self: end;
  grid-area: 1/-1;
  height: 2rem;
  justify-self: end;
  width: 2.0625rem;
}
.ui-sports-event--theme-gray-60[data-v-8727f49c] {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-sports-event--theme-gray-60[data-v-8727f49c] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-gray-60.ui-sports-event--is-active[data-v-8727f49c],
.ui-sports-event--theme-gray-60[data-v-8727f49c]:hover {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
}
.ui-sports-event--theme-gray-60
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-event--theme-gray-60
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-gray-100[data-v-8727f49c] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-sports-event--theme-gray-100[data-v-8727f49c] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-gray-100[data-v-8727f49c]:hover {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
}
.ui-sports-event--theme-gray-100.ui-sports-event--is-active[data-v-8727f49c] {
  --hsl-bg: var(--primary-90-bg);
  --hsl-clr: var(--primary-90-clr);
  --hsl-clr-accent: var(--primary-90-clr-accent);
  --hsl-clr-decent: var(--primary-90-clr-decent);
  --hsl-clr-strong: var(--primary-90-clr-strong);
  --hsl-clr-strong-alt: var(--primary-90-clr-strong-alt);
  --hsl-clr-primary: var(--primary-90-clr-primary);
  --hsl-clr-good: var(--primary-90-clr-good);
  --hsl-clr-bad: var(--primary-90-clr-bad);
  --hsl-sep: var(--primary-90-sep);
  --hsl-sep-alt: var(--primary-90-sep-alt);
}
.ui-sports-event--theme-gray-100
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  opacity: 0.75;
}
.ui-sports-event--theme-primary[data-v-8727f49c] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-sports-event--theme-primary[data-v-8727f49c] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-primary.ui-sports-event--is-active[data-v-8727f49c],
.ui-sports-event--theme-primary[data-v-8727f49c]:hover {
  --hsl-bg: var(--primary-10-bg);
  --hsl-clr: var(--primary-10-clr);
  --hsl-clr-accent: var(--primary-10-clr-accent);
  --hsl-clr-decent: var(--primary-10-clr-decent);
  --hsl-clr-strong: var(--primary-10-clr-strong);
  --hsl-clr-strong-alt: var(--primary-10-clr-strong-alt);
  --hsl-clr-primary: var(--primary-10-clr-primary);
  --hsl-clr-good: var(--primary-10-clr-good);
  --hsl-clr-bad: var(--primary-10-clr-bad);
  --hsl-sep: var(--primary-10-sep);
  --hsl-sep-alt: var(--primary-10-sep-alt);
}
.ui-sports-event--theme-primary
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  --hsl-bg: var(--primary-30-bg);
  --hsl-clr: var(--primary-30-clr);
  --hsl-clr-accent: var(--primary-30-clr-accent);
  --hsl-clr-decent: var(--primary-30-clr-decent);
  --hsl-clr-strong: var(--primary-30-clr-strong);
  --hsl-clr-strong-alt: var(--primary-30-clr-strong-alt);
  --hsl-clr-primary: var(--primary-30-clr-primary);
  --hsl-clr-good: var(--primary-30-clr-good);
  --hsl-clr-bad: var(--primary-30-clr-bad);
  --hsl-sep: var(--primary-30-sep);
  --hsl-sep-alt: var(--primary-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-event--theme-primary
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-primary--20[data-v-8727f49c] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-sports-event--theme-primary--20[data-v-8727f49c] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-event--theme-primary--20.ui-sports-event--is-active[data-v-8727f49c],
.ui-sports-event--theme-primary--20[data-v-8727f49c]:hover {
  --hsl-bg: var(--primary--10-bg);
  --hsl-clr: var(--primary--10-clr);
  --hsl-clr-accent: var(--primary--10-clr-accent);
  --hsl-clr-decent: var(--primary--10-clr-decent);
  --hsl-clr-strong: var(--primary--10-clr-strong);
  --hsl-clr-strong-alt: var(--primary--10-clr-strong-alt);
  --hsl-clr-primary: var(--primary--10-clr-primary);
  --hsl-clr-good: var(--primary--10-clr-good);
  --hsl-clr-bad: var(--primary--10-clr-bad);
  --hsl-sep: var(--primary--10-sep);
  --hsl-sep-alt: var(--primary--10-sep-alt);
}
.ui-sports-event--theme-primary--20
  .ui-sports-event__toggle-sub-games[data-v-8727f49c]:hover {
  opacity: 0.75;
}
