.central-menu-live-toggle[data-v-7ee68ef5] {
  align-items: center;
}
[dir] .central-menu-live-toggle[data-v-7ee68ef5] {
  padding: 0.5rem;
}
.central-menu-header[data-v-59ed012d] {
  display: flex;
  gap: 1px;
}
[dir="ltr"] .central-menu-header__breadcrumbs[data-v-59ed012d] {
  padding-left: 0.5rem;
  padding-right: 0.75rem;
}
[dir="rtl"] .central-menu-header__breadcrumbs[data-v-59ed012d] {
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}
.central-menu-header__block[data-v-59ed012d] {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 0.25rem;
  justify-content: flex-end;
  min-height: 2rem;
  min-width: 0;
}
[dir] .central-menu-header__block[data-v-59ed012d] {
  padding-bottom: var(--central-menu-tab-filter-padding-vertical, initial);
  padding-top: var(--central-menu-tab-filter-padding-vertical, initial);
}
[dir="ltr"] .central-menu-header__block[data-v-59ed012d] {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}
[dir="rtl"] .central-menu-header__block[data-v-59ed012d] {
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
[dir]
  .central-menu-header--is-rounded
  .central-menu-header__block[data-v-59ed012d],
[dir]
  .central-menu-header--is-rounded
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  border-radius: var(--border-radius);
}
[dir="ltr"]
  .central-menu-header:not(.central-menu-header--is-rounded)
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
[dir="rtl"]
  .central-menu-header:not(.central-menu-header--is-rounded)
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
[dir]
  .central-menu-header:not(.central-menu-header--is-rounded)
  .central-menu-header__block[data-v-59ed012d]:only-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir="ltr"]
  .central-menu-header:not(.central-menu-header--is-rounded)
  .central-menu-header__block[data-v-59ed012d]:not(:only-child) {
  border-top-right-radius: inherit;
}
[dir="rtl"]
  .central-menu-header:not(.central-menu-header--is-rounded)
  .central-menu-header__block[data-v-59ed012d]:not(:only-child) {
  border-top-left-radius: inherit;
}
.central-menu-header__filter[data-v-59ed012d] {
  flex-grow: 1;
  min-width: 0;
}
.central-menu-header--theme-primary
  .central-menu-header__block[data-v-59ed012d],
.central-menu-header--theme-primary
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .central-menu-header--theme-primary
  .central-menu-header__block[data-v-59ed012d],
[dir]
  .central-menu-header--theme-primary
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.central-menu-header--theme-primary--20
  .central-menu-header__block[data-v-59ed012d],
.central-menu-header--theme-primary--20
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .central-menu-header--theme-primary--20
  .central-menu-header__block[data-v-59ed012d],
[dir]
  .central-menu-header--theme-primary--20
  .central-menu-header__breadcrumbs[data-v-59ed012d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.central-menu-toolbar[data-v-7c26d85e] {
  display: flex;
  gap: 1px;
}
.central-menu-toolbar__sports[data-v-7c26d85e],
.central-menu-toolbar__toggle[data-v-7c26d85e] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .central-menu-toolbar__sports[data-v-7c26d85e],
[dir] .central-menu-toolbar__toggle[data-v-7c26d85e] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: inherit;
}
.central-menu-toolbar__sports[data-v-7c26d85e] {
  display: flex;
  flex-grow: 1;
  gap: 0.25rem;
  justify-content: space-between;
  min-height: 2.5rem;
  min-width: 0;
}
[dir="ltr"] .central-menu-toolbar__sports[data-v-7c26d85e] {
  padding-right: 0.25rem;
}
[dir="rtl"] .central-menu-toolbar__sports[data-v-7c26d85e] {
  padding-left: 0.25rem;
}
.central-menu-toolbar__filter[data-v-7c26d85e] {
  align-self: center;
  min-width: 10.625rem;
}
[dir]
  .central-menu__bar[data-v-23b5e5e8]:first-child:not(.central-menu__bar--rounded) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
[dir] .central-menu__bar[data-v-23b5e5e8]:nth-child(n + 2) {
  margin-top: var(--central-menu-bar-margin-top, 1px);
}
[dir] .central-menu__bar--rounded[data-v-23b5e5e8] {
  border-radius: var(--border-radius);
}
