.left-side-template[data-v-97e57064] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
[dir] .left-side-template__box[data-v-97e57064] {
  border-radius: var(--left-side-custom-border-radius, var(--border-radius));
}
[dir] .left-side-template__box[data-v-97e57064] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .left-side-template__box[data-v-97e57064] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.left-side-template__button[data-v-97e57064] {
  color: var(--left-side-template-button-color, Hsla(var(--hsl-clr), 0.6));
}
.left-side-template__button[data-v-97e57064]:hover {
  color: Hsl(var(--hsl-clr));
}
.is-keyboard-user .left-side-template__button[data-v-97e57064]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
