.sports-menu-tabs__item[data-v-b0dfe3c0] {
  align-items: center;
  display: flex;
  max-width: 100%;
}
.sports-menu-tabs__ico[data-v-b0dfe3c0] {
  flex-shrink: 0;
}
[dir="ltr"] .sports-menu-tabs__ico[data-v-b0dfe3c0] {
  margin-right: 0.25rem;
}
[dir="rtl"] .sports-menu-tabs__ico[data-v-b0dfe3c0] {
  margin-left: 0.25rem;
}
.sports-menu-tabs__item--is-active .sports-menu-tabs__ico[data-v-b0dfe3c0] {
  color: Hsl(var(--custom-live-dot-bg, var(--good-15-bg)));
}
.sports-menu-tabs__ico--position-top-right[data-v-b0dfe3c0] {
  position: absolute;
  top: 0.3125rem;
}
[dir="ltr"] .sports-menu-tabs__ico--position-top-right[data-v-b0dfe3c0] {
  right: 2px;
}
[dir="rtl"] .sports-menu-tabs__ico--position-top-right[data-v-b0dfe3c0] {
  left: 2px;
}
.ui-sports-menu-toggle[data-v-ab16d7ee] {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 1.5rem;
  min-width: 1.5rem;
}
[dir] .ui-sports-menu-toggle[data-v-ab16d7ee] {
  border-radius: var(--ui-sports-menu-toggle-border-radius, none);
  padding: 0.25rem;
}
.is-keyboard-user .ui-sports-menu-toggle[data-v-ab16d7ee]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle[data-v-ab16d7ee]:hover {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle[data-v-ab16d7ee]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle[data-v-ab16d7ee]:active {
  --hsl-bg: var(--gray--5-bg);
  --hsl-clr: var(--gray--5-clr);
  --hsl-clr-accent: var(--gray--5-clr-accent);
  --hsl-clr-decent: var(--gray--5-clr-decent);
  --hsl-clr-strong: var(--gray--5-clr-strong);
  --hsl-clr-strong-alt: var(--gray--5-clr-strong-alt);
  --hsl-clr-primary: var(--gray--5-clr-primary);
  --hsl-clr-good: var(--gray--5-clr-good);
  --hsl-clr-bad: var(--gray--5-clr-bad);
  --hsl-sep: var(--gray--5-sep);
  --hsl-sep-alt: var(--gray--5-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle[data-v-ab16d7ee]:active {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle--is-toggled[data-v-ab16d7ee] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-gray.ui-sports-menu-toggle--is-toggled[data-v-ab16d7ee] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle[data-v-ab16d7ee]:hover {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle[data-v-ab16d7ee]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle[data-v-ab16d7ee]:active {
  --hsl-bg: var(--primary-5-bg);
  --hsl-clr: var(--primary-5-clr);
  --hsl-clr-accent: var(--primary-5-clr-accent);
  --hsl-clr-decent: var(--primary-5-clr-decent);
  --hsl-clr-strong: var(--primary-5-clr-strong);
  --hsl-clr-strong-alt: var(--primary-5-clr-strong-alt);
  --hsl-clr-primary: var(--primary-5-clr-primary);
  --hsl-clr-good: var(--primary-5-clr-good);
  --hsl-clr-bad: var(--primary-5-clr-bad);
  --hsl-sep: var(--primary-5-sep);
  --hsl-sep-alt: var(--primary-5-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle[data-v-ab16d7ee]:active {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle--is-toggled[data-v-ab16d7ee] {
  --hsl-bg: var(--primary-5-bg);
  --hsl-clr: var(--primary-5-clr);
  --hsl-clr-accent: var(--primary-5-clr-accent);
  --hsl-clr-decent: var(--primary-5-clr-decent);
  --hsl-clr-strong: var(--primary-5-clr-strong);
  --hsl-clr-strong-alt: var(--primary-5-clr-strong-alt);
  --hsl-clr-primary: var(--primary-5-clr-primary);
  --hsl-clr-good: var(--primary-5-clr-good);
  --hsl-clr-bad: var(--primary-5-clr-bad);
  --hsl-sep: var(--primary-5-sep);
  --hsl-sep-alt: var(--primary-5-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .ui-sports-menu-toggle--theme-primary.ui-sports-menu-toggle--is-toggled[data-v-ab16d7ee] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .sports-menu-filter-time-options[data-v-a147ee38] {
  border-radius: var(--border-radius);
}
.sports-menu-filter-time-trigger[data-v-0462f6a6] {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
[dir] .sports-menu-filter-time-trigger[data-v-0462f6a6] {
  border-radius: var(--border-radius);
}
.sports-menu-filter-time-trigger__angle[data-v-0462f6a6],
.sports-menu-filter-time-trigger__ico[data-v-0462f6a6] {
  flex-shrink: 0;
}
[dir="ltr"]
  .sports-menu-filter-time-trigger--is-open
  .sports-menu-filter-time-trigger__angle[data-v-0462f6a6] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .sports-menu-filter-time-trigger--is-open
  .sports-menu-filter-time-trigger__angle[data-v-0462f6a6] {
  transform: rotate(-180deg);
}
[dir] .sports-menu-filter-time-trigger--theme-gray-100[data-v-0462f6a6] {
  border: 1px solid hsl(var(--hsl-sep-alt));
}
.sports-menu-filter-time-trigger--theme-gray-100
  .sports-menu-filter-time-trigger__ico[data-v-0462f6a6] {
  color: Hsl(var(--hsl-clr-strong));
}
.sports-menu-filter-time-trigger--theme-primary-100[data-v-0462f6a6] {
  --hsl-bg: var(--primary-100-bg);
  --hsl-clr: var(--primary-100-clr);
  --hsl-clr-accent: var(--primary-100-clr-accent);
  --hsl-clr-decent: var(--primary-100-clr-decent);
  --hsl-clr-strong: var(--primary-100-clr-strong);
  --hsl-clr-strong-alt: var(--primary-100-clr-strong-alt);
  --hsl-clr-primary: var(--primary-100-clr-primary);
  --hsl-clr-good: var(--primary-100-clr-good);
  --hsl-clr-bad: var(--primary-100-clr-bad);
  --hsl-sep: var(--primary-100-sep);
  --hsl-sep-alt: var(--primary-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-filter-time-trigger--theme-primary-100[data-v-0462f6a6] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .sports-menu-filter-time[data-v-57fc1939] {
  padding: 0.25rem;
}
.sports-menu-filter-time__trigger[data-v-57fc1939] {
  min-height: 2.1875rem;
}
.sports-menu-filter-time__interval[data-v-57fc1939] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 2.0625rem;
}
[dir] .sports-menu-filter-time__interval[data-v-57fc1939] {
  border-top: 1px solid hsl(var(--hsl-sep));
}
.sports-menu-filter-time__interval[data-v-57fc1939],
.sports-menu-filter-time__trigger[data-v-57fc1939] {
  gap: 0.25rem;
  width: 100%;
}
[dir] .sports-menu-filter-time__interval[data-v-57fc1939],
[dir] .sports-menu-filter-time__trigger[data-v-57fc1939] {
  padding: 0.25rem 0.5rem;
}
.is-keyboard-user .sports-menu-filter-time__interval[data-v-57fc1939]:focus,
.is-keyboard-user .sports-menu-filter-time__trigger[data-v-57fc1939]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"]
  .sports-menu-filter-time__angle[data-v-57fc1939]:not(.sports-menu-filter-time__interval--is-open
    .sports-menu-filter-time__angle) {
  transform: rotate(-90deg);
}
[dir="ltr"]
  .sports-menu-filter-time__interval--is-open
  .sports-menu-filter-time__angle[data-v-57fc1939],
[dir="rtl"]
  .sports-menu-filter-time__angle[data-v-57fc1939]:not(.sports-menu-filter-time__interval--is-open
    .sports-menu-filter-time__angle) {
  transform: rotate(90deg);
}
[dir="rtl"]
  .sports-menu-filter-time__interval--is-open
  .sports-menu-filter-time__angle[data-v-57fc1939] {
  transform: rotate(-90deg);
}
.sports-menu-filter-time__content[data-v-57fc1939] {
  width: 15rem;
}
[dir] .sports-menu-filter-time__label[data-v-57fc1939] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}
.sports-menu-filter-time__period[data-v-57fc1939] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
[dir] .sports-menu-filter-time__period[data-v-57fc1939] {
  padding: 0.5rem;
}
[dir] .sports-menu-filter-time__option[data-v-57fc1939] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir]
  .sports-menu-filter-time__dropdown:last-child
  .sports-menu-filter-time__interval[data-v-57fc1939] {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.sports-menu-filter-time--theme-gray-100[data-v-57fc1939] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-filter-time--theme-gray-100[data-v-57fc1939] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-gray-100
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
.sports-menu-filter-time--theme-gray-100
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-filter-time--theme-gray-100
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
[dir]
  .sports-menu-filter-time--theme-gray-100
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-primary-100[data-v-57fc1939] {
  --hsl-bg: var(--primary-100-bg);
  --hsl-clr: var(--primary-100-clr);
  --hsl-clr-accent: var(--primary-100-clr-accent);
  --hsl-clr-decent: var(--primary-100-clr-decent);
  --hsl-clr-strong: var(--primary-100-clr-strong);
  --hsl-clr-strong-alt: var(--primary-100-clr-strong-alt);
  --hsl-clr-primary: var(--primary-100-clr-primary);
  --hsl-clr-good: var(--primary-100-clr-good);
  --hsl-clr-bad: var(--primary-100-clr-bad);
  --hsl-sep: var(--primary-100-sep);
  --hsl-sep-alt: var(--primary-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-filter-time--theme-primary-100[data-v-57fc1939] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-primary-100
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
.sports-menu-filter-time--theme-primary-100
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  --hsl-bg: var(--primary-80-bg);
  --hsl-clr: var(--primary-80-clr);
  --hsl-clr-accent: var(--primary-80-clr-accent);
  --hsl-clr-decent: var(--primary-80-clr-decent);
  --hsl-clr-strong: var(--primary-80-clr-strong);
  --hsl-clr-strong-alt: var(--primary-80-clr-strong-alt);
  --hsl-clr-primary: var(--primary-80-clr-primary);
  --hsl-clr-good: var(--primary-80-clr-good);
  --hsl-clr-bad: var(--primary-80-clr-bad);
  --hsl-sep: var(--primary-80-sep);
  --hsl-sep-alt: var(--primary-80-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-filter-time--theme-primary-100
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
[dir]
  .sports-menu-filter-time--theme-primary-100
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-primary--20[data-v-57fc1939] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-filter-time--theme-primary--20[data-v-57fc1939] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
.sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__interval--is-open[data-v-57fc1939],
[dir]
  .sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__interval[data-v-57fc1939]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__trigger[data-v-57fc1939]:hover {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-filter-time--theme-primary--20
  .sports-menu-filter-time__trigger[data-v-57fc1939]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-live-header__tabs[data-v-fb17def1] {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.sports-menu-live-header__tab[data-v-fb17def1] {
  align-items: center;
  display: flex;
  min-height: 1.375rem;
}
[dir] .sports-menu-live-header__tab[data-v-fb17def1] {
  padding-bottom: 3px;
  padding-top: 3px;
  transition: opacity 0.3s ease;
}
.sports-menu-live-header__tab[data-v-fb17def1]:not(.sports-menu-live-header__tab--is-active) {
  opacity: 0.7;
}
.sports-menu-live-header__tab[data-v-fb17def1]:hover {
  opacity: 1;
}
.is-keyboard-user .sports-menu-live-header__tab[data-v-fb17def1]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"] .sports-menu-live-header__caption[data-v-fb17def1],
[dir="ltr"] .sports-menu-live-header__ico[data-v-fb17def1] {
  margin-right: 3px;
}
[dir="rtl"] .sports-menu-live-header__caption[data-v-fb17def1],
[dir="rtl"] .sports-menu-live-header__ico[data-v-fb17def1] {
  margin-left: 3px;
}
[dir] .sports-menu-main-full[data-v-705ce8dc] {
  border-radius: var(--sports-menu-main-full-border-radius, none);
}
[dir] .sports-menu-main-full__time-filter[data-v-705ce8dc] {
  margin-bottom: var(--sports-menu-main-full-time-filter-margin-bottom, none);
}
.sports-menu-main-full__filter[data-v-705ce8dc] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-main-full__filter[data-v-705ce8dc] {
  background-color: Hsla(var(--hsl-bg), 1);
  margin-bottom: 1px;
  padding: 0.25rem;
}
[dir] .sports-menu-main-full__section[data-v-705ce8dc] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .sports-menu-main-full__section[data-v-705ce8dc] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
[dir] .sports-menu-main-full__section[data-v-705ce8dc]:nth-child(n + 2) {
  margin-top: 1px;
}
.sports-menu-main-full--theme-primary[data-v-705ce8dc] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .sports-menu-main-full--theme-primary[data-v-705ce8dc] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-main-full--theme-gray-30
  .sports-menu-main-full__inner[data-v-705ce8dc] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-main-full--theme-gray-30
  .sports-menu-main-full__inner[data-v-705ce8dc] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.sports-menu-main-full--theme-gray--80
  .sports-menu-main-full__inner[data-v-705ce8dc] {
  --hsl-bg: var(--gray--80-bg);
  --hsl-clr: var(--gray--80-clr);
  --hsl-clr-accent: var(--gray--80-clr-accent);
  --hsl-clr-decent: var(--gray--80-clr-decent);
  --hsl-clr-strong: var(--gray--80-clr-strong);
  --hsl-clr-strong-alt: var(--gray--80-clr-strong-alt);
  --hsl-clr-primary: var(--gray--80-clr-primary);
  --hsl-clr-good: var(--gray--80-clr-good);
  --hsl-clr-bad: var(--gray--80-clr-bad);
  --hsl-sep: var(--gray--80-sep);
  --hsl-sep-alt: var(--gray--80-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir]
  .sports-menu-main-full--theme-gray--80
  .sports-menu-main-full__inner[data-v-705ce8dc] {
  background-color: Hsla(var(--hsl-bg), 1);
}
