.dashboard-cell[data-v-db84750f] {
  align-items: center;
  color: Hsl(var(--hsl-clr-strong-alt));
  display: flex;
}
[dir] .dashboard-cell[data-v-db84750f] {
  background-color: Hsl(var(--hsl-bg));
}
[dir="ltr"] .dashboard-cell + .dashboard-cell[data-v-db84750f] {
  border-left: 1px solid hsl(var(--hsl-sep));
}
[dir="rtl"] .dashboard-cell + .dashboard-cell[data-v-db84750f] {
  border-right: 1px solid hsl(var(--hsl-sep));
}
.dashboard-game-info[data-v-2c0e032b] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[dir] .dashboard-game-info[data-v-2c0e032b] {
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
[dir] .dashboard-game-info[data-v-2c0e032b]:not(.dashboard-game-info--has-var) {
  padding-top: 0.25rem;
}
[dir] .dashboard-game-info--has-var[data-v-2c0e032b] > :last-child {
  margin-bottom: auto;
}
[dir] .dashboard-game-info__score[data-v-2c0e032b],
[dir] .dashboard-game-info__time[data-v-2c0e032b] {
  margin-bottom: 0.25rem;
}
.dashboard-game-info__favorite[data-v-2c0e032b] {
  color: Hsl(var(--hsl-clr-accent));
  flex-shrink: 0;
}
[dir] .dashboard-game-info__var[data-v-2c0e032b] {
  margin-bottom: auto;
}
.dashboard-game-group--with-1-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(1, 1fr);
}
.dashboard-game-group--with-2-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(2, 1fr);
}
.dashboard-game-group--with-3-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(3, 1fr);
}
.dashboard-game-group--with-4-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(4, 1fr);
}
.dashboard-game-group--with-5-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(5, 1fr);
}
.dashboard-game-group--with-6-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(6, 1fr);
}
.dashboard-game-group--with-7-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(7, 1fr);
}
.dashboard-game-group--with-8-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(8, 1fr);
}
.dashboard-game-group--with-9-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(9, 1fr);
}
.dashboard-game-group--with-10-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(10, 1fr);
}
.dashboard-game-group--with-11-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(11, 1fr);
}
.dashboard-game-group--with-12-markets
  .dashboard-game-group__top[data-v-65b0e1cb] {
  grid-template-columns: repeat(12, 1fr);
}
.dashboard-game-group__top[data-v-65b0e1cb] {
  display: grid;
  flex-grow: 1;
}
.dashboard-market[data-v-0f4d02a1] {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
[dir] .dashboard-market[data-v-0f4d02a1] {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
[dir="ltr"] .dashboard-market__name[data-v-0f4d02a1] {
  margin-right: 0.25rem;
}
[dir="rtl"] .dashboard-market__name[data-v-0f4d02a1] {
  margin-left: 0.25rem;
}
[dir] .dashboard-market__value[data-v-0f4d02a1] {
  border-radius: var(--border-radius);
  transition: color 0.2s;
}
.dashboard-market__value--is-toggled[data-v-0f4d02a1],
.dashboard-market__value[data-v-0f4d02a1]:active,
.dashboard-market__value[data-v-0f4d02a1]:hover {
  --hsl-bg: var(--primary-80-bg);
  --hsl-clr: var(--primary-80-clr);
  --hsl-clr-accent: var(--primary-80-clr-accent);
  --hsl-clr-decent: var(--primary-80-clr-decent);
  --hsl-clr-strong: var(--primary-80-clr-strong);
  --hsl-clr-strong-alt: var(--primary-80-clr-strong-alt);
  --hsl-clr-primary: var(--primary-80-clr-primary);
  --hsl-clr-good: var(--primary-80-clr-good);
  --hsl-clr-bad: var(--primary-80-clr-bad);
  --hsl-sep: var(--primary-80-sep);
  --hsl-sep-alt: var(--primary-80-sep-alt);
  color: Hsla(var(--hsl-clr-strong), 1);
}
[dir] .dashboard-market__value--is-toggled[data-v-0f4d02a1],
[dir] .dashboard-market__value[data-v-0f4d02a1]:active,
[dir] .dashboard-market__value[data-v-0f4d02a1]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.is-keyboard-user .dashboard-market__value[data-v-0f4d02a1]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir] .dashboard-market__value--is-empty[data-v-0f4d02a1],
[dir] .dashboard-market__value--is-locked[data-v-0f4d02a1] {
  cursor: not-allowed;
}
.dashboard-market__content[data-v-0f4d02a1] {
  display: flex;
}
[dir="ltr"] .dashboard-market__content[data-v-0f4d02a1] {
  margin-right: auto;
}
[dir="rtl"] .dashboard-market__content[data-v-0f4d02a1] {
  margin-left: auto;
}
[dir="ltr"] .dashboard-market__content--center[data-v-0f4d02a1] {
  margin-right: 0;
}
[dir="rtl"] .dashboard-market__content--center[data-v-0f4d02a1] {
  margin-left: 0;
}
.dashboard-market__lock[data-v-0f4d02a1] {
  color: Hsl(var(--hsl-clr-decent));
}
[dir] .dashboard-market__lock[data-v-0f4d02a1] {
  padding: 2px;
}
.dashboard-market__name[data-v-0f4d02a1],
.dashboard-market__total[data-v-0f4d02a1],
.dashboard-market__value[data-v-0f4d02a1] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
[dir] .dashboard-market__value[data-v-0f4d02a1] {
  padding: 2px;
}
.dashboard-market__lock[data-v-0f4d02a1],
.dashboard-market__value[data-v-0f4d02a1] {
  flex: none;
}
.dashboard-market__name[data-v-0f4d02a1] {
  flex: auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
[dir]
  .dashboard-market:not(.dashboard-market--is-locked).dashboard-market--down
  .dashboard-market__value[data-v-0f4d02a1] {
  animation: market-value-down-0f4d02a1 2s;
}
@keyframes market-value-down-0f4d02a1 {
  to {
    --hsl-bg: var(--bad-80-bg);
    --hsl-clr: var(--bad-80-clr);
    --hsl-clr-accent: var(--bad-80-clr-accent);
    --hsl-clr-decent: var(--bad-80-clr-decent);
    --hsl-clr-strong: var(--bad-80-clr-strong);
    --hsl-clr-strong-alt: var(--bad-80-clr-strong-alt);
    --hsl-clr-primary: var(--bad-80-clr-primary);
    --hsl-clr-good: var(--bad-80-clr-good);
    --hsl-clr-bad: var(--bad-80-clr-bad);
    --hsl-sep: var(--bad-80-sep);
    --hsl-sep-alt: var(--bad-80-sep-alt);
    background-color: Hsla(var(--hsl-bg), 1);
    color: Hsla(var(--hsl-clr-bad), 1);
  }
}
[dir]
  .dashboard-market:not(.dashboard-market--is-locked).dashboard-market--up
  .dashboard-market__value[data-v-0f4d02a1] {
  animation: market-value-up-0f4d02a1 2s;
}
@keyframes market-value-up-0f4d02a1 {
  to {
    --hsl-bg: var(--good-80-bg);
    --hsl-clr: var(--good-80-clr);
    --hsl-clr-accent: var(--good-80-clr-accent);
    --hsl-clr-decent: var(--good-80-clr-decent);
    --hsl-clr-strong: var(--good-80-clr-strong);
    --hsl-clr-strong-alt: var(--good-80-clr-strong-alt);
    --hsl-clr-primary: var(--good-80-clr-primary);
    --hsl-clr-good: var(--good-80-clr-good);
    --hsl-clr-bad: var(--good-80-clr-bad);
    --hsl-sep: var(--good-80-sep);
    --hsl-sep-alt: var(--good-80-sep-alt);
    background-color: Hsla(var(--hsl-bg), 1);
    color: Hsla(var(--hsl-clr-good), 1);
  }
}
.dashboard-game-rows[data-v-4da5b4f7] {
  display: flex;
  flex-direction: column;
}
.dashboard-game-rows__market[data-v-4da5b4f7] {
  justify-content: end;
  width: 100%;
}
[dir]
  .dashboard-game-rows__market[data-v-4da5b4f7]:not(.dashboard-game-rows__market:first-child) {
  margin-top: 1px;
}
.dashboard-game-rows__market--center[data-v-4da5b4f7] {
  height: 100%;
  justify-content: center;
}
.dashboard-game-rows__markets[data-v-4da5b4f7] {
  flex-direction: column;
}
[dir] .dashboard-game-rows__markets[data-v-4da5b4f7] {
  padding: 0.25rem;
}
.dashboard-game-rows__group[data-v-4da5b4f7] {
  display: flex;
  flex: 1 1 auto;
}
[dir="ltr"] .dashboard-game-rows__group[data-v-4da5b4f7] {
  border-left: 1px solid hsl(var(--hsl-sep));
}
[dir="rtl"] .dashboard-game-rows__group[data-v-4da5b4f7] {
  border-right: 1px solid hsl(var(--hsl-sep));
}
.dashboard-game-rows__group[data-v-4da5b4f7]:nth-child(2n) {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-game-rows__group[data-v-4da5b4f7]:nth-child(2n) {
  background-color: Hsla(var(--hsl-bg), 1);
}
.dashboard-game-rows__actions[data-v-4da5b4f7] {
  width: 100%;
}
.dashboard-game-score[data-v-fa84cdf6] {
  align-items: flex-start;
  display: flex;
}
[dir] .dashboard-game-score[data-v-fa84cdf6] {
  border-top: 1px solid hsl(var(--hsl-sep));
  padding: 0.25rem;
}
.dashboard-game-score__main[data-v-fa84cdf6] {
  width: 14.6875rem;
}
.dashboard-game-score__opponent[data-v-fa84cdf6] {
  width: 100%;
}
[dir] .dashboard-game-score__opponent[data-v-fa84cdf6]:nth-child(2),
[dir] .dashboard-game-score__sets[data-v-fa84cdf6] {
  margin-top: 0.25rem;
}
.dashboard-game-opponents__content[data-v-9a11412d] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
[dir] .dashboard-game-opponents__content[data-v-9a11412d] {
  padding: 0.25rem;
}
.dashboard-game-opponents__name[data-v-9a11412d] {
  width: 100%;
}
.dashboard-game-opponents:hover
  .dashboard-game-opponents__name[data-v-9a11412d] {
  text-decoration: underline;
}
.is-keyboard-user .dashboard-game-opponents[data-v-9a11412d]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.dashboard-game-score-info-row[data-v-7fa8dd56] {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  align-items: center;
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  justify-content: space-between;
}
[dir] .dashboard-game-score-info-row[data-v-7fa8dd56] {
  background-color: Hsla(var(--hsl-bg), 1);
  padding: 0.25rem 0.5rem;
}
.dashboard-game-score-info-row__description[data-v-7fa8dd56] {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
}
.dashboard-sub-game__action[data-v-0041e30a] {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  width: 100%;
}
[dir] .dashboard-sub-game__action[data-v-0041e30a] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.dashboard-sub-game__action[data-v-0041e30a]:hover {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-sub-game__action[data-v-0041e30a]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.is-keyboard-user .dashboard-sub-game__action[data-v-0041e30a]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.dashboard-sub-game-action[data-v-0041e30a] {
  align-items: center;
  display: flex;
  gap: 0.25rem;
}
[dir] .dashboard-sub-game-action[data-v-0041e30a] {
  padding: 0.25rem 0.5rem;
}
[dir="ltr"]
  .dashboard-sub-game-action--is-toggled
  .dashboard-sub-game-action__angle[data-v-0041e30a] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .dashboard-sub-game-action--is-toggled
  .dashboard-sub-game-action__angle[data-v-0041e30a] {
  transform: rotate(-180deg);
}
.dashboard-sub-game-subgames[data-v-0041e30a] {
  display: grid;
  grid-template-columns: 14.6875rem 1fr;
}
.dashboard-sub-game-subgames__game[data-v-0041e30a] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 100%;
}
[dir] .dashboard-sub-game-subgames__game[data-v-0041e30a] {
  padding: 0.25rem;
}
.dashboard-sub-game-subgames__opponent[data-v-0041e30a] {
  width: 100%;
}
[dir="ltr"] .dashboard-game-rows-loader[data-v-da430c89] {
  border-left: 1px solid hsl(var(--hsl-sep));
}
[dir="rtl"] .dashboard-game-rows-loader[data-v-da430c89] {
  border-right: 1px solid hsl(var(--hsl-sep));
}
.dashboard-game-rows-loader__inner[data-v-da430c89] {
  height: 2.5rem;
}
[dir] .dashboard-game-rows-loader__inner[data-v-da430c89] {
  border-radius: var(--border-radius);
  margin: 0.5rem;
}
.dashboard-champ-game[data-v-bb6721b6] {
  display: grid;
  grid-template-columns: 4.0625rem auto 3.8125rem;
}
[dir="ltr"] .dashboard-champ-game__info[data-v-bb6721b6] {
  border-right: 1px solid hsl(var(--hsl-sep));
}
[dir="rtl"] .dashboard-champ-game__info[data-v-bb6721b6] {
  border-left: 1px solid hsl(var(--hsl-sep));
}
.dashboard-champ-game__wrapper[data-v-bb6721b6] {
  display: flex;
  flex-direction: column;
}
.dashboard-champ-game__main[data-v-bb6721b6] {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 14.6875rem auto;
}
.dashboard-champ-game__more[data-v-bb6721b6] {
  height: 100%;
  min-height: 2rem;
  width: 100%;
}
[dir="ltr"] .dashboard-champ-game__more[data-v-bb6721b6] {
  border-left: 1px solid hsl(var(--hsl-sep));
}
[dir="rtl"] .dashboard-champ-game__more[data-v-bb6721b6] {
  border-right: 1px solid hsl(var(--hsl-sep));
}
.dashboard-champ-game__markets[data-v-bb6721b6] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  grid-column: 1/-1;
}
[dir] .dashboard-champ-game__markets[data-v-bb6721b6] {
  background-color: Hsla(var(--hsl-bg), 1);
  padding-top: 1px;
}
.dashboard-champ-game__score[data-v-bb6721b6],
.dashboard-champ-game__score-info[data-v-bb6721b6],
.dashboard-champ-game__sub-games[data-v-bb6721b6] {
  grid-column: 2/-1;
}
[dir] .dashboard-champ-game__sub-info[data-v-bb6721b6] {
  border-top: 1px solid hsl(var(--hsl-sep));
}
.dashboard-champ-name[data-v-1df8a7ce] {
  align-items: center;
  display: flex;
}
[dir] .dashboard-champ-name[data-v-1df8a7ce] {
  padding: 0.25rem 0.75rem;
}
.dashboard-champ-name__sport-ico[data-v-1df8a7ce] {
  flex-shrink: 0;
}
[dir="ltr"] .dashboard-champ-name__sport-ico[data-v-1df8a7ce] {
  margin-right: 0.5rem;
}
[dir="rtl"] .dashboard-champ-name__sport-ico[data-v-1df8a7ce] {
  margin-left: 0.5rem;
}
.dashboard-champ-name__label[data-v-1df8a7ce] {
  align-items: center;
  display: flex;
}
[dir="ltr"] .dashboard-champ-name__label[data-v-1df8a7ce] {
  margin-right: 0.25rem;
}
[dir="rtl"] .dashboard-champ-name__label[data-v-1df8a7ce] {
  margin-left: 0.25rem;
}
[dir="ltr"] .dashboard-champ-name__ico[data-v-1df8a7ce] {
  margin-right: 0.25rem;
}
[dir="rtl"] .dashboard-champ-name__ico[data-v-1df8a7ce] {
  margin-left: 0.25rem;
}
.dashboard-champ-name__favorite[data-v-1df8a7ce] {
  color: Hsl(var(--hsl-clr-accent));
  flex-shrink: 0;
}
.dashboard-champ-head[data-v-e5f73b7c] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: grid;
  grid-template-columns: 1fr 3.8125rem;
  min-height: 2.5rem;
}
[dir] .dashboard-champ-head[data-v-e5f73b7c] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-bottom: 1px solid hsl(var(--hsl-sep));
  border-top: 1px solid hsl(var(--hsl-sep));
}
.dashboard-champ-head__name[data-v-e5f73b7c] {
  min-width: 0;
}
.dashboard-champ-head__toggle[data-v-e5f73b7c] {
  height: 100%;
  width: 100%;
}
[dir] .dashboard-champ-head__toggle[data-v-e5f73b7c] {
  text-align: center;
}
.dashboard-champ-head__toggle[data-v-e5f73b7c]:hover {
  --hsl-bg: var(--primary-10-bg);
  --hsl-clr: var(--primary-10-clr);
  --hsl-clr-accent: var(--primary-10-clr-accent);
  --hsl-clr-decent: var(--primary-10-clr-decent);
  --hsl-clr-strong: var(--primary-10-clr-strong);
  --hsl-clr-strong-alt: var(--primary-10-clr-strong-alt);
  --hsl-clr-primary: var(--primary-10-clr-primary);
  --hsl-clr-good: var(--primary-10-clr-good);
  --hsl-clr-bad: var(--primary-10-clr-bad);
  --hsl-sep: var(--primary-10-sep);
  --hsl-sep-alt: var(--primary-10-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-champ-head__toggle[data-v-e5f73b7c]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.dashboard-champ-head__toggle[data-v-e5f73b7c]:active {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-champ-head__toggle[data-v-e5f73b7c]:active {
  background-color: Hsla(var(--hsl-bg), 1);
}
.is-keyboard-user .dashboard-champ-head__toggle[data-v-e5f73b7c]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"]
  .dashboard-champ-head__toggle--is-toggled
  .dashboard-champ-head__angle[data-v-e5f73b7c] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .dashboard-champ-head__toggle--is-toggled
  .dashboard-champ-head__angle[data-v-e5f73b7c] {
  transform: rotate(-180deg);
}
.dashboard-table-market[data-v-ea4b165d] {
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  justify-content: space-between;
}
[dir="ltr"] .dashboard-table-market[data-v-ea4b165d] {
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
}
[dir="rtl"] .dashboard-table-market[data-v-ea4b165d] {
  padding: 0.5rem 0.75rem 0.5rem 0.25rem;
}
.dashboard-table-market__coef[data-v-ea4b165d],
.dashboard-table-market__name[data-v-ea4b165d] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.dashboard-table-market__name[data-v-ea4b165d] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.dashboard-table-game__header[data-v-05e0aa20] {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  justify-content: space-between;
}
[dir] .dashboard-table-game__header[data-v-05e0aa20] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir="ltr"] .dashboard-table-game__header[data-v-05e0aa20] {
  padding: 0.5rem 0.25rem 0.5rem 0.75rem;
}
[dir="rtl"] .dashboard-table-game__header[data-v-05e0aa20] {
  padding: 0.5rem 0.75rem 0.5rem 0.25rem;
}
.dashboard-table-game__info[data-v-05e0aa20],
.dashboard-table-game__title[data-v-05e0aa20] {
  color: Hsl(var(--hsl-clr-strong-alt));
  font-size: 0.8125rem;
  line-height: 1rem;
}
.dashboard-table-game__row[data-v-05e0aa20] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
[dir] .dashboard-table-game__row[data-v-05e0aa20] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.dashboard-table-game__row[data-v-05e0aa20]:nth-child(odd) {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-table-game__row[data-v-05e0aa20]:nth-child(odd) {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir="ltr"] .dashboard-table-game__market[data-v-05e0aa20]:first-child {
  border-right: 1px solid hsl(var(--gray-0-bg));
}
[dir="rtl"] .dashboard-table-game__market[data-v-05e0aa20]:first-child {
  border-left: 1px solid hsl(var(--gray-0-bg));
}
[dir] .dashboard-champ__game[data-v-ffce461b]:not(:last-child) {
  border-bottom: 1px solid hsl(var(--hsl-sep));
}
.dashboard-legend[data-v-a3dda6d5] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: grid;
  grid-template-columns: 18.75rem auto 3.8125rem;
  min-height: 3.0625rem;
  position: sticky;
  top: calc(
    var(--header-height) / var(--fz) * 1rem + var(--central-menu-height) /
      var(--fz) * 1rem
  );
  z-index: 50;
}
[dir] .dashboard-legend[data-v-a3dda6d5] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-bottom: 1px solid hsl(var(--hsl-sep-alt));
  border-top: 1px solid hsl(var(--hsl-sep-alt));
  box-shadow: 0 0 0.3125rem Hsla(var(--primary--40-bg), 0.2);
}
.dashboard-legend__name[data-v-a3dda6d5] {
  min-width: 0;
}
[dir] .dashboard-legend__title[data-v-a3dda6d5] {
  margin: auto;
}
.dashboard-legend__toggle[data-v-a3dda6d5] {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
[dir] .dashboard-legend__toggle[data-v-a3dda6d5] {
  text-align: center;
}
[dir="ltr"] .dashboard-legend__toggle[data-v-a3dda6d5] {
  border-left: 1px solid hsl(var(--hsl-sep-alt));
}
[dir="rtl"] .dashboard-legend__toggle[data-v-a3dda6d5] {
  border-right: 1px solid hsl(var(--hsl-sep-alt));
}
.dashboard-legend__toggle[data-v-a3dda6d5]:hover {
  --hsl-bg: var(--primary-10-bg);
  --hsl-clr: var(--primary-10-clr);
  --hsl-clr-accent: var(--primary-10-clr-accent);
  --hsl-clr-decent: var(--primary-10-clr-decent);
  --hsl-clr-strong: var(--primary-10-clr-strong);
  --hsl-clr-strong-alt: var(--primary-10-clr-strong-alt);
  --hsl-clr-primary: var(--primary-10-clr-primary);
  --hsl-clr-good: var(--primary-10-clr-good);
  --hsl-clr-bad: var(--primary-10-clr-bad);
  --hsl-sep: var(--primary-10-sep);
  --hsl-sep-alt: var(--primary-10-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-legend__toggle[data-v-a3dda6d5]:hover {
  background-color: Hsla(var(--hsl-bg), 1);
}
.dashboard-legend__toggle[data-v-a3dda6d5]:active {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard-legend__toggle[data-v-a3dda6d5]:active {
  background-color: Hsla(var(--hsl-bg), 1);
}
.is-keyboard-user .dashboard-legend__toggle[data-v-a3dda6d5]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"] .dashboard-legend__cell + .dashboard-legend__cell[data-v-a3dda6d5],
[dir="ltr"] .dashboard-legend__cell + .dashboard-legend__label[data-v-a3dda6d5],
[dir="ltr"] .dashboard-legend__label + .dashboard-legend__cell[data-v-a3dda6d5],
[dir="ltr"]
  .dashboard-legend__label
  + .dashboard-legend__label[data-v-a3dda6d5] {
  border-left: 1px solid hsl(var(--hsl-sep-alt));
}
[dir="rtl"] .dashboard-legend__cell + .dashboard-legend__cell[data-v-a3dda6d5],
[dir="rtl"] .dashboard-legend__cell + .dashboard-legend__label[data-v-a3dda6d5],
[dir="rtl"] .dashboard-legend__label + .dashboard-legend__cell[data-v-a3dda6d5],
[dir="rtl"]
  .dashboard-legend__label
  + .dashboard-legend__label[data-v-a3dda6d5] {
  border-right: 1px solid hsl(var(--hsl-sep-alt));
}
.dashboard-legend__label[data-v-a3dda6d5] {
  font-size: 0.75rem;
  height: 100%;
  justify-content: center;
  line-height: 0.875rem;
}
.dashboard-legend__cell[data-v-a3dda6d5],
.dashboard-legend__label[data-v-a3dda6d5] {
  align-items: center;
  display: flex;
}
.dashboard-legend__cell--vertical[data-v-a3dda6d5] {
  flex-direction: column;
}
.dashboard-legend__row[data-v-a3dda6d5] {
  display: grid;
  height: 100%;
  width: 100%;
}
.dashboard-legend__row--primary[data-v-a3dda6d5] {
  grid-template-columns: var(--dashboard-header-columns-count);
  min-height: 1.5625rem;
}
.dashboard-legend__row--secondary[data-v-a3dda6d5] {
  grid-template-columns: repeat(var(--dashboard-header-columns-count), 1fr);
  min-height: 1.5rem;
}
[dir] .dashboard-legend__row[data-v-a3dda6d5]:not(:last-child) {
  border-bottom: 1px solid hsl(var(--hsl-sep-alt));
}
.dashboard-legend__row--wide-column[data-v-a3dda6d5] {
  grid-template-columns: repeat(3, 1fr) 2fr;
}
[dir="ltr"]
  .dashboard-legend-toggle--is-toggled
  .dashboard-legend-toggle__icon[data-v-a3dda6d5] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .dashboard-legend-toggle--is-toggled
  .dashboard-legend-toggle__icon[data-v-a3dda6d5] {
  transform: rotate(-180deg);
}
.dashboard[data-v-15231034] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .dashboard[data-v-15231034] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-bottom: 1px solid hsl(var(--hsl-sep));
}
.dashboard-empty[data-v-37389354] {
  min-height: 22.5rem;
}
.dashboard-empty__country[data-v-37389354] {
  width: 12.5rem;
}
[dir] .dashboard-empty__country[data-v-37389354] {
  margin-top: 1rem;
}
.dashboard-loader[data-v-6ebbaaf8] {
  --skeleton-bg: Hsl(var(--custom-skeleton-bg));
}
[dir] .dashboard-loader[data-v-6ebbaaf8] {
  background-color: var(--skeleton-bg, currentColor);
}
.dashboard-loader__legend[data-v-6ebbaaf8] {
  height: 3.0625rem;
}
[dir] .dashboard-loader__legend[data-v-6ebbaaf8] {
  border-bottom: 1px solid hsl(var(--hsl-sep-alt));
}
.dashboard-loader__champ[data-v-6ebbaaf8] {
  height: 2.4375rem;
}
[dir] .dashboard-loader__champ[data-v-6ebbaaf8] {
  border-bottom: 1px solid hsl(var(--hsl-sep));
}
.dashboard-loader-item[data-v-6ebbaaf8] {
  align-items: center;
  display: flex;
}
[dir] .dashboard-loader-item[data-v-6ebbaaf8] {
  padding: 0.5rem;
}
.dashboard-loader-item__controls[data-v-6ebbaaf8],
.dashboard-loader-item__info[data-v-6ebbaaf8],
.dashboard-loader-item__markets[data-v-6ebbaaf8] {
  height: 2.5rem;
}
[dir] .dashboard-loader-item__controls[data-v-6ebbaaf8],
[dir] .dashboard-loader-item__info[data-v-6ebbaaf8],
[dir] .dashboard-loader-item__markets[data-v-6ebbaaf8] {
  border-radius: var(--border-radius);
}
.dashboard-loader-item__controls[data-v-6ebbaaf8] {
  width: 2.5rem;
}
[dir="ltr"] .dashboard-loader-item__controls[data-v-6ebbaaf8] {
  margin-right: 0.5rem;
}
[dir="rtl"] .dashboard-loader-item__controls[data-v-6ebbaaf8] {
  margin-left: 0.5rem;
}
.dashboard-loader-item__info[data-v-6ebbaaf8] {
  width: calc(40% - 2.5rem);
}
[dir="ltr"] .dashboard-loader-item__info[data-v-6ebbaaf8] {
  margin-right: 1rem;
}
[dir="rtl"] .dashboard-loader-item__info[data-v-6ebbaaf8] {
  margin-left: 1rem;
}
.dashboard-loader-item__markets[data-v-6ebbaaf8] {
  width: 60%;
}
