.media-video[data-v-c5039c0e] {
  display: flex;
  flex-direction: column;
  position: relative;
}
.media-video__controls[data-v-c5039c0e] {
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 5;
}
[dir] .media-video__controls[data-v-c5039c0e] {
  left: 0;
  right: 0;
  text-align: center;
  transition: opacity 0.2s linear;
}
.media-video__sizer[data-v-c5039c0e] {
  flex: auto;
  min-height: 0;
}
.media-video:hover .media-video__controls[data-v-c5039c0e] {
  opacity: 1;
}
.media-video-sizer[data-v-c5039c0e] {
  overflow: hidden;
  position: relative;
}
.media-video-sizer[data-v-c5039c0e]:before {
  content: "";
  display: block;
}
[dir] .media-video-sizer[data-v-c5039c0e]:before {
  padding-top: 56.25%;
}
[data-v-c5039c0e] .media-video-sizer > * {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
[dir][data-v-c5039c0e] .media-video-sizer > * {
  text-align: center;
}
[dir="ltr"][data-v-c5039c0e] .media-video-sizer > * {
  left: 0;
  -o-object-position: 0 0;
  object-position: 0 0;
}
[dir="rtl"][data-v-c5039c0e] .media-video-sizer > * {
  -o-object-position: 100% 0;
  object-position: 100% 0;
  right: 0;
}
.media-video-control[data-v-c5039c0e] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  align-items: center;
  color: Hsla(var(--hsl-clr), 1);
  display: inline-flex;
  justify-content: center;
  min-height: 4rem;
  min-width: 4rem;
}
[dir] .media-video-control[data-v-c5039c0e] {
  background-color: Hsla(var(--hsl-bg), 1);
  padding: 0.5rem;
}
.is-keyboard-user .media-video-control[data-v-c5039c0e]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.media-video-control__ico[data-v-c5039c0e] {
  font-size: 1.875rem;
}
.media-zone[data-v-d38a370a] {
  overflow: hidden;
  position: relative;
}
.media-zone[data-v-d38a370a]:before {
  content: "";
  display: block;
}
[dir] .media-zone[data-v-d38a370a]:before {
  padding-top: 56.25%;
}
.media-zone .media-zone-sizer[data-v-d38a370a] {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
[dir] .media-zone .media-zone-sizer[data-v-d38a370a] {
  text-align: center;
}
[dir="ltr"] .media-zone .media-zone-sizer[data-v-d38a370a] {
  left: 0;
}
[dir="rtl"] .media-zone .media-zone-sizer[data-v-d38a370a] {
  right: 0;
}
[dir] .media-content-video[data-v-001627cf] {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    Hsla(var(--primary--40-bg)) 0,
    Hsla(var(--primary--60-bg))
  );
}
.media-board[data-v-c3a0aae0] {
  display: flex;
}
.media-container[data-v-d71824bf] {
  display: flex;
  flex-direction: column;
}
.media-container__label[data-v-d71824bf] {
  max-width: 9.875rem;
}
[dir] .media-container__label[data-v-d71824bf] {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.media-container__row[data-v-d71824bf] {
  display: flex;
  flex: none;
}
[dir] .media-container__row[data-v-d71824bf] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.media-container__link[data-v-d71824bf] {
  display: none;
}
.media-container__apps[data-v-d71824bf],
.media-container__controls[data-v-d71824bf] {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}
[dir="ltr"] .media-container__apps[data-v-d71824bf],
[dir="ltr"] .media-container__controls[data-v-d71824bf] {
  margin-right: -0.25rem;
}
[dir="rtl"] .media-container__apps[data-v-d71824bf],
[dir="rtl"] .media-container__controls[data-v-d71824bf] {
  margin-left: -0.25rem;
}
.media-container__control[data-v-d71824bf] {
  align-items: center;
  display: flex;
}
[dir] .media-container__control[data-v-d71824bf] {
  padding: var(--media-container-button-padding, 0.25rem);
}
.media-container__body[data-v-d71824bf] {
  display: flex;
  flex: auto;
  min-height: 0;
}
[dir] .media-container__body[data-v-d71824bf] {
  padding: 2px;
}
.media-container__body[data-v-d71824bf] > * {
  flex: auto;
  min-height: 0;
  min-width: 0;
}
.media-container__body--blocked[data-v-d71824bf] {
  pointer-events: none;
}
.media-container:hover .media-container__title[data-v-d71824bf] {
  display: none;
}
.media-container:hover .media-container__link[data-v-d71824bf] {
  display: flex;
}
.media-container__resize[data-v-d71824bf] {
  display: none;
}
[dir="ltr"] .media-container__source[data-v-d71824bf] {
  padding-left: 0.25rem;
}
[dir="rtl"] .media-container__source[data-v-d71824bf] {
  padding-right: 0.25rem;
}
.media-container-link[data-v-d71824bf] {
  text-decoration: underline;
}
.is-keyboard-user .media-container-link[data-v-d71824bf]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir] .media-container-apps__link[data-v-d71824bf] {
  padding: var(--media-container-button-padding, 0.25rem);
}
.media-draggable-resizable .media-container__resize[data-v-d71824bf] {
  align-items: flex-end;
  display: flex;
}
[dir] .media-draggable-resizable .media-container__resize[data-v-d71824bf] {
  padding-bottom: 2px;
}
[dir="ltr"]
  .media-draggable-resizable
  .media-container__resize[data-v-d71824bf] {
  margin-left: -0.5rem;
}
[dir="rtl"]
  .media-draggable-resizable
  .media-container__resize[data-v-d71824bf] {
  margin-right: -0.5rem;
}
.media-container--theme-primary[data-v-d71824bf] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .media-container--theme-primary[data-v-d71824bf] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
}
.media-container--theme-primary--20[data-v-d71824bf] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .media-container--theme-primary--20[data-v-d71824bf] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--right-side-custom-border-radius, var(--border-radius));
}
.media-container--theme-cyber--35[data-v-d71824bf] {
  --hsl-bg: var(--cyber--35-bg);
  --hsl-clr: var(--cyber--35-clr);
  --hsl-clr-accent: var(--cyber--35-clr-accent);
  --hsl-clr-decent: var(--cyber--35-clr-decent);
  --hsl-clr-strong: var(--cyber--35-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--35-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--35-clr-primary);
  --hsl-clr-good: var(--cyber--35-clr-good);
  --hsl-clr-bad: var(--cyber--35-clr-bad);
  --hsl-sep: var(--cyber--35-sep);
  --hsl-sep-alt: var(--cyber--35-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  position: relative;
}
[dir] .media-container--theme-cyber--35[data-v-d71824bf] {
  background-clip: padding-box;
  background-color: Hsla(var(--hsl-bg), 1);
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.media-container--theme-cyber--35[data-v-d71824bf]:before {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
}
[dir] .media-container--theme-cyber--35[data-v-d71824bf]:before {
  border-radius: inherit;
  left: 0;
  margin: -1px;
  right: 0;
}
[dir="ltr"] .media-container--theme-cyber--35[data-v-d71824bf]:before {
  background-image: linear-gradient(
    to right,
    Hsla(var(--cyber-0-bg), 1),
    Hsla(var(--cyber-0-clr-primary), 0.4)
  );
}
[dir="rtl"] .media-container--theme-cyber--35[data-v-d71824bf]:before {
  background-image: linear-gradient(
    to left,
    Hsla(var(--cyber-0-bg), 1),
    Hsla(var(--cyber-0-clr-primary), 0.4)
  );
}
.media-container--theme-special-primary-100[data-v-d71824bf] {
  --hsl-bg: var(--specialPrimary-100-bg);
  --hsl-clr: var(--specialPrimary-100-clr);
  --hsl-clr-accent: var(--specialPrimary-100-clr-accent);
  --hsl-clr-decent: var(--specialPrimary-100-clr-decent);
  --hsl-clr-strong: var(--specialPrimary-100-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary-100-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary-100-clr-primary);
  --hsl-clr-good: var(--specialPrimary-100-clr-good);
  --hsl-clr-bad: var(--specialPrimary-100-clr-bad);
  --hsl-sep: var(--specialPrimary-100-sep);
  --hsl-sep-alt: var(--specialPrimary-100-sep-alt);
  color: Hsla(var(--hsl-clr-decent), 1);
}
[dir] .media-container--theme-special-primary-100[data-v-d71824bf] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
  box-shadow: 0 0.25rem 0.5rem Hsla(var(--specialPrimary--50-bg), 0.1);
}
.resizable-component[data-v-17560544] {
  position: relative;
}
.resizable-component > .resizable-r[data-v-17560544] {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 90;
}
[dir] .resizable-component > .resizable-r[data-v-17560544] {
  cursor: e-resize;
}
[dir="ltr"] .resizable-component > .resizable-r[data-v-17560544] {
  right: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-r[data-v-17560544] {
  left: -0.375rem;
}
.resizable-component > .resizable-rb[data-v-17560544] {
  bottom: -0.375rem;
  display: block;
  height: 0.75rem;
  position: absolute;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 91;
}
[dir="ltr"] .resizable-component > .resizable-rb[data-v-17560544] {
  cursor: se-resize;
  right: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-rb[data-v-17560544] {
  cursor: sw-resize;
  left: -0.375rem;
}
.resizable-component > .resizable-b[data-v-17560544] {
  bottom: -0.375rem;
  display: block;
  height: 0.75rem;
  position: absolute;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 100%;
  z-index: 90;
}
[dir] .resizable-component > .resizable-b[data-v-17560544] {
  cursor: s-resize;
}
[dir="ltr"] .resizable-component > .resizable-b[data-v-17560544] {
  left: 0;
}
[dir="rtl"] .resizable-component > .resizable-b[data-v-17560544] {
  right: 0;
}
.resizable-component > .resizable-lb[data-v-17560544] {
  bottom: -0.375rem;
  display: block;
  height: 0.75rem;
  position: absolute;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 91;
}
[dir="ltr"] .resizable-component > .resizable-lb[data-v-17560544] {
  cursor: sw-resize;
  left: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-lb[data-v-17560544] {
  cursor: se-resize;
  right: -0.375rem;
}
.resizable-component > .resizable-l[data-v-17560544] {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 90;
}
[dir] .resizable-component > .resizable-l[data-v-17560544] {
  cursor: w-resize;
}
[dir="ltr"] .resizable-component > .resizable-l[data-v-17560544] {
  left: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-l[data-v-17560544] {
  right: -0.375rem;
}
.resizable-component > .resizable-lt[data-v-17560544] {
  display: block;
  height: 0.75rem;
  position: absolute;
  top: -0.375rem;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 91;
}
[dir="ltr"] .resizable-component > .resizable-lt[data-v-17560544] {
  cursor: nw-resize;
  left: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-lt[data-v-17560544] {
  cursor: ne-resize;
  right: -0.375rem;
}
.resizable-component > .resizable-t[data-v-17560544] {
  display: block;
  height: 0.75rem;
  position: absolute;
  top: -0.375rem;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 100%;
  z-index: 90;
}
[dir] .resizable-component > .resizable-t[data-v-17560544] {
  cursor: n-resize;
}
[dir="ltr"] .resizable-component > .resizable-t[data-v-17560544] {
  left: 0;
}
[dir="rtl"] .resizable-component > .resizable-t[data-v-17560544] {
  right: 0;
}
.resizable-component > .resizable-rt[data-v-17560544] {
  display: block;
  height: 0.75rem;
  position: absolute;
  top: -0.375rem;
  touch-action: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  width: 0.75rem;
  z-index: 91;
}
[dir="ltr"] .resizable-component > .resizable-rt[data-v-17560544] {
  cursor: ne-resize;
  right: -0.375rem;
}
[dir="rtl"] .resizable-component > .resizable-rt[data-v-17560544] {
  cursor: nw-resize;
  left: -0.375rem;
}
.media-draggable-resizable[data-v-d73f72ac] {
  position: absolute;
  z-index: 50;
}
[dir] .media-draggable-resizable[data-v-d73f72ac] {
  box-shadow: 0 0.25rem 0.5rem Hsla(var(--primary--20-bg), 0.15);
}
.media-overview[data-v-5361feea] {
  bottom: 0;
  pointer-events: none;
  position: fixed;
  top: calc(var(--header-height) / var(--fz) * 1rem);
  z-index: 1050;
}
[dir] .media-overview[data-v-5361feea] {
  left: 0;
  right: 0;
}
.media-overview__window[data-v-5361feea] {
  display: flex;
  pointer-events: auto;
}
.media-overview__container[data-v-5361feea] {
  flex: auto;
  width: 100%;
}
.media-overview__content[data-v-5361feea] {
  width: 100%;
}
[dir][data-v-5361feea] .handle-tr {
  cursor: ne-resize;
}
[dir][data-v-5361feea] .handle-tl {
  cursor: nw-resize;
}
[dir][data-v-5361feea] .handle-br {
  cursor: se-resize;
}
[dir][data-v-5361feea] .handle-bl {
  cursor: sw-resize;
}
[dir][data-v-5361feea] .handle-br,
[dir][data-v-5361feea] .handle-tr {
  left: auto;
  right: -0.625rem;
}
[dir][data-v-5361feea] .handle-bl,
[dir][data-v-5361feea] .handle-ml,
[dir][data-v-5361feea] .handle-tl {
  left: -0.625rem;
  right: auto;
}
[dir] .vdr[data-v-5361feea] {
  border: none;
}
[dir] .media-overview--theme-cyber--35[data-v-5361feea] {
  box-shadow: 0 0 1.5rem Hsla(var(--primary-0-clr-primary), 0.25);
}
.media-side--fixed[data-v-922b963c] {
  bottom: 3.25rem;
  max-height: 28.125rem;
  position: fixed;
  width: 15.625rem;
}
[dir="ltr"] .media-side--fixed[data-v-922b963c] {
  right: var(--media-side-right, 3.875rem);
}
[dir="rtl"] .media-side--fixed[data-v-922b963c] {
  left: var(--media-side-right, 3.875rem);
}
[dir] .media-side__item[data-v-922b963c]:nth-child(n + 2) {
  margin-top: 0.5rem;
}
.media-side__content[data-v-922b963c] {
  width: 100%;
}
