[dir] .left-side-bottom-buttons[data-v-309eca75] {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.left-side-bottom-buttons--theme-gray-30[data-v-309eca75] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .left-side-bottom-buttons--theme-gray-30[data-v-309eca75] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.left-side-bottom-buttons--theme-gray--70[data-v-309eca75] {
  --hsl-bg: var(--gray--70-bg);
  --hsl-clr: var(--gray--70-clr);
  --hsl-clr-accent: var(--gray--70-clr-accent);
  --hsl-clr-decent: var(--gray--70-clr-decent);
  --hsl-clr-strong: var(--gray--70-clr-strong);
  --hsl-clr-strong-alt: var(--gray--70-clr-strong-alt);
  --hsl-clr-primary: var(--gray--70-clr-primary);
  --hsl-clr-good: var(--gray--70-clr-good);
  --hsl-clr-bad: var(--gray--70-clr-bad);
  --hsl-sep: var(--gray--70-sep);
  --hsl-sep-alt: var(--gray--70-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .left-side-bottom-buttons--theme-gray--70[data-v-309eca75] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.left-side-bottom-buttons[data-v-309eca75],
.left-side-bottom-buttons__container[data-v-309eca75] {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.left-side-bottom-buttons__container[data-v-309eca75] {
  width: 100%;
}
[dir] .left-side-bottom-buttons__container[data-v-309eca75] {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
[dir] .recommended-games__container[data-v-60c2f860] {
  border-radius: var(--border-radius);
}
[dir] .recommended-games__container[data-v-60c2f860] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.recommended-games__more[data-v-60c2f860] {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .recommended-games__more[data-v-60c2f860] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-top: 1px solid hsl(var(--hsl-sep));
  padding: 2px;
}
[dir] .recommended-games-app__toggle[data-v-a14bea26] {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir]
  .recommended-games-app__toggle[data-v-a14bea26]:not(.recommended-games-app__toggle--opened) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
[dir] .left-side-favorites__toggle[data-v-1e8941e6] {
  border-radius: var(--border-radius);
}
[dir] .left-side-favorites__toggle--is-opened[data-v-1e8941e6] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
