.top-games-app__stepper[data-v-8f572c30] {
  height: 100%;
}
[dir="ltr"] .top-games-app__stepper[data-v-8f572c30] {
  margin-right: 0.25rem;
}
[dir="rtl"] .top-games-app__stepper[data-v-8f572c30] {
  margin-left: 0.25rem;
}
[dir] .top-games-app__expanded[data-v-8f572c30] {
  border-radius: var(--border-radius);
}
[dir] .top-games-app__expanded[data-v-8f572c30] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .top-games-app__expanded[data-v-8f572c30] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.top-games-app-list[data-v-8f572c30] {
  display: flex;
  overflow: hidden;
}
[dir="ltr"] .top-games-app-list--swipe-left .swipe-leave-to[data-v-8f572c30] {
  transform: translate(-100%);
}
[dir="ltr"] .top-games-app-list--swipe-left .swipe-enter-from[data-v-8f572c30],
[dir="rtl"] .top-games-app-list--swipe-left .swipe-leave-to[data-v-8f572c30] {
  transform: translate(100%);
}
[dir="rtl"] .top-games-app-list--swipe-left .swipe-enter-from[data-v-8f572c30] {
  transform: translate(-100%);
}
.top-games-app-list--swipe-right[data-v-8f572c30] {
  flex-direction: row-reverse;
}
[dir="ltr"] .top-games-app-list--swipe-right .swipe-leave-to[data-v-8f572c30] {
  transform: translate(100%);
}
[dir="ltr"] .top-games-app-list--swipe-right .swipe-enter-from[data-v-8f572c30],
[dir="rtl"] .top-games-app-list--swipe-right .swipe-leave-to[data-v-8f572c30] {
  transform: translate(-100%);
}
[dir="rtl"]
  .top-games-app-list--swipe-right
  .swipe-enter-from[data-v-8f572c30] {
  transform: translate(100%);
}
.top-games-app-list__item[data-v-8f572c30] {
  flex-shrink: 0;
  width: 100%;
}
[dir] .top-games-app-list .swipe-enter-active[data-v-8f572c30],
[dir] .top-games-app-list .swipe-enter-from[data-v-8f572c30],
[dir] .top-games-app-list .swipe-enter-to[data-v-8f572c30],
[dir] .top-games-app-list .swipe-leave-active[data-v-8f572c30],
[dir] .top-games-app-list .swipe-leave-to[data-v-8f572c30] {
  transition: all 0.2s;
}
.top-games-app-list .swipe-enter-from[data-v-8f572c30] {
  opacity: 0;
}
[dir] .top-games-app-list .swipe-enter-to[data-v-8f572c30] {
  transform: translate(0);
}
.top-games-app-list .swipe-leave-to[data-v-8f572c30] {
  opacity: 0.4;
}
