.popular-games-slider-card-header[data-v-3c808a7e] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
[dir] .popular-games-slider-card-header[data-v-3c808a7e] {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.popular-games-slider-card-header__link[data-v-3c808a7e] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
  width: 100%;
}
.popular-games-slider-card-header__link:hover
  .popular-games-slider-card-header__title[data-v-3c808a7e] {
  text-decoration: underline;
}
.is-keyboard-user
  .popular-games-slider-card-header__link[data-v-3c808a7e]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.popular-games-slider-card-header__ico[data-v-3c808a7e] {
  color: Hsl(var(--hsl-clr-decent));
  flex-shrink: 0;
}
[dir="ltr"] .popular-games-slider-card-header__title[data-v-3c808a7e] {
  margin-right: auto;
}
[dir="rtl"] .popular-games-slider-card-header__title[data-v-3c808a7e] {
  margin-left: auto;
}
.popular-games-slider-card-header__favorite[data-v-3c808a7e] {
  flex-shrink: 0;
}
[dir="ltr"] .popular-games-slider-card-header__favorite[data-v-3c808a7e] {
  margin-left: auto;
  margin-right: -0.25rem;
}
[dir="rtl"] .popular-games-slider-card-header__favorite[data-v-3c808a7e] {
  margin-left: -0.25rem;
  margin-right: auto;
}
.popular-games-slider-card-header__favorite[data-v-3c808a7e]:not(.popular-games-slider-card-header__favorite--is-active) {
  color: Hsl(var(--hsl-clr-decent));
}
.popular-games-slider-card-header__favorite--is-active[data-v-3c808a7e],
.popular-games-slider-card-header__favorite[data-v-3c808a7e]:hover {
  color: Hsl(var(--hsl-clr-accent));
}
.is-keyboard-user
  .popular-games-slider-card-header__favorite[data-v-3c808a7e]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.popular-games-slider-card-body-team[data-v-d46d73e3] {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
[dir] .popular-games-slider-card-body-team[data-v-d46d73e3] {
  text-align: center;
}
.popular-games-slider-card-body-team__ico[data-v-d46d73e3] {
  font-size: 3.125rem;
}
.popular-games-slider-card-body[data-v-4048c791] {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
}
[dir] .popular-games-slider-card-body[data-v-4048c791] {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.popular-games-slider-card-body__info[data-v-4048c791] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1px;
}
.popular-games-slider-card-body__timer[data-v-4048c791] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
.popular-games-slider-card-body__ico[data-v-4048c791] {
  color: Hsl(var(--hsl-clr-decent));
}
.popular-games-slider-card-bets__type[data-v-87d492ca] {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 1.625rem;
}
[dir] .popular-games-slider-card-bets__type[data-v-87d492ca] {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.popular-games-slider-card-bets__list[data-v-87d492ca] {
  -moz-column-gap: 2px;
  column-gap: 2px;
  display: flex;
}
[dir] .popular-games-slider-card-bets__list[data-v-87d492ca] {
  padding: 2px;
}
.popular-games-slider-card-bets__item[data-v-87d492ca] {
  flex-basis: 100%;
  flex-grow: 1;
}
.popular-games-slider-card-bets__market[data-v-87d492ca] {
  width: 100%;
}
.popular-games-slider-card[data-v-3b88a875] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  flex-direction: column;
}
[dir] .popular-games-slider-card[data-v-3b88a875] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: calc(var(--border-radius) * 2);
}
[dir] .popular-games-slider-card__body[data-v-3b88a875],
[dir] .popular-games-slider-card__header[data-v-3b88a875] {
  border-bottom: 1px solid hsl(var(--hsl-sep));
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.popular-games-slider-card__body[data-v-3b88a875] {
  height: 100%;
}
.popular-games-slider-loader[data-v-ddb744ed],
.popular-games-slider-loader__list[data-v-ddb744ed] {
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
.popular-games-slider-loader__item[data-v-ddb744ed] {
  width: 20rem;
}
[dir] .popular-games-slider-loader__item[data-v-ddb744ed] {
  background-color: currentColor;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}
.popular-games-slider-loader__head[data-v-ddb744ed] {
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
[dir] .popular-games-slider-loader__head[data-v-ddb744ed] {
  border-bottom: 1px solid hsl(var(--hsl-sep-alt));
  padding-bottom: 0.25rem;
}
.popular-games-slider-loader__ico[data-v-ddb744ed] {
  height: 1rem;
  width: 1rem;
}
[dir] .popular-games-slider-loader__ico[data-v-ddb744ed] {
  background-color: Hsl(var(--hsl-clr-decent));
  border-radius: 50%;
}
.popular-games-slider-loader__name[data-v-ddb744ed] {
  height: 1rem;
  width: 100%;
}
[dir] .popular-games-slider-loader__name[data-v-ddb744ed] {
  background-color: Hsl(var(--hsl-clr-decent));
  border-radius: var(--border-radius);
}
.popular-games-slider-loader__body[data-v-ddb744ed] {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 4.5rem;
  justify-items: center;
  width: 100%;
}
[dir] .popular-games-slider-loader__body[data-v-ddb744ed] {
  border-bottom: 1px solid hsl(var(--hsl-sep-alt));
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.popular-games-slider-loader__team[data-v-ddb744ed] {
  height: 2.875rem;
  width: 2.875rem;
}
[dir] .popular-games-slider-loader__team[data-v-ddb744ed] {
  background-color: Hsl(var(--hsl-clr-decent));
  border-radius: 50%;
}
.popular-games-slider-loader__info[data-v-ddb744ed] {
  height: 1.875rem;
  width: 6.25rem;
}
[dir] .popular-games-slider-loader__info[data-v-ddb744ed] {
  background-color: Hsl(var(--hsl-clr-decent));
  border-radius: var(--border-radius);
}
.popular-games-slider-loader__bottom[data-v-ddb744ed] {
  display: grid;
  row-gap: 0.25rem;
}
.popular-games-slider-loader__bets[data-v-ddb744ed],
.popular-games-slider-loader__type[data-v-ddb744ed] {
  height: 1.875rem;
  width: 100%;
}
[dir] .popular-games-slider-loader__bets[data-v-ddb744ed],
[dir] .popular-games-slider-loader__type[data-v-ddb744ed] {
  background-color: Hsl(var(--hsl-clr-decent));
  border-radius: var(--border-radius);
}
.popular-games-slider__item[data-v-7df5c708] {
  height: 100%;
  width: 20rem;
}
.betting-content[data-v-74c71f40] {
  display: flex;
  flex-direction: column;
  row-gap: var(--betting-content-inner-indent, 0.5rem);
}
.betting-content__main[data-v-74c71f40] {
  flex-grow: 0;
}
