.ui-tax--theme-gray-60 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-gray-60 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-tax--theme-gray-60 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-gray-60 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--size-m .ui-tax__name[data-v-09d36edf],
.ui-tax--size-m .ui-tax__total[data-v-09d36edf] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.ui-tax--size-m .ui-tax__amount[data-v-09d36edf],
.ui-tax--size-m .ui-tax__label[data-v-09d36edf] {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
.ui-tax__head[data-v-09d36edf] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
[dir] .ui-tax__toggle[data-v-09d36edf] {
  border-bottom: 1px dashed;
}
.is-keyboard-user .ui-tax__toggle[data-v-09d36edf]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir] .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax__message[data-v-09d36edf] {
  border-radius: var(--border-radius);
  margin-top: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.ui-tax__item[data-v-09d36edf] {
  display: flex;
  justify-content: space-between;
}
[dir="ltr"] .ui-tax__label[data-v-09d36edf] {
  margin-right: 0.5rem;
}
[dir="rtl"] .ui-tax__label[data-v-09d36edf] {
  margin-left: 0.5rem;
}
.ui-tax__action[data-v-09d36edf] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
  justify-content: flex-start;
}
.ui-tax--size-l .ui-tax__amount[data-v-09d36edf],
.ui-tax--size-l .ui-tax__label[data-v-09d36edf],
.ui-tax--size-l .ui-tax__name[data-v-09d36edf],
.ui-tax--size-l .ui-tax__total[data-v-09d36edf] {
  font-size: 0.875rem;
  line-height: 1rem;
}
.ui-tax--theme-gray .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-gray .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-tax--theme-gray .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-gray .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--theme-gray-100 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-gray-100 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-tax--theme-gray-100 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-gray-100 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--theme-cyber--35 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-cyber--35 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--cyber--35-bg);
  --hsl-clr: var(--cyber--35-clr);
  --hsl-clr-accent: var(--cyber--35-clr-accent);
  --hsl-clr-decent: var(--cyber--35-clr-decent);
  --hsl-clr-strong: var(--cyber--35-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--35-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--35-clr-primary);
  --hsl-clr-good: var(--cyber--35-clr-good);
  --hsl-clr-bad: var(--cyber--35-clr-bad);
  --hsl-sep: var(--cyber--35-sep);
  --hsl-sep-alt: var(--cyber--35-sep-alt);
  color: Hsla(var(--hsl-clr-primary), 1);
}
[dir] .ui-tax--theme-cyber--35 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-cyber--35 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--theme-cyber--60 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-cyber--60 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--cyber--60-bg);
  --hsl-clr: var(--cyber--60-clr);
  --hsl-clr-accent: var(--cyber--60-clr-accent);
  --hsl-clr-decent: var(--cyber--60-clr-decent);
  --hsl-clr-strong: var(--cyber--60-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--60-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--60-clr-primary);
  --hsl-clr-good: var(--cyber--60-clr-good);
  --hsl-clr-bad: var(--cyber--60-clr-bad);
  --hsl-sep: var(--cyber--60-sep);
  --hsl-sep-alt: var(--cyber--60-sep-alt);
  color: Hsla(var(--hsl-clr-primary), 1);
}
[dir] .ui-tax--theme-cyber--60 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-cyber--60 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--theme-special-primary-90 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-special-primary-90 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--specialPrimary-90-bg);
  --hsl-clr: var(--specialPrimary-90-clr);
  --hsl-clr-accent: var(--specialPrimary-90-clr-accent);
  --hsl-clr-decent: var(--specialPrimary-90-clr-decent);
  --hsl-clr-strong: var(--specialPrimary-90-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary-90-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary-90-clr-primary);
  --hsl-clr-good: var(--specialPrimary-90-clr-good);
  --hsl-clr-bad: var(--specialPrimary-90-clr-bad);
  --hsl-sep: var(--specialPrimary-90-sep);
  --hsl-sep-alt: var(--specialPrimary-90-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .ui-tax--theme-special-primary-90 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-special-primary-90 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax--theme-special-primary-100 .ui-tax__list[data-v-09d36edf],
.ui-tax--theme-special-primary-100 .ui-tax__message[data-v-09d36edf] {
  --hsl-bg: var(--specialPrimary-100-bg);
  --hsl-clr: var(--specialPrimary-100-clr);
  --hsl-clr-accent: var(--specialPrimary-100-clr-accent);
  --hsl-clr-decent: var(--specialPrimary-100-clr-decent);
  --hsl-clr-strong: var(--specialPrimary-100-clr-strong);
  --hsl-clr-strong-alt: var(--specialPrimary-100-clr-strong-alt);
  --hsl-clr-primary: var(--specialPrimary-100-clr-primary);
  --hsl-clr-good: var(--specialPrimary-100-clr-good);
  --hsl-clr-bad: var(--specialPrimary-100-clr-bad);
  --hsl-sep: var(--specialPrimary-100-sep);
  --hsl-sep-alt: var(--specialPrimary-100-sep-alt);
  color: Hsla(var(--hsl-clr-decent), 1);
}
[dir] .ui-tax--theme-special-primary-100 .ui-tax__list[data-v-09d36edf],
[dir] .ui-tax--theme-special-primary-100 .ui-tax__message[data-v-09d36edf] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.ui-tax__info[data-v-09d36edf]:not(.ui-tax__info:hover) {
  color: Hsl(var(--hsl-clr-decent));
}
.ui-tax__info[data-v-09d36edf]:hover {
  color: Hsl(var(--hsl-clr));
}
.ui-tax__toggle[data-v-09d36edf]:hover {
  opacity: 0.8;
}
[dir] .ui-tax__item[data-v-09d36edf]:not(:first-child) {
  margin-top: 0.25rem;
}
