.ui-games-loader__item[data-v-00f75eb7] {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
[dir] .ui-games-loader__item[data-v-00f75eb7] {
  padding: 0.5rem;
}
[dir] .ui-games-loader__item[data-v-00f75eb7]:not(:first-child) {
  border-top: 1px solid;
}
.ui-games-loader__info[data-v-00f75eb7] {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.ui-games-loader__champ[data-v-00f75eb7],
.ui-games-loader__ico[data-v-00f75eb7],
.ui-games-loader__team[data-v-00f75eb7],
.ui-games-loader__time[data-v-00f75eb7] {
  display: inline-flex;
  min-height: 0.625rem;
}
[dir] .ui-games-loader__champ[data-v-00f75eb7],
[dir] .ui-games-loader__ico[data-v-00f75eb7],
[dir] .ui-games-loader__team[data-v-00f75eb7],
[dir] .ui-games-loader__time[data-v-00f75eb7] {
  background-color: currentColor;
  border-radius: var(--border-radius);
}
.ui-games-loader__champ[data-v-00f75eb7] {
  min-width: 5.625rem;
}
[dir] .ui-games-loader__champ[data-v-00f75eb7] {
  margin-bottom: 0.5rem;
}
.ui-games-loader__team[data-v-00f75eb7] {
  min-width: 9.375rem;
}
[dir] .ui-games-loader__team[data-v-00f75eb7] {
  margin-bottom: 0.25rem;
}
.ui-games-loader__time[data-v-00f75eb7] {
  min-width: 6.25rem;
}
.ui-games-loader__ico[data-v-00f75eb7] {
  min-width: 1.25rem;
}
