.top-events-info-game[data-v-49666e1b] {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.top-events-info-game__wrapper[data-v-49666e1b] {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}
.top-events-info-game__teams[data-v-49666e1b] {
  min-width: 0;
}
.top-events-info-game__team[data-v-49666e1b] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
}
[dir]
  .top-events-info-game__team
  + .top-events-info-game__team[data-v-49666e1b] {
  margin-top: 2px;
}
.top-events-info-game__favorite[data-v-49666e1b] {
  flex-shrink: 0;
}
[dir] .top-events-info-game__favorite[data-v-49666e1b] {
  margin-top: -0.25rem;
}
[dir="ltr"] .top-events-info-game__favorite[data-v-49666e1b] {
  margin-left: auto;
  margin-right: -0.25rem;
}
[dir="rtl"] .top-events-info-game__favorite[data-v-49666e1b] {
  margin-left: -0.25rem;
  margin-right: auto;
}
.top-events-info-game__info[data-v-49666e1b] {
  display: -webkit-box;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
[dir="ltr"] .top-events-info-game__info[data-v-49666e1b] {
  text-align: left;
}
[dir="rtl"] .top-events-info-game__info[data-v-49666e1b] {
  text-align: right;
}
.top-events-info-game:not(.top-events-info-game--is-live)
  .top-events-info-game__info[data-v-49666e1b] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.top-events-info-game-team__ico[data-v-49666e1b] {
  font-size: 0.75rem;
}
.top-events-info-game:not(.top-events-info-game--is-live)
  .top-events-info-game-team__caption[data-v-49666e1b] {
  color: Hsl(var(--hsl-clr-strong-alt));
}
.top-events-info-game-favorite[data-v-49666e1b] {
  color: Hsl(var(--hsl-clr-good));
}
[dir] .top-events-info-game-favorite[data-v-49666e1b] {
  padding: 0.25rem;
}
.is-keyboard-user .top-events-info-game-favorite[data-v-49666e1b]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.top-events-info-game-favorite__ico[data-v-49666e1b] {
  stroke: currentColor;
  fill-opacity: 0;
  stroke-width: 40;
}
[dir] .top-events-info-game-favorite__ico[data-v-49666e1b] {
  transition: fill-opacity 0.2s;
}
.top-events-info-game-favorite:hover
  .top-events-info-game-favorite__ico[data-v-49666e1b] {
  fill-opacity: 0.2;
}
.top-events-info-game-favorite--is-added
  .top-events-info-game-favorite__ico[data-v-49666e1b] {
  fill-opacity: 1;
}
.top-events-info-game-favorite--is-added:hover
  .top-events-info-game-favorite__ico[data-v-49666e1b] {
  fill-opacity: 0.8;
}
.top-events-info-events-dropdown[data-v-93d19da1] & {
  align-items: center;
  display: flex;
}
.top-events-info-events-dropdown__trigger[data-v-93d19da1] {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.top-events-info-events-dropdown__games[data-v-93d19da1],
.top-events-info-events-dropdown__scrollbar[data-v-93d19da1] {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
[dir] .top-events-info-events-dropdown__games[data-v-93d19da1],
[dir] .top-events-info-events-dropdown__scrollbar[data-v-93d19da1] {
  border-radius: var(--border-radius);
}
.top-events-info-events-dropdown__games[data-v-93d19da1] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  width: 14rem;
}
[dir] .top-events-info-events-dropdown__games[data-v-93d19da1] {
  background-color: Hsla(var(--hsl-bg), 1);
}
[dir] .top-events-info-events-dropdown__games[data-v-93d19da1] > :first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .top-events-info-events-dropdown__games[data-v-93d19da1] > :last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.top-events-info-events-dropdown__game[data-v-93d19da1] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .top-events-info-events-dropdown__game[data-v-93d19da1] {
  background-color: Hsla(var(--hsl-bg), 1);
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: background-color 0.2s linear;
}
[dir]
  .top-events-info-events-dropdown__game[data-v-93d19da1]:not(.top-events-info-events-dropdown__game--more) {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.top-events-info-events-dropdown__game[data-v-93d19da1]:not(.top-events-info-events-dropdown__game--more):hover {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
}
[dir] .top-events-info-events-dropdown__game--more[data-v-93d19da1] {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.top-events-info-events-dropdown-trigger[data-v-93d19da1] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  align-items: center;
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
}
[dir] .top-events-info-events-dropdown-trigger[data-v-93d19da1] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: inherit;
}
[dir="ltr"] .top-events-info-events-dropdown-trigger[data-v-93d19da1] {
  background-image: linear-gradient(
    90deg,
    Hsl(var(--primary-0-bg)) 0 45%,
    Hsl(var(--primary-75-bg))
  );
  padding-left: 0.75rem;
  padding-right: 5rem;
}
[dir="rtl"] .top-events-info-events-dropdown-trigger[data-v-93d19da1] {
  background-image: linear-gradient(
    -90deg,
    Hsl(var(--primary-0-bg)) 0 45%,
    Hsl(var(--primary-75-bg))
  );
  padding-left: 5rem;
  padding-right: 0.75rem;
}
[dir="ltr"] .top-events-info-events-dropdown-trigger[data-v-93d19da1]:hover {
  background-image: linear-gradient(
    90deg,
    Hsl(var(--primary--40-bg)) 0 45%,
    Hsl(var(--primary-75-bg))
  );
}
[dir="rtl"] .top-events-info-events-dropdown-trigger[data-v-93d19da1]:hover {
  background-image: linear-gradient(
    -90deg,
    Hsl(var(--primary--40-bg)) 0 45%,
    Hsl(var(--primary-75-bg))
  );
}
.top-events-info-events-dropdown-trigger__bg[data-v-93d19da1],
.top-events-info-events-dropdown-trigger__flag[data-v-93d19da1] {
  bottom: 0;
  position: absolute;
  will-change: transform;
}
[dir="ltr"] .top-events-info-events-dropdown-trigger__bg[data-v-93d19da1],
[dir="ltr"] .top-events-info-events-dropdown-trigger__flag[data-v-93d19da1] {
  right: 0;
  transform: scaleX(1);
}
[dir="rtl"] .top-events-info-events-dropdown-trigger__bg[data-v-93d19da1],
[dir="rtl"] .top-events-info-events-dropdown-trigger__flag[data-v-93d19da1] {
  left: 0;
  transform: scaleX(-1);
}
.top-events-info-events-dropdown-trigger__bg[data-v-93d19da1] {
  height: 100%;
}
.top-events-info-events-dropdown-trigger__flag[data-v-93d19da1] {
  max-width: 6.25rem;
}
.top-events-info-events-dropdown-trigger__caption[data-v-93d19da1] {
  position: relative;
}
.top-events-info-events[data-v-8edb6740] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  gap: 0.25rem;
  overflow: hidden;
  position: relative;
}
[dir] .top-events-info-events[data-v-8edb6740] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
}
.top-events-info-events__shadow[data-v-8edb6740] {
  content: "";
  position: absolute;
}
[dir] .top-events-info-events__shadow[data-v-8edb6740] {
  background-color: Hsl(var(--primary-75-bg));
}
.top-events-info-events__shadow[data-v-8edb6740]:first-child {
  filter: blur(0.375rem);
  height: 0.6875rem;
  top: 3px;
  width: 0.9375rem;
}
[dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:first-child {
  left: 1.5625rem;
}
[dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:first-child {
  right: 1.5625rem;
}
.top-events-info-events__shadow[data-v-8edb6740]:nth-child(2) {
  bottom: 0.3125rem;
  filter: blur(0.25rem);
  height: 0.375rem;
  width: 0.5rem;
}
[dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(2) {
  left: 13.4375rem;
}
[dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(2) {
  right: 13.4375rem;
}
@media (max-width: 1900px) {
  [dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(2) {
    left: 10.3125rem;
  }
  [dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(2) {
    right: 10.3125rem;
  }
}
.top-events-info-events__shadow[data-v-8edb6740]:nth-child(3) {
  filter: blur(1.875rem);
  height: 1.875rem;
  top: 0.3125rem;
  width: 6.25rem;
}
[dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(3) {
  left: -0.9375rem;
  transform: rotate(-25deg);
}
[dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(3) {
  right: -0.9375rem;
  transform: rotate(25deg);
}
.top-events-info-events__shadow[data-v-8edb6740]:nth-child(4) {
  bottom: -1.875rem;
  filter: blur(2.5rem);
  height: 2.3125rem;
  width: 6.875rem;
}
[dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(4) {
  left: 13.0625rem;
  transform: rotate(15deg);
}
[dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(4) {
  right: 13.0625rem;
  transform: rotate(-15deg);
}
@media (max-width: 1900px) {
  [dir="ltr"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(4) {
    left: 10rem;
  }
  [dir="rtl"] .top-events-info-events__shadow[data-v-8edb6740]:nth-child(4) {
    right: 10rem;
  }
}
.top-events-info-events__container[data-v-8edb6740] {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: 24.5625rem;
}
[dir] .top-events-info-events__container[data-v-8edb6740] {
  padding: 0.5rem 2.5rem;
}
@media (max-width: 1900px) {
  .top-events-info-events__container[data-v-8edb6740] {
    width: 21.4375rem;
  }
}
.top-events-info-events__link[data-v-8edb6740] {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
}
.is-keyboard-user .top-events-info-events__link[data-v-8edb6740]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.top-events-info-events__list[data-v-8edb6740],
.top-events-info-events__slider[data-v-8edb6740] {
  flex-grow: 1;
  height: 4rem;
  overflow: hidden;
}
.top-events-info-events__control[data-v-8edb6740] {
  bottom: 0;
  position: absolute;
}
[dir="ltr"] .top-events-info-events__control[data-v-8edb6740] {
  right: 0;
}
[dir="rtl"] .top-events-info-events__control[data-v-8edb6740] {
  left: 0;
}
.top-events-info-events[data-v-8edb6740] .top-events-info-events__dropdown,
.top-events-info-events[data-v-8edb6740] .top-events-info-events__dropdown > * {
  height: 100%;
  width: 100%;
}
.top-events-info-events-slider[data-v-8edb6740] {
  position: relative;
}
.top-events-info-events-slider[data-v-8edb6740]:after,
.top-events-info-events-slider[data-v-8edb6740]:before {
  content: "";
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2rem;
  z-index: 50;
}
[dir="ltr"]
  .top-events-info-events-slider--right-shadow[data-v-8edb6740]:after {
  background-image: linear-gradient(
    270deg,
    Hsla(var(--primary--20-bg)) 0,
    #fff0
  );
  right: 0;
}
[dir="rtl"]
  .top-events-info-events-slider--right-shadow[data-v-8edb6740]:after {
  background-image: linear-gradient(
    -270deg,
    Hsla(var(--primary--20-bg)) 0,
    #fff0
  );
  left: 0;
}
[dir="ltr"]
  .top-events-info-events-slider--left-shadow[data-v-8edb6740]:before {
  background-image: linear-gradient(
    90deg,
    Hsla(var(--primary--20-bg)) 0,
    #fff0
  );
  left: 0;
}
[dir="rtl"]
  .top-events-info-events-slider--left-shadow[data-v-8edb6740]:before {
  background-image: linear-gradient(
    -90deg,
    Hsla(var(--primary--20-bg)) 0,
    #fff0
  );
  right: 0;
}
.top-events-info-events-slider__slide[data-v-8edb6740] {
  flex-shrink: 0;
}
.top-events-info-events-slider[data-v-8edb6740] .swiper-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
[dir] .top-events-info-events-slider[data-v-8edb6740] .swiper-wrapper {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.top-events-info-events-list[data-v-8edb6740] {
  display: grid;
  justify-content: end;
  grid-gap: 3px;
}
[dir] .top-events-info-events-list[data-v-8edb6740] {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
[dir="ltr"] .top-events-info-events-list[data-v-8edb6740] {
  padding-right: 0.25rem;
}
[dir="rtl"] .top-events-info-events-list[data-v-8edb6740] {
  padding-left: 0.25rem;
}
@media (max-width: 1919.5px) {
  .top-events-info-events-list[data-v-8edb6740] {
    grid-template-columns: repeat(
      var(--top-events-info-events-list-items),
      1fr
    );
  }
}
@media (min-width: 1920px) {
  .top-events-info-events-list--items-2[data-v-8edb6740] {
    grid-template-columns: repeat(2, 25rem);
  }
  .top-events-info-events-list[data-v-8edb6740]:not(.top-events-info-events-list--items-2) {
    grid-template-columns: repeat(
      var(--top-events-info-events-list-items),
      1fr
    );
  }
}
.top-events-info-events-list__item[data-v-8edb6740] {
  min-width: 19.375rem;
}
.top-events-info-events-control[data-v-8edb6740] {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
[dir] .top-events-info-events-control[data-v-8edb6740] {
  padding-bottom: 0.25rem;
}
.top-events-info-events-control__arrow[data-v-8edb6740] {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}
.top-events-info-events-control__arrow[data-v-8edb6740]:not(.top-events-info-events-control__arrow.swiper-button-disabled):hover {
  color: Hsl(var(--hsl-clr-strong));
}
.top-events-info-events-control__arrow.swiper-button-disabled[data-v-8edb6740] {
  color: Hsl(var(--hsl-clr-decent));
}
.is-keyboard-user
  .top-events-info-events-control__arrow[data-v-8edb6740]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
