.column-apps[data-v-9fe5205d] {
  display: flex;
}
.column-apps__item[data-v-9fe5205d] {
  flex: auto 1 1;
}
[dir="ltr"] .column-apps__item[data-v-9fe5205d]:nth-child(n + 2) {
  margin-left: 0.625rem;
}
[dir="rtl"] .column-apps__item[data-v-9fe5205d]:nth-child(n + 2) {
  margin-right: 0.625rem;
}
.column-apps__link[data-v-9fe5205d] {
  font-size: 2rem;
  width: 100%;
}
[dir] .one-click-bet__trigger[data-v-fa16f377] {
  border-radius: var(--border-radius);
}
[dir="ltr"] .one-click-bet__trigger--is-open[data-v-fa16f377] {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
[dir="rtl"] .one-click-bet__trigger--is-open[data-v-fa16f377] {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.one-click-bet__dropdown[data-v-fa16f377] {
  min-width: 15.625rem;
}
[dir] .one-click-bet__dropdown[data-v-fa16f377] {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
[dir="ltr"] .one-click-bet__dropdown[data-v-fa16f377] {
  border-top-left-radius: var(--border-radius);
}
[dir="rtl"] .one-click-bet__dropdown[data-v-fa16f377] {
  border-top-right-radius: var(--border-radius);
}
.one-click-bet__form[data-v-fa16f377] {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
[dir] .one-click-bet__form[data-v-fa16f377] {
  padding: 0.5rem;
}
[dir] .one-click-bet__header[data-v-fa16f377] {
  border-bottom: 1px solid hsl(var(--hsl-sep));
  padding-bottom: 0.25rem;
}
[dir] .one-click-bet__legend[data-v-fa16f377] {
  margin-bottom: 0.25rem;
}
[dir] .one-click-bet__save[data-v-fa16f377] {
  margin-top: 0.25rem;
}
.one-click-bet-trigger[data-v-fa16f377] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  flex-direction: column;
  height: 3.75rem;
  justify-content: center;
}
[dir] .one-click-bet-trigger[data-v-fa16f377] {
  background-color: Hsla(var(--hsl-bg), 1);
  padding: 0.25rem;
}
.one-click-bet-trigger__ico[data-v-fa16f377] {
  display: flex;
  font-size: 1.125rem;
  justify-content: center;
}
[dir] .one-click-bet-trigger__tumbler[data-v-fa16f377] {
  margin-top: 1rem;
}
.one-click-bet-trigger__tumbler[data-v-fa16f377]:before {
  content: "";
  height: 1px;
  opacity: 0.15;
  position: absolute;
  top: -0.5rem;
  width: 100%;
}
[dir] .one-click-bet-trigger__tumbler[data-v-fa16f377]:before {
  background-color: currentColor;
}
[dir="ltr"] .one-click-bet-trigger__tumbler[data-v-fa16f377]:before {
  left: 50%;
  transform: translate(-50%);
}
[dir="rtl"] .one-click-bet-trigger__tumbler[data-v-fa16f377]:before {
  right: 50%;
  transform: translate(50%);
}
.rating-of-bookmakers[data-v-2a3463c5] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  min-height: 6.75rem;
}
[dir] .rating-of-bookmakers[data-v-2a3463c5] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}
.rating-of-bookmakers__pic[data-v-2a3463c5] {
  display: flex;
  flex-shrink: 0;
  height: 5.5rem;
  width: 5.5rem;
}
.rating-of-bookmakers__img[data-v-2a3463c5] {
  -o-object-fit: cover;
  object-fit: cover;
}
[dir="ltr"] .rating-of-bookmakers__description[data-v-2a3463c5] {
  margin-left: 0.75rem;
}
[dir="rtl"] .rating-of-bookmakers__description[data-v-2a3463c5] {
  margin-right: 0.75rem;
}
.rating-of-bookmakers-description__logo[data-v-2a3463c5] {
  max-width: 7.25rem;
}
.rating-of-bookmakers-description__info[data-v-2a3463c5] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
[dir] .rating-of-bookmakers-description__info[data-v-2a3463c5] {
  margin-top: 0.5rem;
}
.right-side-compact-widgets[data-v-91ea3bea] {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
}
.right-side-compact-widgets__item[data-v-91ea3bea] {
  width: var(--coupon-column-compact-width, 2rem);
  will-change: transform;
}
[dir="ltr"] .right-side-compact-widgets__item[data-v-91ea3bea] {
  transform: rotate(90deg);
}
[dir="rtl"] .right-side-compact-widgets__item[data-v-91ea3bea] {
  transform: rotate(-90deg);
}
.right-side-compact-widgets__content[data-v-91ea3bea] {
  width: 15.625rem;
}
[dir="ltr"] .right-side-compact-widgets__sell-coupons[data-v-91ea3bea] {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
[dir="rtl"] .right-side-compact-widgets__sell-coupons[data-v-91ea3bea] {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.right-side[data-v-14910c11] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
[dir] .right-side-register-button__caption[data-v-14910c11] {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.right-side-controls--are-compact[data-v-14910c11] {
  align-items: center;
  display: flex;
  height: var(--coupon-column-compact-width, 2rem);
  min-width: -moz-min-content;
  min-width: min-content;
}
[dir="ltr"] .right-side-controls--are-compact[data-v-14910c11] {
  transform: rotate(-90deg) translate(-100%);
  transform-origin: 0 0;
}
[dir="rtl"] .right-side-controls--are-compact[data-v-14910c11] {
  transform: rotate(90deg) translate(100%);
  transform-origin: 100% 0;
}
[dir="ltr"]
  .right-side-controls--are-compact
  .right-side-controls__register[data-v-14910c11] {
  margin-left: 0.5rem;
}
[dir="ltr"]
  .right-side-controls--are-compact
  .right-side-controls__widgets[data-v-14910c11],
[dir="rtl"]
  .right-side-controls--are-compact
  .right-side-controls__register[data-v-14910c11] {
  margin-right: 0.5rem;
}
[dir="rtl"]
  .right-side-controls--are-compact
  .right-side-controls__widgets[data-v-14910c11] {
  margin-left: 0.5rem;
}
.right-side-controls__bet[data-v-14910c11] {
  align-items: center;
  display: flex;
}
[dir="ltr"] .right-side-controls__bet[data-v-14910c11] {
  margin-left: 0.75rem;
  margin-right: 1.25rem;
  transform: rotate(90deg);
}
[dir="rtl"] .right-side-controls__bet[data-v-14910c11] {
  margin-left: 1.25rem;
  margin-right: 0.75rem;
  transform: rotate(-90deg);
}
.right-side-controls__express[data-v-14910c11] {
  flex-shrink: 0;
}
[dir="ltr"] .right-side-controls__express[data-v-14910c11] {
  margin-left: 0.5rem;
}
[dir="rtl"] .right-side-controls__express[data-v-14910c11] {
  margin-right: 0.5rem;
}
.right-side-button[data-v-14910c11] {
  color: Hsla(var(--hsl-clr), 0.6);
}
.right-side-button[data-v-14910c11]:hover {
  color: Hsl(var(--hsl-clr));
}
[dir] .right-side-registration-trustly[data-v-14910c11] {
  padding: 0.75rem 0.5rem 0.5rem;
}
