[dir] .default__notifications {
  margin-top: 0.75rem;
}
[dir] .default__notifications:not(.default__notifications--bottom) {
  margin-bottom: 2.25rem;
}
[dir] .default__notifications:not(.default__notifications--disabled-offset) {
  margin-left: 1rem;
  margin-right: 1rem;
}
.default__notifications--bottom {
  left: 50%;
  transform: translate(-50%);
}
.default__notifications--extended .vue-notification-wrapper {
  overflow: inherit;
}
.vue-notification-group {
  z-index: 10000;
}
@media print {
  @page {
    size: a4 landscape;
  }
}
.body--blurred #desktop-modals-container .v--final-modal-overlay,
.body--has-modal #desktop-modals-container .v--final-modal-overlay {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  background-color: Hsla(var(--custom-modal-overlay-bg, var(--hsl-bg)), 0.7);
  color: Hsl(var(--hsl-clr));
}
#desktop-modals-container.theme-cyber--60 .v--final-modal-overlay {
  background-color: Hsla(var(--hsl-bg), 0.7);
  color: Hsla(var(--hsl-bg), 1);
}
#desktop-modals-container.theme-cyber--60 .v--final-modal-overlay,
.body--blurred
  #desktop-modals-container.theme-cyber--60
  .v--final-modal-overlay {
  --hsl-bg: var(--cyber--60-bg);
  --hsl-clr: var(--cyber--60-clr);
  --hsl-clr-accent: var(--cyber--60-clr-accent);
  --hsl-clr-decent: var(--cyber--60-clr-decent);
  --hsl-clr-strong: var(--cyber--60-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--60-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--60-clr-primary);
  --hsl-clr-good: var(--cyber--60-clr-good);
  --hsl-clr-bad: var(--cyber--60-clr-bad);
  --hsl-sep: var(--cyber--60-sep);
  --hsl-sep-alt: var(--cyber--60-sep-alt);
}
#desktop-modals-container.theme-tp-gray--100 .v--final-modal-overlay {
  color: Hsla(var(--hsl-clr), 1);
}
#desktop-modals-container.theme-tp-gray--100 .v--final-modal-overlay,
.body--blurred
  #desktop-modals-container.theme-tp-gray--100
  .v--final-modal-overlay {
  --hsl-bg: var(--thirdPartyGray--100-bg);
  --hsl-clr: var(--thirdPartyGray--100-clr);
  --hsl-clr-accent: var(--thirdPartyGray--100-clr-accent);
  --hsl-clr-decent: var(--thirdPartyGray--100-clr-decent);
  --hsl-clr-strong: var(--thirdPartyGray--100-clr-strong);
  --hsl-clr-strong-alt: var(--thirdPartyGray--100-clr-strong-alt);
  --hsl-clr-primary: var(--thirdPartyGray--100-clr-primary);
  --hsl-clr-good: var(--thirdPartyGray--100-clr-good);
  --hsl-clr-bad: var(--thirdPartyGray--100-clr-bad);
  --hsl-sep: var(--thirdPartyGray--100-sep);
  --hsl-sep-alt: var(--thirdPartyGray--100-sep-alt);
  background-color: Hsla(var(--hsl-bg), 0.5);
}
#desktop-modals-container.theme-gray--80 .v--final-modal-overlay {
  background-color: Hsla(var(--hsl-bg), 0.4);
  color: Hsla(var(--hsl-clr), 1);
}
#desktop-modals-container.theme-gray--80 .v--final-modal-overlay,
.body--blurred
  #desktop-modals-container.theme-gray--80
  .v--final-modal-overlay {
  --hsl-bg: var(--gray--80-bg);
  --hsl-clr: var(--gray--80-clr);
  --hsl-clr-accent: var(--gray--80-clr-accent);
  --hsl-clr-decent: var(--gray--80-clr-decent);
  --hsl-clr-strong: var(--gray--80-clr-strong);
  --hsl-clr-strong-alt: var(--gray--80-clr-strong-alt);
  --hsl-clr-primary: var(--gray--80-clr-primary);
  --hsl-clr-good: var(--gray--80-clr-good);
  --hsl-clr-bad: var(--gray--80-clr-bad);
  --hsl-sep: var(--gray--80-sep);
  --hsl-sep-alt: var(--gray--80-sep-alt);
}
.body--blurred
  #desktop-modals-container.theme-gray--80
  .v--final-modal-overlay {
  background-color: Hsla(var(--hsl-bg), 0.7);
}
#desktop-modals-container.default__modals .vfm__container {
  display: block;
  height: 100vh;
  left: 0;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
#desktop-modals-container.default__modals .vfm__content {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}
[dir] .microfront-error__action[data-v-f1203e96] {
  margin-top: 1rem;
}
#teleports {
  flex-grow: 0;
}
.microfront-content[data-v-961d9b79] {
  display: flex;
  flex-direction: column;
}
.microfront-content[data-v-961d9b79] > * {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.microfront-content[data-v-961d9b79] > * > .default-layout-container {
  flex-grow: 1;
}
.microfront-content-preloader[data-v-961d9b79] {
  min-height: 80vh;
}
[dir] .microfront-content-preloader[data-v-961d9b79] {
  margin: auto;
}
.default-layout-container[data-v-754b5846],
.default-layout-container__inner[data-v-754b5846] {
  display: flex;
  flex-direction: column;
}
.default-layout-container__inner[data-v-754b5846] {
  flex-grow: 1;
}
.default-layout-container__inner[data-v-754b5846] > * {
  flex-grow: 1;
}
.mf-loading[data-v-754b5846] {
  align-items: center;
  display: flex;
  justify-content: center;
}
.mf-loading__circle[data-v-754b5846] {
  font-size: 3.125rem;
  height: 1em;
  width: 1em;
}
[dir] .mf-loading__circle[data-v-754b5846] {
  border: 0.1em solid hsl(var(--primary-0-bg, 0 0% 60%));
  border-radius: 50%;
}
[dir="ltr"] .mf-loading__circle[data-v-754b5846] {
  animation: mf-loading-rotate-ltr-754b5846 1.1s linear infinite;
  border-left: 0.1em solid hsl(var(--loading, 0 0% 96%));
}
[dir="rtl"] .mf-loading__circle[data-v-754b5846] {
  animation: mf-loading-rotate-rtl-754b5846 1.1s linear infinite;
  border-right: 0.1em solid hsl(var(--loading, 0 0% 96%));
}
@keyframes mf-loading-rotate-ltr-754b5846 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes mf-loading-rotate-rtl-754b5846 {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(-1turn);
  }
}
.scroll-pointer-events-none {
  will-change: scroll-position;
}
.scroll-pointer-events-none * {
  pointer-events: none;
}
