.ui-slider-slide[data-v-fdfb6bf3] {
  display: flex;
  position: relative;
}
.ui-slider-slide__background[data-v-fdfb6bf3] {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
[dir] .ui-slider-slide__background[data-v-fdfb6bf3] {
  border-radius: inherit;
}
[dir="ltr"] .ui-slider-slide__background[data-v-fdfb6bf3] {
  left: 0;
}
[dir="rtl"] .ui-slider-slide__background[data-v-fdfb6bf3] {
  right: 0;
}
[dir] .ui-slider-slide__background--stabilize-layer[data-v-fdfb6bf3] {
  transform: translateZ(0);
}
.ui-slider-slide__wrapper[data-v-fdfb6bf3] {
  display: flex;
  flex: auto;
  position: relative;
}
[dir] .ui-slider-slide__wrapper[data-v-fdfb6bf3] {
  border-radius: inherit;
}
.ui-slider-slide__container[data-v-fdfb6bf3] {
  flex: auto;
  max-width: 37.5rem;
}
@media (min-width: 1280px) {
  [xlang="my"] .ui-slider-slide__container[data-v-fdfb6bf3] {
    max-width: calc(100% - 28.75rem);
  }
}
.ui-slider-slide__title[data-v-fdfb6bf3] {
  font-weight: 700;
}
[xlang="bn"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="hi"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="hy"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="my"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="sd"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="ta"] .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 1.625rem;
  line-height: 1.875rem;
}
.ui-slider-slide__title[data-v-fdfb6bf3]:not(.ui-slider-slide__title--is-preserve-title-formatting) {
  text-transform: uppercase;
}
[dir] .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.5rem;
}
[dir] .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 1rem;
}
.is-keyboard-user
  .ui-slider-slide:focus
  .ui-slider-slide__wrapper[data-v-fdfb6bf3] {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.ui-slider-slide-container[data-v-fdfb6bf3] {
  display: flex;
  flex-direction: column;
}
[dir] .ui-slider-slide-container[data-v-fdfb6bf3] {
  border-radius: inherit;
  padding: var(--ui-slider-slide-container-padding, 0.5rem 2.5rem);
}
.ui-slider-slide-container--is-content-vertical-centered[data-v-fdfb6bf3] {
  justify-content: center;
}
.ui-slider-slide-container--is-content-bottom-center[data-v-fdfb6bf3] {
  align-items: center;
  justify-content: flex-end;
}
[dir] .ui-slider-slide-container--is-content-bottom-center[data-v-fdfb6bf3] {
  text-align: center;
}
.ui-slider-slide--size-xl .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 45.625rem;
}
[dir] .ui-slider-slide--size-xl .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 3.125rem 3.125rem 4.375rem;
}
.ui-slider-slide--size-xl .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 2.1875rem;
  line-height: 2.5rem;
}
.ui-slider-slide--size-xl .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
[dir] .ui-slider-slide--size-xl .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.75rem;
}
[dir]
  .ui-slider-slide--size-xl
  .ui-slider-slide__text
  + .ui-slider-slide__content[data-v-fdfb6bf3],
[dir]
  .ui-slider-slide--size-xl
  .ui-slider-slide__title
  + .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 2.5rem;
}
.ui-slider-slide--size-l .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 39.75rem;
}
[dir] .ui-slider-slide--size-l .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1.5625rem 5.5rem;
}
.ui-slider-slide--size-l .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 2.1875rem;
  line-height: 2.5rem;
}
.ui-slider-slide--size-l .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 1rem;
  line-height: 1.25rem;
}
[dir] [xlang="bn"] .ui-slider-slide__container[data-v-fdfb6bf3],
[dir] [xlang="hi"] .ui-slider-slide__container[data-v-fdfb6bf3],
[dir] [xlang="hy"] .ui-slider-slide__container[data-v-fdfb6bf3],
[dir] [xlang="my"] .ui-slider-slide__container[data-v-fdfb6bf3],
[dir] [xlang="sd"] .ui-slider-slide__container[data-v-fdfb6bf3],
[dir] [xlang="ta"] .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding-bottom: 1.5rem;
}
[xlang="bn"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="hi"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="hy"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="my"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="sd"] .ui-slider-slide__title[data-v-fdfb6bf3],
[xlang="ta"] .ui-slider-slide__title[data-v-fdfb6bf3] {
  --tall-langs-line-height: 2.75rem;
  font-size: 1.5rem;
  line-height: 2.75rem;
}
[xlang="bn"] .ui-slider-slide__text[data-v-fdfb6bf3],
[xlang="hi"] .ui-slider-slide__text[data-v-fdfb6bf3],
[xlang="hy"] .ui-slider-slide__text[data-v-fdfb6bf3],
[xlang="my"] .ui-slider-slide__text[data-v-fdfb6bf3],
[xlang="sd"] .ui-slider-slide__text[data-v-fdfb6bf3],
[xlang="ta"] .ui-slider-slide__text[data-v-fdfb6bf3] {
  --tall-langs-line-height: 1.5rem;
}
[dir] [xlang="bn"] .ui-slider-slide__text[data-v-fdfb6bf3],
[dir] [xlang="hi"] .ui-slider-slide__text[data-v-fdfb6bf3],
[dir] [xlang="hy"] .ui-slider-slide__text[data-v-fdfb6bf3],
[dir] [xlang="my"] .ui-slider-slide__text[data-v-fdfb6bf3],
[dir] [xlang="sd"] .ui-slider-slide__text[data-v-fdfb6bf3],
[dir] [xlang="ta"] .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.25rem;
}
[dir] [xlang="bn"] .ui-slider-slide__content[data-v-fdfb6bf3],
[dir] [xlang="hi"] .ui-slider-slide__content[data-v-fdfb6bf3],
[dir] [xlang="hy"] .ui-slider-slide__content[data-v-fdfb6bf3],
[dir] [xlang="my"] .ui-slider-slide__content[data-v-fdfb6bf3],
[dir] [xlang="sd"] .ui-slider-slide__content[data-v-fdfb6bf3],
[dir] [xlang="ta"] .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 0.5rem;
}
.ui-slider-slide--size-m .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 2.1875rem;
  line-height: 2.625rem;
}
.ui-slider-slide--size-m .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.875rem;
  line-height: 1rem;
}
.ui-slider-slide--size-s .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 1.625rem;
  line-height: 1.875rem;
}
.ui-slider-slide--size-s .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.875rem;
  line-height: 1rem;
}
.ui-slider-slide--size-xs .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 70%;
}
[dir] .ui-slider-slide--size-xs .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1rem;
}
.ui-slider-slide--size-xs .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.ui-slider-slide--size-xs .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.75rem;
  line-height: 0.875rem;
}
[dir] .ui-slider-slide--size-xs .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.25rem;
}
[dir] .ui-slider-slide--size-xs .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 0.75rem;
}
.ui-slider-slide--size-xxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 78%;
}
[dir] .ui-slider-slide--size-xxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1rem;
}
[dir] .ui-slider-slide--size-xxs .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 0.75rem;
}
.ui-slider-slide--size-xxs .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.ui-slider-slide--size-xxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
[dir] .ui-slider-slide--size-xxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.25rem;
}
.ui-slider-slide--size-xxxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 70%;
}
[dir] .ui-slider-slide--size-xxxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1rem;
}
[dir] .ui-slider-slide--size-xxxs .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 1rem;
}
.ui-slider-slide--size-xxxs .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
}
.ui-slider-slide--size-xxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.625rem;
  line-height: 0.6875rem;
}
[dir] .ui-slider-slide--size-xxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.25rem;
}
.ui-slider-slide--size-xxxxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 80%;
}
[dir]
  .ui-slider-slide--size-xxxxs
  .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1rem;
}
[dir] .ui-slider-slide--size-xxxxs .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 0.75rem;
}
.ui-slider-slide--size-xxxxs .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.ui-slider-slide--size-xxxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
[dir] .ui-slider-slide--size-xxxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.25rem;
}
.ui-slider-slide--size-xxxxxxs .ui-slider-slide__container[data-v-fdfb6bf3] {
  max-width: 66%;
}
[dir]
  .ui-slider-slide--size-xxxxxxs
  .ui-slider-slide__container[data-v-fdfb6bf3] {
  padding: 1rem;
}
[dir]
  .ui-slider-slide--size-xxxxxxs
  .ui-slider-slide__content[data-v-fdfb6bf3] {
  margin-top: 1rem;
}
.ui-slider-slide--size-xxxxxxs .ui-slider-slide__title[data-v-fdfb6bf3] {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
}
.ui-slider-slide--size-xxxxxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}
[dir] .ui-slider-slide--size-xxxxxxs .ui-slider-slide__text[data-v-fdfb6bf3] {
  margin-top: 0.75rem;
}
