.template-slide__subtitle[data-v-0858618f],
.template-slide__title[data-v-0858618f] {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.template-slide--only-subtitle .template-slide__subtitle[data-v-0858618f] {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.template-slide[data-v-0858618f] {
  --hsl-bg: var(--gray--100-bg);
  --hsl-clr: var(--gray--100-clr);
  --hsl-clr-accent: var(--gray--100-clr-accent);
  --hsl-clr-decent: var(--gray--100-clr-decent);
  --hsl-clr-strong: var(--gray--100-clr-strong);
  --hsl-clr-strong-alt: var(--gray--100-clr-strong-alt);
  --hsl-clr-primary: var(--gray--100-clr-primary);
  --hsl-clr-good: var(--gray--100-clr-good);
  --hsl-clr-bad: var(--gray--100-clr-bad);
  --hsl-sep: var(--gray--100-sep);
  --hsl-sep-alt: var(--gray--100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .template-slide[data-v-0858618f] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.template-slide__bg[data-v-0858618f] {
  flex: auto;
  position: relative;
}
[dir] .template-slide__bg[data-v-0858618f] {
  border-radius: inherit;
}
.template-slide-bg[data-v-0858618f] {
  --width-image-proportions: calc(
    var(--banner-height) * var(--width-image-size) / var(--height-image-size)
  );
}
.template-slide-bg__img[data-v-0858618f] {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: var(--brand-slide-width);
}
[dir] .template-slide-bg__img[data-v-0858618f] {
  border-radius: inherit;
}
[dir="ltr"] .template-slide-bg__img[data-v-0858618f] {
  -o-object-position: right center;
  object-position: right center;
  right: 0;
}
[dir="rtl"] .template-slide-bg__img[data-v-0858618f] {
  left: 0;
  -o-object-position: left center;
  object-position: left center;
}
@media (max-width: 1600px) {
  .template-slide-bg__img[data-v-0858618f] {
    -o-object-position: center;
    object-position: center;
  }
}
.template-slide-bg--filled .template-slide-bg__img[data-v-0858618f] {
  -o-object-fit: fill;
  object-fit: fill;
}
.template-slide--autoshadow .template-slide-auto-shadow[data-v-0858618f] {
  --width-image-proportions: calc(
    var(--banner-height) * var(--width-image-size) / var(--height-image-size)
  );
  --empty-space: calc(100% - var(--width-image-proportions));
  --opacity-attack-effective: max(
    0px,
    min(var(--opacity-attack), calc(var(--empty-space) * 1000))
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
[dir] .template-slide--autoshadow .template-slide-auto-shadow[data-v-0858618f] {
  border-radius: inherit;
}
.template-slide--autoshadow
  .template-slide-auto-shadow--is-image-center[data-v-0858618f] {
  --empty-space: calc((100% - var(--width-image-proportions)) / 2);
}
[dir="ltr"]
  .template-slide--autoshadow
  .template-slide-auto-shadow[data-v-0858618f]:not(.template-slide--autoshadow
    .template-slide-auto-shadow--left) {
  background-image: linear-gradient(
    to right,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      max(var(--empty-space), 0%),
    hsla(0, 0%, 100%, 0)
      max(
        var(--empty-space) + var(--opacity-attack-effective),
        var(--opacity-attack-effective)
      )
  );
  right: 0;
}
[dir="ltr"]
  .template-slide--autoshadow
  .template-slide-auto-shadow--left[data-v-0858618f],
[dir="rtl"]
  .template-slide--autoshadow
  .template-slide-auto-shadow[data-v-0858618f]:not(.template-slide--autoshadow
    .template-slide-auto-shadow--left) {
  background-image: linear-gradient(
    to left,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      max(var(--empty-space), 0%),
    hsla(0, 0%, 100%, 0)
      max(
        var(--empty-space) + var(--opacity-attack-effective),
        var(--opacity-attack-effective)
      )
  );
  left: 0;
}
[dir="rtl"]
  .template-slide--autoshadow
  .template-slide-auto-shadow--left[data-v-0858618f] {
  background-image: linear-gradient(
    to right,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      max(var(--empty-space), 0%),
    hsla(0, 0%, 100%, 0)
      max(
        var(--empty-space) + var(--opacity-attack-effective),
        var(--opacity-attack-effective)
      )
  );
  right: 0;
}
[dir="ltr"]
  .template-slide--autoshadow.template-slide--content-backdrop
  .template-slide-auto-shadow[data-v-0858618f]:not(.template-slide-auto-shadow--not-backdrop, .template-slide-auto-shadow--left) {
  background-image: linear-gradient(
    to right,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      max(var(--empty-space), var(--content-width) - var(--opacity-attack)),
    hsla(0, 0%, 100%, 0)
      max(
        var(--empty-space) + var(--opacity-attack-effective),
        var(--content-width)
      )
  );
}
[dir="rtl"]
  .template-slide--autoshadow.template-slide--content-backdrop
  .template-slide-auto-shadow[data-v-0858618f]:not(.template-slide-auto-shadow--not-backdrop, .template-slide-auto-shadow--left) {
  background-image: linear-gradient(
    to left,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      max(var(--empty-space), var(--content-width) - var(--opacity-attack)),
    hsla(0, 0%, 100%, 0)
      max(
        var(--empty-space) + var(--opacity-attack-effective),
        var(--content-width)
      )
  );
}
.template-slide--content-backdrop
  .template-slide-content-backdrop[data-v-0858618f] {
  --width-image-proportions: calc(
    var(--banner-height) * var(--width-image-size) / var(--height-image-size)
  );
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
[dir]
  .template-slide--content-backdrop
  .template-slide-content-backdrop[data-v-0858618f] {
  border-radius: inherit;
}
[dir="ltr"]
  .template-slide--content-backdrop
  .template-slide-content-backdrop[data-v-0858618f] {
  background-image: linear-gradient(
    to right,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      calc(var(--content-width) - var(--opacity-attack)),
    hsla(0, 0%, 100%, 0) var(--content-width)
  );
  right: 0;
}
[dir="rtl"]
  .template-slide--content-backdrop
  .template-slide-content-backdrop[data-v-0858618f] {
  background-image: linear-gradient(
    to left,
    Hsl(
        var(
          --custom-banner-shadow-bg,
          var(--custom-template-shadow-color, var(--hsl-bg))
        )
      )
      calc(var(--content-width) - var(--opacity-attack)),
    hsla(0, 0%, 100%, 0) var(--content-width)
  );
  left: 0;
}
.template-slide--autoshadow.template-slide--content-backdrop
  .template-slide-content-backdrop[data-v-0858618f] {
  display: none;
}
.template-slide[data-v-0858618f] {
  --width-image-size: var(--w-by-2560, var(--w-original));
  --height-image-size: var(--h-by-2560, var(--h-original));
}
@media (max-width: 1920px) {
  .template-slide[data-v-0858618f] {
    --width-image-size: var(--w-by-1920, var(--w-original));
    --height-image-size: var(--h-by-1920, var(--h-original));
  }
}
@media (max-width: 1680px) {
  .template-slide[data-v-0858618f] {
    --width-image-size: var(--w-by-1680, var(--w-original));
    --height-image-size: var(--h-by-1680, var(--h-original));
  }
}
@media (max-width: 1440px) {
  .template-slide[data-v-0858618f] {
    --width-image-size: var(--w-by-1440, var(--w-original));
    --height-image-size: var(--h-by-1440, var(--h-original));
  }
}
@media (max-width: 1350px) {
  .template-slide[data-v-0858618f] {
    --width-image-size: var(--w-by-1350, var(--w-original));
    --height-image-size: var(--h-by-1350, var(--h-original));
  }
}
@media (max-width: 1024px) {
  .template-slide[data-v-0858618f] {
    --width-image-size: var(--w-by-1024, var(--w-original));
    --height-image-size: var(--h-by-1024, var(--h-original));
  }
}
.template-slide[data-v-0858618f] {
  --banner-height: 15.5rem;
  --ui-slider-slide-container-padding: 0.5rem 2rem 0.5rem 3.5rem;
  min-height: var(--banner-height);
}
.template-loader[data-v-013c2b83]:before {
  content: "";
  display: block;
}
[dir] .template-loader[data-v-013c2b83]:before {
  background-color: currentColor;
}
.template-loader[data-v-013c2b83]:before {
  height: 15.5rem;
}
[dir] .template-loader[data-v-013c2b83]:before {
  border-radius: var(--border-radius);
}
.template-index[data-v-17554614] {
  --ui-slider-pagination-custom-bottom-margin: 0.75rem;
  overflow: hidden;
}
[dir] .template-index[data-v-17554614] {
  border-radius: var(--border-radius);
}
