.header-double-row-navbar--theme-accent[data-v-e68b607a] {
  --hsl-bg: var(--accent-0-bg);
  --hsl-clr: var(--accent-0-clr);
  --hsl-clr-accent: var(--accent-0-clr-accent);
  --hsl-clr-decent: var(--accent-0-clr-decent);
  --hsl-clr-strong: var(--accent-0-clr-strong);
  --hsl-clr-strong-alt: var(--accent-0-clr-strong-alt);
  --hsl-clr-primary: var(--accent-0-clr-primary);
  --hsl-clr-good: var(--accent-0-clr-good);
  --hsl-clr-bad: var(--accent-0-clr-bad);
  --hsl-sep: var(--accent-0-sep);
  --hsl-sep-alt: var(--accent-0-sep-alt);
}
.header-double-row-navbar--theme-primary[data-v-e68b607a] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
}
.header-double-row-navbar--theme-primary--20[data-v-e68b607a] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
}
.header-double-row-navbar--theme-primary--40[data-v-e68b607a] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
}
.header-double-row-navbar[data-v-e68b607a] {
  color: Hsl(var(--hsl-clr));
  -moz-column-gap: var(--header-bottom-column-gap, 1rem);
  column-gap: var(--header-bottom-column-gap, 1rem);
  display: flex;
}
[dir] .header-double-row-navbar[data-v-e68b607a] {
  padding-bottom: var(--header-bottom-padding-bottom, 0.25rem);
  padding-top: var(--header-bottom-padding-top, 0.25rem);
}
[dir="ltr"] .header-double-row-navbar[data-v-e68b607a] {
  padding-left: var(--header-bottom-padding-left, 0.25rem);
  padding-right: var(--header-bottom-padding-right, 0.25rem);
}
[dir="rtl"] .header-double-row-navbar[data-v-e68b607a] {
  padding-left: var(--header-bottom-padding-right, 0.25rem);
  padding-right: var(--header-bottom-padding-left, 0.25rem);
}
[dir]
  .header-double-row-navbar[data-v-e68b607a]:not(.header-double-row-navbar--gradient) {
  background-color: Hsl(var(--custom-header-bottom-bg, var(--hsl-bg)));
}
[dir] .header-double-row-navbar--gradient[data-v-e68b607a] {
  border-radius: var(--border-radius);
}
[dir="ltr"] .header-double-row-navbar--gradient[data-v-e68b607a] {
  background-image: linear-gradient(
    270deg,
    Hsla(var(--custom-header-bottom-bg, var(--hsl-bg)), 0.1) 0,
    Hsl(var(--custom-header-bottom-bg, var(--hsl-bg))) 23.68%
  );
}
[dir="rtl"] .header-double-row-navbar--gradient[data-v-e68b607a] {
  background-image: linear-gradient(
    -270deg,
    Hsla(var(--custom-header-bottom-bg, var(--hsl-bg)), 0.1) 0,
    Hsl(var(--custom-header-bottom-bg, var(--hsl-bg))) 23.68%
  );
}
.header-double-row-navbar--angle[data-v-e68b607a] {
  min-height: 2.75rem;
  position: relative;
}
.header-double-row-navbar--angle[data-v-e68b607a]:before {
  bottom: 0;
  content: "";
  position: absolute;
}
[dir] .header-double-row-navbar--angle[data-v-e68b607a]:before {
  border: 1.375rem solid transparent;
  border-bottom: 1.375rem solid hsl(var(--hsl-bg));
}
[dir="ltr"] .header-double-row-navbar--angle[data-v-e68b607a]:before {
  border-right: 1.375rem solid hsl(var(--hsl-bg));
  right: 100%;
}
[dir="rtl"] .header-double-row-navbar--angle[data-v-e68b607a]:before {
  border-left: 1.375rem solid hsl(var(--hsl-bg));
  left: 100%;
}
.header-double-row-navbar--centered[data-v-e68b607a] {
  justify-content: center;
}
.header-double-row-navbar__nav[data-v-e68b607a] {
  min-width: 0;
}
[dir] .header-double-row-navbar__game-banner[data-v-e68b607a] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
[dir="ltr"] .header-double-row-navbar__link[data-v-e68b607a] {
  margin-left: auto;
  margin-right: 0.25rem;
}
[dir="rtl"] .header-double-row-navbar__link[data-v-e68b607a] {
  margin-left: 0.25rem;
  margin-right: auto;
}
.header-double-row-navbar-link[data-v-e68b607a] {
  align-items: center;
  display: flex;
}
.is-keyboard-user .header-double-row-navbar-link[data-v-e68b607a]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
[dir="ltr"] .header-double-row-navbar-link__text[data-v-e68b607a] {
  padding-left: 0.25rem;
}
[dir="rtl"] .header-double-row-navbar-link__text[data-v-e68b607a] {
  padding-right: 0.25rem;
}
.header-double-row-navbar-link__ico[data-v-e68b607a] {
  color: Hsl(var(--hsl-clr-decent));
}
[dir] .header-double-row-navbar-link__ico[data-v-e68b607a] {
  transition: transform 0.2s ease-in-out;
}
[dir]
  .header-double-row-navbar-link:hover
  .header-double-row-navbar-link__ico[data-v-e68b607a] {
  transform: scale(1.1);
}
.header-top[data-v-5bd201bf] {
  -moz-column-gap: var(--header-top-gap);
  column-gap: var(--header-top-gap);
  flex-grow: 1;
  min-height: var(--header-top-height, 3rem);
}
[dir="ltr"] .header-top__controls[data-v-5bd201bf] {
  margin-left: auto;
}
[dir="rtl"] .header-top__controls[data-v-5bd201bf] {
  margin-right: auto;
}
[dir="ltr"] .header-top__controls--outside[data-v-5bd201bf] {
  margin-right: -0.5rem;
}
[dir="rtl"] .header-top__controls--outside[data-v-5bd201bf] {
  margin-left: -0.5rem;
}
.header--theme-primary--20[data-v-98ff0d5d] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .header--theme-primary--20[data-v-98ff0d5d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.header--theme-primary--30[data-v-98ff0d5d] {
  --hsl-bg: var(--primary--30-bg);
  --hsl-clr: var(--primary--30-clr);
  --hsl-clr-accent: var(--primary--30-clr-accent);
  --hsl-clr-decent: var(--primary--30-clr-decent);
  --hsl-clr-strong: var(--primary--30-clr-strong);
  --hsl-clr-strong-alt: var(--primary--30-clr-strong-alt);
  --hsl-clr-primary: var(--primary--30-clr-primary);
  --hsl-clr-good: var(--primary--30-clr-good);
  --hsl-clr-bad: var(--primary--30-clr-bad);
  --hsl-sep: var(--primary--30-sep);
  --hsl-sep-alt: var(--primary--30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .header--theme-primary--30[data-v-98ff0d5d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.header--theme-primary--40[data-v-98ff0d5d] {
  --hsl-bg: var(--primary--40-bg);
  --hsl-clr: var(--primary--40-clr);
  --hsl-clr-accent: var(--primary--40-clr-accent);
  --hsl-clr-decent: var(--primary--40-clr-decent);
  --hsl-clr-strong: var(--primary--40-clr-strong);
  --hsl-clr-strong-alt: var(--primary--40-clr-strong-alt);
  --hsl-clr-primary: var(--primary--40-clr-primary);
  --hsl-clr-good: var(--primary--40-clr-good);
  --hsl-clr-bad: var(--primary--40-clr-bad);
  --hsl-sep: var(--primary--40-sep);
  --hsl-sep-alt: var(--primary--40-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .header--theme-primary--40[data-v-98ff0d5d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.header--theme-primary--60[data-v-98ff0d5d] {
  --hsl-bg: var(--primary--60-bg);
  --hsl-clr: var(--primary--60-clr);
  --hsl-clr-accent: var(--primary--60-clr-accent);
  --hsl-clr-decent: var(--primary--60-clr-decent);
  --hsl-clr-strong: var(--primary--60-clr-strong);
  --hsl-clr-strong-alt: var(--primary--60-clr-strong-alt);
  --hsl-clr-primary: var(--primary--60-clr-primary);
  --hsl-clr-good: var(--primary--60-clr-good);
  --hsl-clr-bad: var(--primary--60-clr-bad);
  --hsl-sep: var(--primary--60-sep);
  --hsl-sep-alt: var(--primary--60-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .header--theme-primary--60[data-v-98ff0d5d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.header--theme-tp-gray--10[data-v-98ff0d5d] {
  --hsl-bg: var(--thirdPartyGray--10-bg);
  --hsl-clr: var(--thirdPartyGray--10-clr);
  --hsl-clr-accent: var(--thirdPartyGray--10-clr-accent);
  --hsl-clr-decent: var(--thirdPartyGray--10-clr-decent);
  --hsl-clr-strong: var(--thirdPartyGray--10-clr-strong);
  --hsl-clr-strong-alt: var(--thirdPartyGray--10-clr-strong-alt);
  --hsl-clr-primary: var(--thirdPartyGray--10-clr-primary);
  --hsl-clr-good: var(--thirdPartyGray--10-clr-good);
  --hsl-clr-bad: var(--thirdPartyGray--10-clr-bad);
  --hsl-sep: var(--thirdPartyGray--10-sep);
  --hsl-sep-alt: var(--thirdPartyGray--10-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .header--theme-tp-gray--10[data-v-98ff0d5d] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.header[data-v-98ff0d5d] {
  display: grid;
  grid-template-columns: auto 1fr;
}
[dir] .header[data-v-98ff0d5d] {
  box-shadow: 0 0 0.625rem Hsla(var(--hsl-bg), 0.5);
}
@media print {
  .header[data-v-98ff0d5d] {
    display: none;
  }
}
.header[data-v-98ff0d5d]:not(.header--big-logo) {
  grid-template-areas: "logo top" "bottom bottom";
}
.header--big-logo[data-v-98ff0d5d] {
  grid-template-areas: "logo top" "logo bottom";
}
[dir] .header--indented[data-v-98ff0d5d] {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
[dir] .header--indented .header__bottom[data-v-98ff0d5d] {
  border-radius: var(--border-radius);
}
.header__logo[data-v-98ff0d5d] {
  display: flex;
  grid-area: logo;
}
.header__top[data-v-98ff0d5d] {
  align-items: center;
  display: flex;
  grid-area: top;
}
[dir="ltr"] .header__top[data-v-98ff0d5d] {
  margin-left: var(--header-top-margin-left);
}
[dir="rtl"] .header__top[data-v-98ff0d5d] {
  margin-right: var(--header-top-margin-left);
}
[dir="ltr"] .header__pattern[data-v-98ff0d5d] {
  margin-right: 0.25rem;
}
[dir="rtl"] .header__pattern[data-v-98ff0d5d] {
  margin-left: 0.25rem;
}
[dir] .header__img[data-v-98ff0d5d] {
  margin-bottom: var(--header-logo-margin-bottom);
  margin-top: var(--header-logo-margin-top);
}
[dir="ltr"] .header__img[data-v-98ff0d5d] {
  margin-left: var(--header-logo-margin-left, 0.5rem);
  margin-right: var(--header-logo-margin-right, 0.5rem);
}
[dir="rtl"] .header__img[data-v-98ff0d5d] {
  margin-left: var(--header-logo-margin-right, 0.5rem);
  margin-right: var(--header-logo-margin-left, 0.5rem);
}
.header__controls[data-v-98ff0d5d] {
  flex-shrink: 0;
}
[dir="ltr"] .header__controls[data-v-98ff0d5d] {
  margin-left: auto;
}
[dir="rtl"] .header__controls[data-v-98ff0d5d] {
  margin-right: auto;
}
[dir="ltr"] .header__controls--outside[data-v-98ff0d5d] {
  margin-right: -0.5rem;
}
[dir="rtl"] .header__controls--outside[data-v-98ff0d5d] {
  margin-left: -0.5rem;
}
.header__bottom[data-v-98ff0d5d] {
  grid-area: bottom;
}
[dir] .header__bottom[data-v-98ff0d5d] {
  margin-bottom: var(--header-bottom-margin-bottom);
}
[dir="ltr"] .header__bottom[data-v-98ff0d5d] {
  margin-left: var(--header-bottom-margin-left);
}
[dir="rtl"] .header__bottom[data-v-98ff0d5d] {
  margin-right: var(--header-bottom-margin-left);
}
