.account-select-loader-stub[data-v-a69ed1e6] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[dir] .account-select-loader-stub[data-v-a69ed1e6] {
  padding: 0.25em;
}
.account-select-loader-stub__currency[data-v-a69ed1e6],
.account-select-loader-stub__name[data-v-a69ed1e6] {
  align-items: center;
  display: flex;
  height: 0.75em;
  width: 100%;
}
.account-select-loader-stub__currency[data-v-a69ed1e6]:before,
.account-select-loader-stub__name[data-v-a69ed1e6]:before {
  content: "";
  height: 0.375em;
  width: 100%;
}
[dir] .account-select-loader-stub__currency[data-v-a69ed1e6]:before,
[dir] .account-select-loader-stub__name[data-v-a69ed1e6]:before {
  background-color: currentColor;
}
.account-select-loader-stub__name[data-v-a69ed1e6] {
  max-width: 3.75em;
  opacity: 0.8;
}
.account-select-loader-stub__currency[data-v-a69ed1e6] {
  max-width: 2.5em;
}
.account-select-dropdown__trigger[data-v-a3f8abae] {
  display: flex;
  flex: auto;
}
[dir] .account-select-dropdown__trigger[data-v-a3f8abae] {
  background-color: var(--account-select-dropdown-trigger-bg-color);
}
[dir="ltr"] .account-select-dropdown__trigger[data-v-a3f8abae] {
  border-bottom-left-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
  border-top-left-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
  padding-right: var(--account-select-dropdown-trigger-padding-right);
}
[dir="rtl"] .account-select-dropdown__trigger[data-v-a3f8abae] {
  padding-left: var(--account-select-dropdown-trigger-padding-right);
}
[dir="ltr"]
  .account-select-dropdown__trigger--border-radius-right[data-v-a3f8abae],
[dir="rtl"] .account-select-dropdown__trigger[data-v-a3f8abae] {
  border-bottom-right-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
  border-top-right-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
}
[dir="rtl"]
  .account-select-dropdown__trigger--border-radius-right[data-v-a3f8abae] {
  border-bottom-left-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
  border-top-left-radius: var(
    --ui-button-custom-border-radius,
    var(--border-radius)
  );
}
[dir="ltr"] .account-select-dropdown__trigger[data-v-a3f8abae] > :first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
[dir="ltr"] .account-select-dropdown__trigger[data-v-a3f8abae] > :last-child,
[dir="rtl"] .account-select-dropdown__trigger[data-v-a3f8abae] > :first-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}
[dir="rtl"] .account-select-dropdown__trigger[data-v-a3f8abae] > :last-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.account-select-dropdown__content[data-v-a3f8abae] {
  max-width: 25.125rem;
}
.balance-option[data-v-5268d451] {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: var(--balance-option-min-height, 2rem);
}
[dir] .balance-option[data-v-5268d451] {
  padding: 0.25rem 0.5rem;
}
[dir="ltr"] .balance-option__ico[data-v-5268d451] {
  margin-right: 0.25rem;
}
[dir="rtl"] .balance-option__ico[data-v-5268d451] {
  margin-left: 0.25rem;
}
.balance-option__wrapper[data-v-5268d451] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.balance-option__row[data-v-5268d451] {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
[dir] .balance-option__row[data-v-5268d451]:not(:last-child) {
  margin-bottom: var(--balance-option-row-indent);
}
.is-keyboard-user .balance-option[data-v-5268d451]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.balance-option--theme-gray-100[data-v-5268d451] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .balance-option--theme-gray-100[data-v-5268d451] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.balance-option--theme-gray-100.balance-option--is-active[data-v-5268d451] {
  --hsl-bg: var(--gray-0-bg);
  --hsl-clr: var(--gray-0-clr);
  --hsl-clr-accent: var(--gray-0-clr-accent);
  --hsl-clr-decent: var(--gray-0-clr-decent);
  --hsl-clr-strong: var(--gray-0-clr-strong);
  --hsl-clr-strong-alt: var(--gray-0-clr-strong-alt);
  --hsl-clr-primary: var(--gray-0-clr-primary);
  --hsl-clr-good: var(--gray-0-clr-good);
  --hsl-clr-bad: var(--gray-0-clr-bad);
  --hsl-sep: var(--gray-0-sep);
  --hsl-sep-alt: var(--gray-0-sep-alt);
}
.balance-option--theme-gray-100[data-v-5268d451]:hover,
.is-keyboard-user .balance-option--theme-gray-100[data-v-5268d451]:focus {
  --hsl-bg: var(--gray-60-bg);
  --hsl-clr: var(--gray-60-clr);
  --hsl-clr-accent: var(--gray-60-clr-accent);
  --hsl-clr-decent: var(--gray-60-clr-decent);
  --hsl-clr-strong: var(--gray-60-clr-strong);
  --hsl-clr-strong-alt: var(--gray-60-clr-strong-alt);
  --hsl-clr-primary: var(--gray-60-clr-primary);
  --hsl-clr-good: var(--gray-60-clr-good);
  --hsl-clr-bad: var(--gray-60-clr-bad);
  --hsl-sep: var(--gray-60-sep);
  --hsl-sep-alt: var(--gray-60-sep-alt);
}
.balance-option--theme-primary[data-v-5268d451] {
  --hsl-bg: var(--primary-0-bg);
  --hsl-clr: var(--primary-0-clr);
  --hsl-clr-accent: var(--primary-0-clr-accent);
  --hsl-clr-decent: var(--primary-0-clr-decent);
  --hsl-clr-strong: var(--primary-0-clr-strong);
  --hsl-clr-strong-alt: var(--primary-0-clr-strong-alt);
  --hsl-clr-primary: var(--primary-0-clr-primary);
  --hsl-clr-good: var(--primary-0-clr-good);
  --hsl-clr-bad: var(--primary-0-clr-bad);
  --hsl-sep: var(--primary-0-sep);
  --hsl-sep-alt: var(--primary-0-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .balance-option--theme-primary[data-v-5268d451] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.balance-option--theme-primary.balance-option--is-active[data-v-5268d451] {
  --hsl-bg: var(--gray-30-bg);
  --hsl-clr: var(--gray-30-clr);
  --hsl-clr-accent: var(--gray-30-clr-accent);
  --hsl-clr-decent: var(--gray-30-clr-decent);
  --hsl-clr-strong: var(--gray-30-clr-strong);
  --hsl-clr-strong-alt: var(--gray-30-clr-strong-alt);
  --hsl-clr-primary: var(--gray-30-clr-primary);
  --hsl-clr-good: var(--gray-30-clr-good);
  --hsl-clr-bad: var(--gray-30-clr-bad);
  --hsl-sep: var(--gray-30-sep);
  --hsl-sep-alt: var(--gray-30-sep-alt);
}
.balance-option--theme-primary[data-v-5268d451]:hover,
.is-keyboard-user .balance-option--theme-primary[data-v-5268d451]:focus {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
}
.balance-option--theme-primary--30[data-v-5268d451] {
  --hsl-bg: var(--primary--30-bg);
  --hsl-clr: var(--primary--30-clr);
  --hsl-clr-accent: var(--primary--30-clr-accent);
  --hsl-clr-decent: var(--primary--30-clr-decent);
  --hsl-clr-strong: var(--primary--30-clr-strong);
  --hsl-clr-strong-alt: var(--primary--30-clr-strong-alt);
  --hsl-clr-primary: var(--primary--30-clr-primary);
  --hsl-clr-good: var(--primary--30-clr-good);
  --hsl-clr-bad: var(--primary--30-clr-bad);
  --hsl-sep: var(--primary--30-sep);
  --hsl-sep-alt: var(--primary--30-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .balance-option--theme-primary--30[data-v-5268d451] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.balance-option--theme-primary--30.balance-option--is-active[data-v-5268d451],
.balance-option--theme-primary--30[data-v-5268d451]:hover,
.is-keyboard-user .balance-option--theme-primary--30[data-v-5268d451]:focus {
  --hsl-bg: var(--primary-5-bg);
  --hsl-clr: var(--primary-5-clr);
  --hsl-clr-accent: var(--primary-5-clr-accent);
  --hsl-clr-decent: var(--primary-5-clr-decent);
  --hsl-clr-strong: var(--primary-5-clr-strong);
  --hsl-clr-strong-alt: var(--primary-5-clr-strong-alt);
  --hsl-clr-primary: var(--primary-5-clr-primary);
  --hsl-clr-good: var(--primary-5-clr-good);
  --hsl-clr-bad: var(--primary-5-clr-bad);
  --hsl-sep: var(--primary-5-sep);
  --hsl-sep-alt: var(--primary-5-sep-alt);
}
.balance-option--theme-primary--20[data-v-5268d451] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .balance-option--theme-primary--20[data-v-5268d451] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.balance-option--theme-primary--20.balance-option--is-active[data-v-5268d451],
.balance-option--theme-primary--20[data-v-5268d451]:hover {
  --hsl-bg: var(--primary-15-bg);
  --hsl-clr: var(--primary-15-clr);
  --hsl-clr-accent: var(--primary-15-clr-accent);
  --hsl-clr-decent: var(--primary-15-clr-decent);
  --hsl-clr-strong: var(--primary-15-clr-strong);
  --hsl-clr-strong-alt: var(--primary-15-clr-strong-alt);
  --hsl-clr-primary: var(--primary-15-clr-primary);
  --hsl-clr-good: var(--primary-15-clr-good);
  --hsl-clr-bad: var(--primary-15-clr-bad);
  --hsl-sep: var(--primary-15-sep);
  --hsl-sep-alt: var(--primary-15-sep-alt);
}
.balance-dropdown--wide .balance-dropdown__options[data-v-46510435] {
  width: 25.125rem;
}
.balance-dropdown:not(.balance-dropdown--wide)
  .balance-dropdown__options[data-v-46510435] {
  width: 16.125rem;
}
.balance-dropdown__options[data-v-46510435] {
  max-width: 100%;
}
.balance-dropdown__option[data-v-46510435] {
  min-heght: 2rem;
}
[dir] .balance-dropdown__search[data-v-46510435] {
  border-bottom: 1px solid hsl(var(--hsl-sep));
  padding: 0.25rem;
}
.account-select-toggle__content[data-v-ec545346] {
  flex: auto;
  justify-content: center;
}
[dir="ltr"] .account-select-toggle__content[data-v-ec545346] {
  text-align: left;
}
[dir="rtl"] .account-select-toggle__content[data-v-ec545346] {
  text-align: right;
}
.account-select-toggle__name[data-v-ec545346],
.account-select-toggle__value[data-v-ec545346] {
  font-size: 0.6875rem;
  line-height: 0.6875rem;
}
.account-select-toggle__name[data-v-ec545346] {
  opacity: 0.8;
}
[dir] .account-select-toggle__value[data-v-ec545346] {
  margin-top: 2px;
}
[dir] .account-select-toggle__angle[data-v-ec545346] {
  transition: transform 0.2s ease;
}
[dir="ltr"] .account-select-toggle__angle[data-v-ec545346] {
  margin-right: 0.25rem;
}
[dir="rtl"] .account-select-toggle__angle[data-v-ec545346] {
  margin-left: 0.25rem;
}
.account-select-toggle:not(.account-select-toggle--is-toggled)
  .account-select-toggle__angle[data-v-ec545346] {
  color: var(--icon-angle-color);
}
.account-select-toggle--is-toggled
  .account-select-toggle__angle[data-v-ec545346] {
  color: var(--icon-angle-rotate-color);
}
[dir="ltr"]
  .account-select-toggle--is-toggled
  .account-select-toggle__angle[data-v-ec545346] {
  transform: rotate(180deg);
}
[dir="rtl"]
  .account-select-toggle--is-toggled
  .account-select-toggle__angle[data-v-ec545346] {
  transform: rotate(-180deg);
}
.account-select-toggle--without-angle
  .account-select-toggle__angle[data-v-ec545346] {
  display: none;
}
.balance[data-v-efe6e827] {
  min-width: var(--balance-min-width);
}
.balance__toggle[data-v-efe6e827] {
  flex-grow: 1;
  min-width: var(--balance-toggle-min-width, 9.0625rem);
}
[dir="ltr"] .balance__toggle[data-v-efe6e827] {
  padding-right: var(--balance-padding-right);
}
[dir="rtl"] .balance__toggle[data-v-efe6e827] {
  padding-left: var(--balance-padding-right);
}
@media (max-width: 1152px) {
  .balance__toggle[data-v-efe6e827] {
    min-width: var(--balance-toggle-narrow-min-width, 7.8125rem);
  }
}
.balance__value[data-v-efe6e827] {
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  display: flex;
  justify-content: start;
}
.balance-refresh[data-v-efe6e827] {
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  min-width: var(--balance-refresh-min-width, 2rem);
  position: relative;
}
[dir] .balance-refresh[data-v-efe6e827] {
  padding: var(--balance-refresh-padding, 0.25rem);
}
.balance-refresh--separator[data-v-efe6e827]:before {
  content: "";
  height: 70%;
  min-height: 1.375rem;
  opacity: 0.2;
  position: absolute;
  top: 50%;
}
[dir] .balance-refresh--separator[data-v-efe6e827]:before {
  transform: translateY(-50%);
  transition: opacity, 0.2s;
}
[dir="ltr"] .balance-refresh--separator[data-v-efe6e827]:before {
  border-right: 1px solid;
  right: 0;
}
[dir="rtl"] .balance-refresh--separator[data-v-efe6e827]:before {
  border-left: 1px solid;
  left: 0;
}
.balance-refresh:not(.balance-refresh--rotated)
  .balance-refresh__ico[data-v-efe6e827] {
  opacity: 0.8;
}
[dir]
  .balance-refresh:not(.balance-refresh--rotated)
  .balance-refresh__ico[data-v-efe6e827] {
  transition: opacity 0.2s;
}
.balance-refresh:hover
  .balance-refresh:not(.balance-refresh--rotated)
  .balance-refresh__ico[data-v-efe6e827] {
  opacity: 1;
}
.balance-refresh--rotated .balance-refresh__ico[data-v-efe6e827] {
  color: Hsl(var(--hsl-clr-decent));
}
[dir="ltr"] .balance-refresh--rotated .balance-refresh__ico[data-v-efe6e827] {
  transform: rotate(45deg);
}
[dir="rtl"] .balance-refresh--rotated .balance-refresh__ico[data-v-efe6e827] {
  transform: rotate(-45deg);
}
