.web-push-agree-modal[data-v-aee0e3ad] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
  position: fixed;
  top: 0.9375rem;
  width: 26.25rem;
  z-index: 2000;
}
[dir] .web-push-agree-modal[data-v-aee0e3ad] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2.5rem Hsla(var(--primary--85-bg), 0.7);
  padding: 1rem;
}
[dir="ltr"] .web-push-agree-modal[data-v-aee0e3ad] {
  left: 0.9375rem;
}
[dir="rtl"] .web-push-agree-modal[data-v-aee0e3ad] {
  right: 0.9375rem;
}
.web-push-agree-modal__buttons[data-v-aee0e3ad],
.web-push-agree-modal__title[data-v-aee0e3ad] {
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  display: flex;
}
[dir] .web-push-agree-modal__text[data-v-aee0e3ad] {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
