.support-multi-button-widget-form--theme-primary-100[data-v-2902094f] {
  --hsl-bg: var(--primary-100-bg);
  --hsl-clr: var(--primary-100-clr);
  --hsl-clr-accent: var(--primary-100-clr-accent);
  --hsl-clr-decent: var(--primary-100-clr-decent);
  --hsl-clr-strong: var(--primary-100-clr-strong);
  --hsl-clr-strong-alt: var(--primary-100-clr-strong-alt);
  --hsl-clr-primary: var(--primary-100-clr-primary);
  --hsl-clr-good: var(--primary-100-clr-good);
  --hsl-clr-bad: var(--primary-100-clr-bad);
  --hsl-sep: var(--primary-100-sep);
  --hsl-sep-alt: var(--primary-100-sep-alt);
  color: Hsla(var(--hsl-clr-strong), 1);
}
[dir] .support-multi-button-widget-form--theme-primary-100[data-v-2902094f] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.support-multi-button-widget-form--theme-gray-100[data-v-2902094f] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsla(var(--hsl-clr-strong), 1);
}
[dir] .support-multi-button-widget-form--theme-gray-100[data-v-2902094f] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.support-multi-button-widget[data-v-2902094f] {
  --hsl-bg: var(--gray-100-bg);
  --hsl-clr: var(--gray-100-clr);
  --hsl-clr-accent: var(--gray-100-clr-accent);
  --hsl-clr-decent: var(--gray-100-clr-decent);
  --hsl-clr-strong: var(--gray-100-clr-strong);
  --hsl-clr-strong-alt: var(--gray-100-clr-strong-alt);
  --hsl-clr-primary: var(--gray-100-clr-primary);
  --hsl-clr-good: var(--gray-100-clr-good);
  --hsl-clr-bad: var(--gray-100-clr-bad);
  --hsl-sep: var(--gray-100-sep);
  --hsl-sep-alt: var(--gray-100-sep-alt);
  color: Hsl(var(--custom-support-multi-button-widget-clr, var(--hsl-clr)));
}
[dir] .support-multi-button-widget[data-v-2902094f] {
  background-color: Hsl(
    var(--custom-support-multi-button-widget-bg, var(--hsl-bg))
  );
  border: 1px solid
    hsl(var(--custom-support-multi-button-widget-border, var(--gray-30-sep)));
  border-radius: var(--border-radius);
  margin-bottom: 0.25rem;
}
.support-multi-button-widget__link[data-v-2902094f] {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}
[dir] .support-multi-button-widget__link[data-v-2902094f] {
  padding: 0.5rem;
}
[dir] .support-multi-button-widget__link[data-v-2902094f]:nth-child(n + 2) {
  border-top: 1px solid
    hsl(var(--custom-support-multi-button-widget-sep, var(--gray-30-sep)));
}
.support-multi-button-widget__link[data-v-2902094f]:hover {
  --hsl-bg: var(--gray-80-bg);
  --hsl-clr: var(--gray-80-clr);
  --hsl-clr-accent: var(--gray-80-clr-accent);
  --hsl-clr-decent: var(--gray-80-clr-decent);
  --hsl-clr-strong: var(--gray-80-clr-strong);
  --hsl-clr-strong-alt: var(--gray-80-clr-strong-alt);
  --hsl-clr-primary: var(--gray-80-clr-primary);
  --hsl-clr-good: var(--gray-80-clr-good);
  --hsl-clr-bad: var(--gray-80-clr-bad);
  --hsl-sep: var(--gray-80-sep);
  --hsl-sep-alt: var(--gray-80-sep-alt);
  color: Hsl(var(--custom-support-multi-button-widget-clr, var(--hsl-clr)));
}
[dir] .support-multi-button-widget__link[data-v-2902094f]:hover {
  background-color: Hsl(
    var(--custom-support-multi-button-widget-bg-hover, var(--hsl-bg))
  );
}
[dir] .support-multi-button-widget__link[data-v-2902094f]:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
[dir] .support-multi-button-widget__link[data-v-2902094f]:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.is-keyboard-user .support-multi-button-widget__link[data-v-2902094f]:focus {
  outline: 1px solid Hsl(var(--focus));
  outline-offset: -1px;
}
.support-multi-button-widget__ico[data-v-2902094f] {
  color: Hsl(
    var(--custom-support-multi-button-widget-ico, var(--primary-75-bg))
  );
}
.support-multi-button-widget__marker[data-v-2902094f] {
  position: absolute;
  top: 0.5rem;
}
[dir="ltr"] .support-multi-button-widget__marker[data-v-2902094f] {
  left: 1.375rem;
}
[dir="rtl"] .support-multi-button-widget__marker[data-v-2902094f] {
  right: 1.375rem;
}
[dir="ltr"] .support-multi-button-widget__text[data-v-2902094f] {
  margin-left: 0.5rem;
}
[dir="rtl"] .support-multi-button-widget__text[data-v-2902094f] {
  margin-right: 0.5rem;
}
.support-multi-button-widget-form[data-v-2902094f] {
  position: fixed;
  width: 25rem;
  z-index: 50;
}
[dir] .support-multi-button-widget-form[data-v-2902094f] {
  border-radius: var(--border-radius);
  box-shadow: 0 3px 1.125rem Hsla(var(--primary--40-bg), 0.5);
}
.support-multi-button-widget-form[data-v-2902094f]:not(.support-multi-button-widget-form--compact) {
  bottom: 0;
}
[dir="ltr"]
  .support-multi-button-widget-form[data-v-2902094f]:not(.support-multi-button-widget-form--compact) {
  right: 0.5rem;
}
[dir="rtl"]
  .support-multi-button-widget-form[data-v-2902094f]:not(.support-multi-button-widget-form--compact) {
  left: 0.5rem;
}
.support-multi-button-widget-form--compact[data-v-2902094f] {
  bottom: 3.625rem;
}
[dir="ltr"] .support-multi-button-widget-form--compact[data-v-2902094f] {
  right: 1rem;
}
[dir="rtl"] .support-multi-button-widget-form--compact[data-v-2902094f] {
  left: 1rem;
}
