.header-event-logo[data-v-b55acf9c] {
  align-items: center;
  display: flex;
  justify-content: center;
}
[dir] .header-event-logo[data-v-b55acf9c] {
  cursor: pointer;
}
.header-event-logo__flag[data-v-b55acf9c],
.header-event-logo__img[data-v-b55acf9c] {
  -o-object-fit: contain;
  object-fit: contain;
}
[dir] .header-event-logo__img--1[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 0s;
}
[dir] .header-event-logo__img--2[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 3s;
}
[dir] .header-event-logo__img--3[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 6s;
}
[dir] .header-event-logo__img--4[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 9s;
}
[dir] .header-event-logo__img--5[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 12s;
}
[dir] .header-event-logo__img--6[data-v-b55acf9c] {
  animation: blink-opacity-b55acf9c calc(var(--event-animation-count, 6) * 3s)
    ease-in infinite;
  animation-delay: 15s;
}
@keyframes blink-opacity-b55acf9c {
  0%,
  5.56%,
  to {
    transform: scale(1);
  }
  2.78% {
    transform: scale(0.6);
  }
}
.header-event-logo--size-l .header-event-logo__img[data-v-b55acf9c] {
  max-height: 2rem;
  width: 2rem;
}
.header-event-logo--size-l .header-event-logo__flag[data-v-b55acf9c] {
  max-height: 2rem;
  max-width: 2.625rem;
  min-width: 2.625rem;
}
[dir="ltr"]
  .header-event-logo--size-l
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-right: 0.75rem;
}
[dir="rtl"]
  .header-event-logo--size-l
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-left: 0.75rem;
}
.header-event-logo--size-m .header-event-logo__flag[data-v-b55acf9c],
.header-event-logo--size-m .header-event-logo__img[data-v-b55acf9c] {
  max-height: 2rem;
  width: 2rem;
}
[dir="ltr"]
  .header-event-logo--size-m.header-event-logo--additional-gutter
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-left: 0.25rem;
}
[dir="rtl"]
  .header-event-logo--size-m.header-event-logo--additional-gutter
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-right: 0.25rem;
}
[dir="ltr"]
  .header-event-logo--size-xs:first-child
  .header-event-logo__img[data-v-b55acf9c] {
  margin-left: 0.25rem;
}
[dir="rtl"]
  .header-event-logo--size-xs:first-child
  .header-event-logo__img[data-v-b55acf9c] {
  margin-right: 0.25rem;
}
[dir="ltr"]
  .header-event-logo--size-xs:not(:first-child)
  .header-event-logo__img[data-v-b55acf9c] {
  margin-left: -0.25rem;
  margin-right: 0.25rem;
}
[dir="rtl"]
  .header-event-logo--size-xs:not(:first-child)
  .header-event-logo__img[data-v-b55acf9c] {
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}
.header-event-logo--size-xs .header-event-logo__flag[data-v-b55acf9c],
.header-event-logo--size-xs .header-event-logo__img[data-v-b55acf9c] {
  max-height: 1.375rem;
  width: 1.375rem;
}
[dir="ltr"]
  .header-event-logo--size-xs
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-left: 0.25rem;
}
[dir="rtl"]
  .header-event-logo--size-xs
  .header-event-logo__flag[data-v-b55acf9c] {
  margin-right: 0.25rem;
}
[dir="ltr"]
  .header-event-logo[data-v-b55acf9c]:not(.header-event-logo--single-flag) {
  margin-right: 0.5rem;
}
[dir="rtl"]
  .header-event-logo[data-v-b55acf9c]:not(.header-event-logo--single-flag) {
  margin-left: 0.5rem;
}
[dir="ltr"]
  .header-event-logo--additional-gutter
  .header-event-logo__img[data-v-b55acf9c] {
  margin-left: 0.25rem;
}
[dir="rtl"]
  .header-event-logo--additional-gutter
  .header-event-logo__img[data-v-b55acf9c] {
  margin-right: 0.25rem;
}
.header-event-logo__divider[data-v-b55acf9c] {
  height: 2rem;
  width: 1px;
}
[dir] .header-event-logo__divider[data-v-b55acf9c] {
  background-color: Hsla(var(--gray-100-bg), 0.15);
}
[dir="ltr"] .header-event-logo__divider[data-v-b55acf9c] {
  margin-left: 0.5625rem;
}
[dir="rtl"] .header-event-logo__divider[data-v-b55acf9c] {
  margin-right: 0.5625rem;
}
