.footer-grid[data-v-4ebde20c] {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--grid_size), 1fr);
}
.footer-grid--size-8[data-v-4ebde20c] {
  --grid_size: 8;
}
.footer-grid--size-10[data-v-4ebde20c] {
  --grid_size: 10;
}
.footer-grid--size-12[data-v-4ebde20c] {
  --grid_size: 12;
}
[data-v-4ebde20c] .footer-grid__element {
  grid-column: auto/span var(--columns);
  min-height: 0;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="1"] {
  --columns: 1;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="2"] {
  --columns: 2;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="3"] {
  --columns: 3;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="4"] {
  --columns: 4;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="5"] {
  --columns: 5;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="6"] {
  --columns: 6;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="7"] {
  --columns: 7;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="8"] {
  --columns: 8;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="9"] {
  --columns: 9;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="10"] {
  --columns: 10;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="11"] {
  --columns: 11;
}
[data-v-4ebde20c] .footer-grid__element[data-columns="12"] {
  --columns: 12;
}
.footer[data-v-820de0ea] {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 0.5rem;
}
@media print {
  .footer[data-v-820de0ea] {
    display: none;
  }
}
[dir] .footer--indent-consultant[data-v-820de0ea] {
  padding-bottom: 3.125rem;
}
[dir] .footer__tile[data-v-820de0ea] {
  border-radius: var(--custom-footer-tile-border-radius, var(--border-radius));
  padding: 0.75rem;
}
.footer__license[data-v-820de0ea] {
  align-items: center;
}
.footer__responsible-gambling[data-v-820de0ea] {
  display: flex;
  justify-content: space-between;
}
.footer__min-ages[data-v-820de0ea] {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer__min-age[data-v-820de0ea] {
  flex-grow: 1;
}
[dir] .footer__min-age[data-v-820de0ea] {
  padding: 0.5rem;
}
.footer__legal[data-v-820de0ea] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__action[data-v-820de0ea] {
  width: 100%;
}
.footer__actions[data-v-820de0ea] {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
[dir] .footer__cookie-restriction--with-indents[data-v-820de0ea] {
  margin-bottom: 0.5rem;
}
.footer__copyright--last[data-v-820de0ea] {
  order: 1;
}
[dir] .footer__copyright--with-indents[data-v-820de0ea] {
  margin-top: 2px;
}
.footer__socials[data-v-820de0ea] {
  flex-grow: 5;
}
.footer__additional[data-v-820de0ea] {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.footer__league[data-v-820de0ea] {
  max-height: 4.5625rem;
  max-width: 5.25rem;
}
.footer-legalities[data-v-820de0ea],
.footer__timer[data-v-820de0ea] {
  align-items: center;
  display: flex;
}
.footer-legalities[data-v-820de0ea] {
  justify-content: space-between;
}
.footer-legalities__responsible-gambling[data-v-820de0ea] {
  display: contents;
}
.footer-legalities__dmca[data-v-820de0ea] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  align-items: center;
  color: Hsla(var(--hsl-clr), 1);
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
[dir] .footer-legalities__dmca[data-v-820de0ea] {
  background-color: Hsla(var(--hsl-bg), 1);
  border-radius: var(--border-radius);
  padding: 0.75rem;
}
[dir="ltr"]
  .footer-legalities__responsible-gambling
  + .footer-legalities__dmca[data-v-820de0ea] {
  margin-left: 0.5rem;
}
[dir="rtl"]
  .footer-legalities__responsible-gambling
  + .footer-legalities__dmca[data-v-820de0ea] {
  margin-right: 0.5rem;
}
.footer--theme-primary-100 .footer__tile[data-v-820de0ea] {
  --hsl-bg: var(--primary-100-bg);
  --hsl-clr: var(--primary-100-clr);
  --hsl-clr-accent: var(--primary-100-clr-accent);
  --hsl-clr-decent: var(--primary-100-clr-decent);
  --hsl-clr-strong: var(--primary-100-clr-strong);
  --hsl-clr-strong-alt: var(--primary-100-clr-strong-alt);
  --hsl-clr-primary: var(--primary-100-clr-primary);
  --hsl-clr-good: var(--primary-100-clr-good);
  --hsl-clr-bad: var(--primary-100-clr-bad);
  --hsl-sep: var(--primary-100-sep);
  --hsl-sep-alt: var(--primary-100-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .footer--theme-primary-100 .footer__tile[data-v-820de0ea] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.footer--theme-primary--20 .footer__tile[data-v-820de0ea] {
  --hsl-bg: var(--primary--20-bg);
  --hsl-clr: var(--primary--20-clr);
  --hsl-clr-accent: var(--primary--20-clr-accent);
  --hsl-clr-decent: var(--primary--20-clr-decent);
  --hsl-clr-strong: var(--primary--20-clr-strong);
  --hsl-clr-strong-alt: var(--primary--20-clr-strong-alt);
  --hsl-clr-primary: var(--primary--20-clr-primary);
  --hsl-clr-good: var(--primary--20-clr-good);
  --hsl-clr-bad: var(--primary--20-clr-bad);
  --hsl-sep: var(--primary--20-sep);
  --hsl-sep-alt: var(--primary--20-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .footer--theme-primary--20 .footer__tile[data-v-820de0ea] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.footer--theme-cyber--35 .footer__tile[data-v-820de0ea] {
  --hsl-bg: var(--cyber--35-bg);
  --hsl-clr: var(--cyber--35-clr);
  --hsl-clr-accent: var(--cyber--35-clr-accent);
  --hsl-clr-decent: var(--cyber--35-clr-decent);
  --hsl-clr-strong: var(--cyber--35-clr-strong);
  --hsl-clr-strong-alt: var(--cyber--35-clr-strong-alt);
  --hsl-clr-primary: var(--cyber--35-clr-primary);
  --hsl-clr-good: var(--cyber--35-clr-good);
  --hsl-clr-bad: var(--cyber--35-clr-bad);
  --hsl-sep: var(--cyber--35-sep);
  --hsl-sep-alt: var(--cyber--35-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .footer--theme-cyber--35 .footer__tile[data-v-820de0ea] {
  background-color: Hsla(var(--hsl-bg), 1);
}
.footer--theme-tp-gray--15 .footer__tile[data-v-820de0ea] {
  --hsl-bg: var(--thirdPartyGray--15-bg);
  --hsl-clr: var(--thirdPartyGray--15-clr);
  --hsl-clr-accent: var(--thirdPartyGray--15-clr-accent);
  --hsl-clr-decent: var(--thirdPartyGray--15-clr-decent);
  --hsl-clr-strong: var(--thirdPartyGray--15-clr-strong);
  --hsl-clr-strong-alt: var(--thirdPartyGray--15-clr-strong-alt);
  --hsl-clr-primary: var(--thirdPartyGray--15-clr-primary);
  --hsl-clr-good: var(--thirdPartyGray--15-clr-good);
  --hsl-clr-bad: var(--thirdPartyGray--15-clr-bad);
  --hsl-sep: var(--thirdPartyGray--15-sep);
  --hsl-sep-alt: var(--thirdPartyGray--15-sep-alt);
  color: Hsla(var(--hsl-clr), 1);
}
[dir] .footer--theme-tp-gray--15 .footer__tile[data-v-820de0ea] {
  background-color: Hsla(var(--hsl-bg), 1);
}
