:root {
  --primary-0-bg: 208, 62%, 40%;
  --primary-0-clr: 0, 0%, 100%;
  --primary-0-clr-accent: 82, 56%, 50%;
  --primary-0-clr-bad: 359, 100%, 67%;
  --primary-0-clr-decent: 208, 37%, 73%;
  --primary-0-clr-good: 82, 56%, 50%;
  --primary-0-clr-primary: 208, 100%, 62%;
  --primary-0-clr-strong: 209, 31%, 87%;
  --primary-0-clr-strong-alt: 0, 0%, 100%;
  --primary-0-sep: 208, 43%, 49%;
  --primary-0-sep-alt: 210, 57%, 26%;
  --primary-5-bg: 208, 62%, 45%;
  --primary-5-clr: 0, 0%, 100%;
  --primary-5-clr-accent: 82, 56%, 99%;
  --primary-5-clr-bad: 0, 0%, 100%;
  --primary-5-clr-decent: 208, 37%, 83%;
  --primary-5-clr-good: 82, 56%, 99%;
  --primary-5-clr-primary: 208, 100%, 83%;
  --primary-5-clr-strong: 209, 31%, 87%;
  --primary-5-clr-strong-alt: 0, 0%, 100%;
  --primary-5-sep: 208, 43%, 83%;
  --primary-5-sep-alt: 210, 57%, 83%;
  --primary-10-bg: 208, 63%, 51%;
  --primary-10-clr: 0, 0%, 100%;
  --primary-10-clr-accent: 82, 74%, 57%;
  --primary-10-clr-bad: 359, 100%, 67%;
  --primary-10-clr-decent: 0, 0%, 100%;
  --primary-10-clr-good: 0, 0%, 100%;
  --primary-10-clr-primary: 208, 100%, 91%;
  --primary-10-clr-strong: 209, 31%, 90%;
  --primary-15-bg: 209, 46%, 47%;
  --primary-15-clr: 0, 0%, 100%;
  --primary-15-clr-accent: 0, 0%, 100%;
  --primary-15-clr-bad: 0, 0%, 100%;
  --primary-15-clr-decent: 208, 37%, 73%;
  --primary-15-clr-good: 0, 0%, 100%;
  --primary-15-clr-primary: 208, 100%, 91%;
  --primary-15-clr-strong: 209, 31%, 90%;
  --primary-15-clr-strong-alt: 0, 0%, 100%;
  --primary-15-sep: 208, 43%, 90%;
  --primary-15-sep-alt: 210, 57%, 91%;
  --primary-25-bg: 208, 35%, 55%;
  --primary-25-clr-strong-alt: 0, 0%, 100%;
  --primary-25-sep: 208, 43%, 49%;
  --primary-30-bg: 208, 32%, 59%;
  --primary-30-clr: 0, 0%, 100%;
  --primary-30-clr-accent: 0, 0%, 14%;
  --primary-30-clr-bad: 0, 0%, 14%;
  --primary-30-clr-decent: 208, 37%, 25%;
  --primary-30-clr-good: 0, 0%, 14%;
  --primary-30-clr-primary: 208, 100%, 23%;
  --primary-30-clr-strong: 209, 31%, 87%;
  --primary-30-clr-strong-alt: 0, 0%, 100%;
  --primary-30-sep: 208, 43%, 49%;
  --primary-30-sep-alt: 210, 57%, 25%;
  --primary-45-bg: 208, 57%, 58%;
  --primary-45-clr: 0, 0%, 17%;
  --primary-50-bg: 208, 64%, 57%;
  --primary-50-clr: 0, 0%, 100%;
  --primary-50-clr-accent: 0, 0%, 14%;
  --primary-50-clr-bad: 0, 0%, 14%;
  --primary-50-clr-decent: 208, 37%, 25%;
  --primary-50-clr-good: 0, 0%, 14%;
  --primary-50-clr-primary: 208, 100%, 23%;
  --primary-50-clr-strong: 209, 31%, 27%;
  --primary-50-clr-strong-alt: 0, 0%, 100%;
  --primary-50-sep: 208, 43%, 27%;
  --primary-50-sep-alt: 210, 57%, 25%;
  --primary-55-bg: 208, 72%, 57%;
  --primary-70-bg: 208, 93%, 55%;
  --primary-70-clr: 0, 0%, 100%;
  --primary-70-clr-accent: 0, 0%, 14%;
  --primary-70-clr-bad: 0, 0%, 14%;
  --primary-70-clr-decent: 208, 37%, 25%;
  --primary-70-clr-good: 0, 0%, 14%;
  --primary-70-clr-primary: 208, 100%, 23%;
  --primary-70-clr-strong: 209, 31%, 27%;
  --primary-75-bg: 208, 100%, 62%;
  --primary-75-clr: 0, 0%, 100%;
  --primary-75-clr-accent: 0, 0%, 14%;
  --primary-75-clr-bad: 359, 100%, 67%;
  --primary-75-clr-decent: 208, 61%, 32%;
  --primary-75-clr-good: 82, 56%, 50%;
  --primary-75-clr-primary: 208, 100%, 23%;
  --primary-75-clr-strong: 209, 31%, 27%;
  --primary-80-bg: 208, 100%, 86%;
  --primary-80-clr: 208, 62%, 40%;
  --primary-80-clr-accent: 0, 0%, 14%;
  --primary-80-clr-bad: 359, 100%, 67%;
  --primary-80-clr-decent: 208, 32%, 59%;
  --primary-80-clr-good: 82, 57%, 43%;
  --primary-80-clr-primary: 208, 100%, 62%;
  --primary-80-clr-strong: 210, 57%, 31%;
  --primary-80-clr-strong-alt: 210, 57%, 26%;
  --primary-90-bg: 207, 100%, 93%;
  --primary-90-clr: 208, 62%, 40%;
  --primary-90-clr-accent: 82, 57%, 43%;
  --primary-90-clr-decent: 208, 32%, 59%;
  --primary-90-clr-strong-alt: 210, 57%, 26%;
  --primary-90-sep: 209, 31%, 87%;
  --primary-90-sep-alt: 210, 57%, 25%;
  --primary-95-bg: 207, 100%, 96%;
  --primary-95-clr: 208, 62%, 40%;
  --primary-95-clr-primary: 208, 100%, 23%;
  --primary-95-clr-strong: 210, 57%, 31%;
  --primary-100-bg: 0, 0%, 100%;
  --primary-100-clr: 208, 62%, 40%;
  --primary-100-clr-accent: 82, 57%, 30%;
  --primary-100-clr-bad: 359, 100%, 40%;
  --primary-100-clr-decent: 208, 32%, 59%;
  --primary-100-clr-good: 82, 57%, 27%;
  --primary-100-clr-primary: 208, 100%, 23%;
  --primary-100-clr-strong: 210, 57%, 31%;
  --primary-100-sep: 209, 31%, 56%;
  --primary--85-bg: 205, 82%, 11%;
  --primary--85-clr: 0, 0%, 100%;
  --primary--85-clr-accent: 82, 56%, 50%;
  --primary--85-clr-bad: 359, 100%, 67%;
  --primary--85-clr-decent: 208, 37%, 73%;
  --primary--85-clr-good: 82, 56%, 50%;
  --primary--85-clr-primary: 208, 100%, 62%;
  --primary--85-clr-strong: 209, 31%, 87%;
  --primary--85-clr-strong-alt: 0, 0%, 100%;
  --primary--85-sep: 212, 26%, 46%;
  --primary--85-sep-alt: 210, 57%, 64%;
  --primary--60-bg: 210, 57%, 17%;
  --primary--60-clr: 0, 0%, 100%;
  --primary--60-clr-accent: 82, 56%, 50%;
  --primary--60-clr-bad: 359, 100%, 67%;
  --primary--60-clr-decent: 208, 37%, 73%;
  --primary--60-clr-good: 82, 56%, 50%;
  --primary--60-clr-primary: 208, 100%, 62%;
  --primary--60-clr-strong: 209, 31%, 87%;
  --primary--60-clr-strong-alt: 0, 0%, 100%;
  --primary--60-sep: 212, 26%, 29%;
  --primary--60-sep-alt: 210, 57%, 64%;
  --primary--55-bg: 209, 56%, 20%;
  --primary--55-clr: 0, 0%, 100%;
  --primary--55-clr-accent: 82, 56%, 50%;
  --primary--55-clr-bad: 359, 100%, 67%;
  --primary--55-clr-decent: 208, 37%, 73%;
  --primary--55-clr-good: 82, 56%, 50%;
  --primary--55-clr-primary: 208, 100%, 62%;
  --primary--55-clr-strong: 209, 31%, 87%;
  --primary--55-clr-strong-alt: 0, 0%, 100%;
  --primary--55-sep: 211, 25%, 34%;
  --primary--55-sep-alt: 210, 57%, 64%;
  --primary--50-bg: 210, 57%, 22%;
  --primary--50-clr: 0, 0%, 100%;
  --primary--50-clr-accent: 82, 56%, 50%;
  --primary--50-clr-bad: 359, 100%, 75%;
  --primary--50-clr-decent: 208, 37%, 73%;
  --primary--50-clr-good: 82, 56%, 50%;
  --primary--50-clr-primary: 208, 100%, 62%;
  --primary--50-clr-strong: 209, 31%, 87%;
  --primary--40-bg: 210, 57%, 26%;
  --primary--40-clr: 0, 0%, 100%;
  --primary--40-clr-accent: 82, 56%, 50%;
  --primary--40-clr-bad: 359, 100%, 67%;
  --primary--40-clr-decent: 208, 37%, 73%;
  --primary--40-clr-good: 82, 56%, 50%;
  --primary--40-clr-primary: 208, 100%, 62%;
  --primary--40-clr-strong: 209, 31%, 87%;
  --primary--40-clr-strong-alt: 0, 0%, 100%;
  --primary--40-sep: 208, 43%, 63%;
  --primary--40-sep-alt: 210, 57%, 64%;
  --primary--35-bg: 210, 57%, 29%;
  --primary--30-bg: 210, 57%, 31%;
  --primary--30-clr: 0, 0%, 100%;
  --primary--30-clr-accent: 82, 56%, 58%;
  --primary--30-clr-bad: 359, 100%, 67%;
  --primary--30-clr-decent: 208, 37%, 73%;
  --primary--30-clr-good: 82, 56%, 50%;
  --primary--30-clr-primary: 208, 100%, 62%;
  --primary--30-clr-strong: 209, 31%, 87%;
  --primary--30-sep: 208, 43%, 63%;
  --primary--20-bg: 208, 61%, 32%;
  --primary--20-clr: 0, 0%, 100%;
  --primary--20-clr-accent: 82, 56%, 50%;
  --primary--20-clr-bad: 359, 100%, 67%;
  --primary--20-clr-decent: 208, 37%, 73%;
  --primary--20-clr-good: 82, 56%, 50%;
  --primary--20-clr-primary: 208, 100%, 62%;
  --primary--20-clr-strong: 209, 31%, 87%;
  --primary--20-clr-strong-alt: 0, 0%, 100%;
  --primary--20-sep: 208, 43%, 49%;
  --primary--20-sep-alt: 210, 57%, 26%;
  --primary--10-bg: 208, 61%, 36%;
  --primary--10-clr: 0, 0%, 100%;
  --primary--10-clr-accent: 82, 56%, 50%;
  --primary--10-clr-bad: 359, 100%, 67%;
  --primary--10-clr-decent: 208, 37%, 73%;
  --primary--10-clr-good: 82, 56%, 78%;
  --primary--10-clr-primary: 208, 100%, 72%;
  --primary--10-clr-strong: 209, 31%, 87%;
  --primary--10-sep: 208, 43%, 72%;
  --gray-0-bg: 209, 31%, 87%;
  --gray-0-clr: 208, 62%, 40%;
  --gray-0-clr-accent: 82, 57%, 43%;
  --gray-0-clr-bad: 359, 100%, 67%;
  --gray-0-clr-decent: 208, 32%, 59%;
  --gray-0-clr-good: 82, 57%, 43%;
  --gray-0-clr-primary: 208, 100%, 62%;
  --gray-0-clr-strong: 210, 57%, 31%;
  --gray-0-clr-strong-alt: 210, 57%, 26%;
  --gray-0-sep: 207, 26%, 93%;
  --gray-0-sep-alt: 208, 31%, 81%;
  --gray-10-bg: 208, 30%, 89%;
  --gray-10-clr: 208, 62%, 40%;
  --gray-10-clr-accent: 82, 57%, 27%;
  --gray-10-clr-bad: 359, 100%, 39%;
  --gray-10-clr-decent: 208, 32%, 59%;
  --gray-10-clr-good: 82, 57%, 27%;
  --gray-10-clr-primary: 208, 100%, 46%;
  --gray-10-clr-strong: 210, 57%, 31%;
  --gray-10-clr-strong-alt: 210, 57%, 26%;
  --gray-10-sep: 207, 26%, 93%;
  --gray-15-bg: 208, 29%, 90%;
  --gray-15-clr: 208, 62%, 40%;
  --gray-15-clr-accent: 82, 57%, 27%;
  --gray-15-clr-bad: 359, 100%, 39%;
  --gray-15-clr-decent: 208, 32%, 52%;
  --gray-15-clr-good: 82, 57%, 27%;
  --gray-15-clr-primary: 208, 100%, 46%;
  --gray-15-clr-strong: 210, 57%, 31%;
  --gray-20-bg: 208, 28%, 91%;
  --gray-20-clr: 208, 62%, 40%;
  --gray-20-clr-accent: 82, 57%, 27%;
  --gray-20-clr-bad: 359, 100%, 39%;
  --gray-20-clr-decent: 208, 32%, 59%;
  --gray-20-clr-good: 82, 57%, 27%;
  --gray-20-clr-primary: 208, 100%, 62%;
  --gray-20-clr-strong: 210, 57%, 31%;
  --gray-20-clr-strong-alt: 210, 57%, 26%;
  --gray-20-sep: 207, 26%, 93%;
  --gray-30-bg: 207, 26%, 93%;
  --gray-30-clr: 208, 62%, 40%;
  --gray-30-clr-accent: 82, 57%, 43%;
  --gray-30-clr-bad: 359, 100%, 67%;
  --gray-30-clr-decent: 208, 32%, 59%;
  --gray-30-clr-good: 82, 57%, 43%;
  --gray-30-clr-primary: 208, 100%, 62%;
  --gray-30-clr-strong: 210, 57%, 31%;
  --gray-30-clr-strong-alt: 210, 57%, 26%;
  --gray-30-sep: 209, 31%, 87%;
  --gray-30-sep-alt: 208, 31%, 81%;
  --gray-40-bg: 208, 25%, 94%;
  --gray-40-clr: 208, 62%, 40%;
  --gray-40-clr-accent: 82, 57%, 29%;
  --gray-40-clr-bad: 359, 100%, 43%;
  --gray-40-clr-decent: 208, 32%, 59%;
  --gray-40-clr-good: 82, 57%, 29%;
  --gray-40-clr-primary: 208, 100%, 50%;
  --gray-40-clr-strong: 210, 57%, 31%;
  --gray-40-clr-strong-alt: 210, 57%, 26%;
  --gray-40-sep: 207, 26%, 93%;
  --gray-50-bg: 210, 23%, 95%;
  --gray-50-clr: 208, 62%, 40%;
  --gray-50-clr-accent: 82, 57%, 29%;
  --gray-50-clr-bad: 359, 100%, 43%;
  --gray-50-clr-decent: 208, 32%, 59%;
  --gray-50-clr-good: 82, 57%, 43%;
  --gray-50-clr-primary: 208, 100%, 62%;
  --gray-50-clr-strong: 210, 57%, 31%;
  --gray-60-bg: 204, 62%, 97%;
  --gray-60-clr: 208, 62%, 40%;
  --gray-60-clr-accent: 82, 57%, 43%;
  --gray-60-clr-bad: 359, 100%, 67%;
  --gray-60-clr-decent: 208, 32%, 59%;
  --gray-60-clr-good: 82, 57%, 43%;
  --gray-60-clr-primary: 208, 100%, 62%;
  --gray-60-clr-strong: 210, 57%, 31%;
  --gray-60-clr-strong-alt: 210, 57%, 26%;
  --gray-60-sep: 207, 26%, 93%;
  --gray-60-sep-alt: 208, 31%, 81%;
  --gray-65-bg: 203, 62%, 97%;
  --gray-65-clr: 208, 62%, 40%;
  --gray-65-clr-accent: 82, 57%, 31%;
  --gray-65-clr-bad: 359, 100%, 45%;
  --gray-65-clr-decent: 208, 32%, 57%;
  --gray-65-clr-good: 82, 57%, 31%;
  --gray-65-clr-primary: 208, 100%, 54%;
  --gray-65-clr-strong: 210, 57%, 31%;
  --gray-70-bg: 202, 61%, 98%;
  --gray-70-clr: 208, 62%, 40%;
  --gray-70-clr-bad: 359, 100%, 45%;
  --gray-70-clr-decent: 208, 32%, 59%;
  --gray-70-clr-good: 82, 57%, 31%;
  --gray-75-bg: 200, 60%, 98%;
  --gray-75-clr: 208, 62%, 40%;
  --gray-75-clr-accent: 82, 57%, 43%;
  --gray-75-clr-bad: 359, 100%, 67%;
  --gray-75-clr-decent: 208, 32%, 59%;
  --gray-75-clr-good: 82, 57%, 43%;
  --gray-75-clr-primary: 208, 100%, 62%;
  --gray-75-clr-strong: 210, 57%, 31%;
  --gray-75-clr-strong-alt: 210, 57%, 26%;
  --gray-75-sep: 207, 26%, 93%;
  --gray-75-sep-alt: 208, 31%, 57%;
  --gray-80-bg: 200, 60%, 98%;
  --gray-80-clr: 208, 62%, 40%;
  --gray-80-clr-accent: 82, 57%, 31%;
  --gray-80-clr-bad: 359, 100%, 46%;
  --gray-80-clr-good: 82, 57%, 31%;
  --gray-80-clr-strong-alt: 210, 57%, 26%;
  --gray-100-bg: 0, 0%, 100%;
  --gray-100-clr: 208, 62%, 40%;
  --gray-100-clr-accent: 82, 57%, 43%;
  --gray-100-clr-bad: 359, 100%, 67%;
  --gray-100-clr-decent: 208, 32%, 59%;
  --gray-100-clr-good: 82, 57%, 43%;
  --gray-100-clr-primary: 208, 100%, 62%;
  --gray-100-clr-strong: 210, 57%, 31%;
  --gray-100-clr-strong-alt: 210, 57%, 26%;
  --gray-100-sep: 207, 26%, 93%;
  --gray-100-sep-alt: 208, 31%, 81%;
  --gray--100-bg: 0, 0%, 0%;
  --gray--100-clr: 0, 0%, 100%;
  --gray--80-bg: 210, 29%, 18%;
  --gray--80-clr: 0, 0%, 100%;
  --gray--80-clr-accent: 0, 0%, 100%;
  --gray--80-clr-bad: 0, 0%, 100%;
  --gray--80-clr-decent: 208, 32%, 86%;
  --gray--80-clr-good: 0, 0%, 100%;
  --gray--80-clr-primary: 208, 100%, 86%;
  --gray--80-clr-strong: 210, 57%, 86%;
  --gray--70-bg: 210, 29%, 27%;
  --gray--70-clr: 0, 0%, 100%;
  --gray--70-clr-accent: 0, 0%, 100%;
  --gray--70-clr-bad: 0, 0%, 100%;
  --gray--70-clr-decent: 208, 32%, 86%;
  --gray--70-clr-good: 0, 0%, 100%;
  --gray--70-clr-primary: 208, 100%, 86%;
  --gray--70-clr-strong: 210, 57%, 86%;
  --gray--70-clr-strong-alt: 210, 57%, 86%;
  --gray--70-sep: 207, 26%, 85%;
  --gray--70-sep-alt: 208, 31%, 86%;
  --gray--60-bg: 210, 29%, 36%;
  --gray--60-clr: 0, 0%, 100%;
  --gray--60-clr-accent: 0, 0%, 100%;
  --gray--60-clr-bad: 0, 0%, 100%;
  --gray--60-clr-decent: 208, 32%, 86%;
  --gray--60-clr-good: 0, 0%, 100%;
  --gray--60-clr-primary: 208, 100%, 86%;
  --gray--60-clr-strong: 210, 57%, 86%;
  --gray--60-clr-strong-alt: 210, 57%, 86%;
  --gray--60-sep-alt: 208, 31%, 86%;
  --gray--55-bg: 210, 29%, 41%;
  --gray--55-clr: 0, 0%, 100%;
  --gray--55-clr-accent: 0, 0%, 100%;
  --gray--55-clr-bad: 0, 0%, 100%;
  --gray--55-clr-decent: 208, 32%, 86%;
  --gray--55-clr-good: 0, 0%, 100%;
  --gray--55-clr-primary: 208, 100%, 86%;
  --gray--55-clr-strong: 210, 57%, 86%;
  --gray--40-bg: 209, 21%, 53%;
  --gray--40-clr: 208, 62%, 11%;
  --gray--40-clr-accent: 82, 57%, 8%;
  --gray--40-clr-bad: 359, 100%, 13%;
  --gray--40-clr-decent: 208, 32%, 23%;
  --gray--40-clr-good: 82, 57%, 8%;
  --gray--40-clr-primary: 208, 100%, 22%;
  --gray--40-clr-strong: 210, 57%, 24%;
  --gray--20-bg: 208, 22%, 69%;
  --gray--10-bg: 208, 24%, 77%;
  --gray--10-clr: 208, 62%, 31%;
  --gray--10-clr-accent: 82, 57%, 22%;
  --gray--10-clr-bad: 359, 100%, 32%;
  --gray--10-clr-decent: 208, 32%, 42%;
  --gray--10-clr-good: 82, 57%, 22%;
  --gray--10-clr-primary: 208, 100%, 62%;
  --gray--10-clr-strong: 210, 57%, 31%;
  --gray--10-sep-alt: 208, 31%, 42%;
  --gray--5-bg: 208, 31%, 81%;
  --gray--5-clr: 208, 62%, 40%;
  --gray--5-clr-accent: 82, 57%, 24%;
  --gray--5-clr-bad: 359, 100%, 35%;
  --gray--5-clr-decent: 208, 32%, 59%;
  --gray--5-clr-good: 82, 57%, 24%;
  --gray--5-clr-primary: 208, 100%, 42%;
  --gray--5-clr-strong: 210, 57%, 31%;
  --gray--5-clr-strong-alt: 210, 57%, 26%;
  --gray--5-sep: 207, 26%, 93%;
  --gray--5-sep-alt: 208, 31%, 45%;
  --accent-0-bg: 82, 57%, 43%;
  --accent-0-clr: 0, 0%, 100%;
  --accent-0-clr-accent: 82, 57%, 14%;
  --accent-0-clr-bad: 359, 100%, 22%;
  --accent-0-clr-decent: 0, 0%, 100%;
  --accent-0-clr-good: 82, 56%, 14%;
  --accent-0-clr-strong: 0, 0%, 30%;
  --accent-0-clr-strong-alt: 0, 0%, 30%;
  --accent-0-sep: 82, 42%, 23%;
  --accent-0-sep-alt: 82, 42%, 23%;
  --accent-15-bg: 82, 56%, 50%;
  --accent-15-clr: 0, 0%, 100%;
  --accent-15-clr-accent: 82, 57%, 14%;
  --accent-15-clr-bad: 359, 100%, 22%;
  --accent-15-clr-decent: 0, 0%, 33%;
  --accent-15-clr-good: 82, 56%, 14%;
  --accent-15-clr-primary: 0, 0%, 30%;
  --accent-15-clr-strong: 0, 0%, 30%;
  --accent-15-sep: 210, 33%, 92%;
  --accent-25-bg: 82, 74%, 57%;
  --accent-25-clr: 0, 0%, 31%;
  --accent-25-clr-accent: 82, 57%, 14%;
  --accent-25-clr-bad: 359, 100%, 22%;
  --accent-25-clr-decent: 0, 0%, 33%;
  --accent-25-clr-good: 82, 56%, 14%;
  --accent-25-clr-primary: 0, 0%, 30%;
  --accent-25-clr-strong: 210, 57%, 31%;
  --accent-40-bg: 82, 42%, 65%;
  --accent-40-clr: 0, 0%, 100%;
  --accent-80-bg: 82, 76%, 89%;
  --accent-80-clr: 0, 0%, 33%;
  --accent-80-clr-accent: 82, 57%, 43%;
  --accent-80-clr-bad: 359, 100%, 22%;
  --accent-80-clr-decent: 0, 0%, 33%;
  --accent-80-clr-good: 82, 56%, 14%;
  --accent-80-clr-primary: 0, 0%, 30%;
  --accent-80-clr-strong: 210, 57%, 31%;
  --accent-90-bg: 82, 76%, 94%;
  --accent-90-clr: 0, 0%, 33%;
  --accent-90-clr-decent: 0, 0%, 33%;
  --accent-90-clr-good: 82, 56%, 14%;
  --accent-90-clr-primary: 0, 0%, 30%;
  --accent-90-clr-strong: 210, 57%, 31%;
  --accent-90-sep: 210, 33%, 43%;
  --accent--25-bg: 82, 56%, 30%;
  --accent--25-clr: 0, 0%, 100%;
  --accent--10-bg: 82, 56%, 36%;
  --accent--10-clr: 0, 0%, 100%;
  --accent--10-clr-accent: 0, 0%, 100%;
  --accent--10-clr-bad: 0, 0%, 100%;
  --accent--10-clr-decent: 0, 0%, 91%;
  --accent--10-clr-good: 0, 0%, 100%;
  --accent--10-clr-strong: 0, 0%, 91%;
  --accent--10-clr-strong-alt: 0, 0%, 91%;
  --accent--10-sep: 82, 42%, 88%;
  --accent--10-sep-alt: 82, 42%, 88%;
  --accent--5-bg: 82, 55%, 41%;
  --accent--5-clr: 0, 0%, 18%;
  --accent--5-clr-accent: 82, 57%, 12%;
  --accent--5-clr-bad: 359, 100%, 20%;
  --accent--5-clr-decent: 0, 0%, 28%;
  --accent--5-clr-good: 82, 56%, 12%;
  --accent--5-clr-strong: 0, 0%, 28%;
  --accent--5-clr-strong-alt: 0, 0%, 28%;
  --accent--5-sep: 82, 42%, 21%;
  --accent--5-sep-alt: 82, 42%, 21%;
  --bad-0-bg: 359, 100%, 67%;
  --bad-0-clr: 0, 0%, 100%;
  --bad-0-clr-accent: 82, 57%, 12%;
  --bad-0-clr-bad: 359, 100%, 18%;
  --bad-0-clr-decent: 359, 100%, 28%;
  --bad-0-clr-good: 82, 56%, 12%;
  --bad-0-clr-primary: 0, 0%, 100%;
  --bad-0-clr-strong: 0, 0%, 100%;
  --bad-80-bg: 358, 100%, 93%;
  --bad-80-clr: 0, 0%, 18%;
  --bad-80-clr-accent: 82, 57%, 12%;
  --bad-80-clr-bad: 359, 100%, 67%;
  --bad-80-clr-decent: 359, 100%, 28%;
  --bad-80-clr-good: 82, 56%, 12%;
  --bad-80-clr-primary: 0, 0%, 28%;
  --bad-80-clr-strong: 0, 0%, 28%;
  --bad-90-bg: 358, 100%, 96%;
  --bad-90-clr-bad: 359, 100%, 67%;
  --bad--30-bg: 359, 49%, 47%;
  --bad--30-clr: 0, 0%, 100%;
  --bad--30-clr-accent: 0, 0%, 100%;
  --bad--30-clr-bad: 0, 0%, 100%;
  --bad--30-clr-good: 0, 0%, 100%;
  --good-0-bg: 82, 56%, 50%;
  --good-0-clr: 0, 0%, 100%;
  --good-0-clr-accent: 82, 57%, 19%;
  --good-0-clr-bad: 359, 100%, 29%;
  --good-0-clr-decent: 82, 56%, 27%;
  --good-0-clr-good: 82, 56%, 19%;
  --good-0-clr-primary: 0, 0%, 38%;
  --good-0-clr-strong: 0, 0%, 38%;
  --good-15-bg: 82, 56%, 58%;
  --good-80-bg: 83, 57%, 90%;
  --good-80-clr: 0, 0%, 29%;
  --good-80-clr-accent: 82, 57%, 19%;
  --good-80-clr-bad: 359, 100%, 29%;
  --good-80-clr-decent: 82, 56%, 27%;
  --good-80-clr-good: 82, 57%, 43%;
  --good-80-clr-primary: 0, 0%, 38%;
  --good-80-clr-strong: 0, 0%, 38%;
  --good-90-bg: 82, 86%, 94%;
  --good-90-clr: 0, 0%, 29%;
  --good-90-clr-accent: 82, 57%, 19%;
  --good-90-clr-bad: 359, 100%, 67%;
  --good-90-clr-decent: 208, 32%, 59%;
  --good-90-clr-good: 82, 57%, 43%;
  --good-90-clr-primary: 0, 0%, 38%;
  --good-90-clr-strong: 210, 57%, 31%;
  --good--25-bg: 82, 57%, 38%;
  --good--25-clr: 0, 0%, 100%;
  --good--15-bg: 82, 57%, 43%;
  --good--15-clr: 0, 0%, 100%;
  --good--15-clr-accent: 82, 57%, 14%;
  --good--15-clr-bad: 359, 100%, 29%;
  --good--15-clr-decent: 82, 56%, 21%;
  --good--15-clr-primary: 0, 0%, 30%;
  --good--15-clr-strong: 0, 0%, 30%;
  --dark-0-bg: 213, 13%, 17%;
  --dark-0-clr: 0, 0%, 100%;
  --dark-0-clr-accent: 82, 56%, 50%;
  --dark-0-clr-bad: 359, 100%, 67%;
  --dark-0-clr-decent: 213, 3%, 75%;
  --dark-0-clr-good: 82, 56%, 50%;
  --dark-0-clr-primary: 0, 0%, 100%;
  --dark-0-clr-strong: 209, 31%, 87%;
  --dark-0-sep: 213, 3%, 75%;
  --dark-15-bg: 215, 17%, 30%;
  --dark-15-clr: 0, 0%, 100%;
  --dark-15-clr-accent: 82, 56%, 51%;
  --dark-15-clr-bad: 359, 100%, 81%;
  --dark-15-clr-decent: 213, 3%, 75%;
  --dark-15-clr-good: 82, 56%, 51%;
  --dark-15-clr-primary: 0, 0%, 100%;
  --dark-15-clr-strong: 209, 31%, 87%;
  --dark-20-bg: 214, 17%, 34%;
  --dark-20-clr: 0, 0%, 100%;
  --dark-20-clr-accent: 82, 56%, 63%;
  --dark-20-clr-bad: 359, 100%, 86%;
  --dark-20-clr-decent: 213, 3%, 75%;
  --dark-20-clr-good: 82, 56%, 63%;
  --dark-20-clr-primary: 0, 0%, 100%;
  --dark-20-clr-strong: 209, 31%, 87%;
  --dark-25-bg: 214, 17%, 38%;
  --dark-25-clr: 0, 0%, 100%;
  --dark-25-clr-accent: 82, 56%, 50%;
  --dark-25-clr-bad: 359, 100%, 90%;
  --dark-25-clr-decent: 213, 3%, 75%;
  --dark-25-clr-good: 82, 56%, 74%;
  --dark-25-clr-primary: 0, 0%, 100%;
  --dark-25-clr-strong: 209, 31%, 87%;
  --dark--55-bg: 210, 45%, 8%;
  --dark--55-clr: 0, 0%, 100%;
  --dark--55-clr-accent: 82, 56%, 50%;
  --dark--55-clr-bad: 359, 100%, 67%;
  --dark--55-clr-decent: 213, 3%, 75%;
  --dark--55-clr-good: 82, 56%, 50%;
  --dark--55-clr-primary: 0, 0%, 100%;
  --dark--55-clr-strong: 209, 31%, 87%;
  --dark--40-bg: 207, 21%, 10%;
  --dark--40-clr: 0, 0%, 100%;
  --dark--40-clr-accent: 82, 56%, 50%;
  --dark--40-clr-bad: 359, 100%, 67%;
  --dark--40-clr-decent: 213, 3%, 75%;
  --dark--40-clr-good: 82, 56%, 50%;
  --dark--40-clr-primary: 0, 0%, 100%;
  --dark--40-clr-strong: 209, 31%, 87%;
  --dark--40-clr-strong-alt: 215, 17%, 30%;
  --warning-0-bg: 58, 85%, 84%;
  --warning-0-clr: 210, 62%, 40%;
  --warning-0-clr-bad: 359, 100%, 67%;
  --warning-0-clr-strong: 210, 57%, 31%;
  --warning--30-bg: 59, 84%, 60%;
  --thirdPartyGray-0-bg: 220, 38%, 25%;
  --thirdPartyGray-0-clr: 0, 0%, 100%;
  --thirdPartyGray-0-clr-accent: 82, 57%, 44%;
  --thirdPartyGray-0-clr-bad: 359, 100%, 74%;
  --thirdPartyGray-0-clr-decent: 219, 47%, 94%;
  --thirdPartyGray-0-clr-good: 82, 56%, 50%;
  --thirdPartyGray-0-clr-primary: 208, 91%, 56%;
  --thirdPartyGray-0-clr-strong: 0, 0%, 100%;
  --thirdPartyGray-0-sep: 220, 27%, 33%;
  --thirdPartyGray-0-sep-alt: 219, 13%, 55%;
  --thirdPartyGray-5-bg: 222, 38%, 29%;
  --thirdPartyGray-5-clr: 0, 0%, 100%;
  --thirdPartyGray-5-clr-accent: 82, 57%, 47%;
  --thirdPartyGray-5-clr-bad: 0, 72%, 72%;
  --thirdPartyGray-5-clr-decent: 224, 18%, 80%;
  --thirdPartyGray-5-clr-good: 82, 56%, 50%;
  --thirdPartyGray-5-clr-primary: 208, 91%, 56%;
  --thirdPartyGray-5-clr-strong: 0, 0%, 100%;
  --thirdPartyGray-5-sep: 220, 38%, 25%;
  --thirdPartyGray-5-sep-alt: 219, 13%, 56%;
  --thirdPartyGray-10-bg: 223, 38%, 33%;
  --thirdPartyGray-10-clr: 0, 0%, 100%;
  --thirdPartyGray-10-clr-accent: 82, 57%, 50%;
  --thirdPartyGray-10-clr-bad: 0, 72%, 72%;
  --thirdPartyGray-10-clr-decent: 224, 18%, 80%;
  --thirdPartyGray-10-clr-good: 82, 56%, 50%;
  --thirdPartyGray-10-clr-primary: 208, 91%, 56%;
  --thirdPartyGray-10-clr-strong: 0, 0%, 100%;
  --thirdPartyGray-10-sep: 223, 21%, 46%;
  --thirdPartyGray-10-sep-alt: 223, 18%, 60%;
  --thirdPartyGray-15-bg: 223, 32%, 36%;
  --thirdPartyGray-15-clr: 0, 0%, 100%;
  --thirdPartyGray-15-clr-accent: 82, 57%, 59%;
  --thirdPartyGray-15-clr-bad: 0, 72%, 72%;
  --thirdPartyGray-15-clr-decent: 219, 47%, 94%;
  --thirdPartyGray-15-clr-good: 82, 56%, 60%;
  --thirdPartyGray-15-clr-primary: 208, 91%, 63%;
  --thirdPartyGray-15-clr-strong: 222, 38%, 68%;
  --thirdPartyGray-15-sep: 223, 21%, 66%;
  --thirdPartyGray-15-sep-alt: 223, 18%, 66%;
  --thirdPartyGray-20-bg: 223, 28%, 40%;
  --thirdPartyGray-20-clr: 0, 0%, 100%;
  --thirdPartyGray-20-clr-accent: 82, 57%, 70%;
  --thirdPartyGray-20-clr-bad: 0, 72%, 88%;
  --thirdPartyGray-20-clr-decent: 219, 47%, 94%;
  --thirdPartyGray-20-clr-good: 82, 56%, 70%;
  --thirdPartyGray-20-clr-primary: 208, 91%, 68%;
  --thirdPartyGray-20-clr-strong: 222, 38%, 72%;
  --thirdPartyGray-20-sep: 223, 21%, 71%;
  --thirdPartyGray-20-sep-alt: 223, 18%, 70%;
  --thirdPartyGray-25-bg: 223, 24%, 44%;
  --thirdPartyGray-25-clr: 0, 0%, 100%;
  --thirdPartyGray-25-clr-accent: 82, 57%, 82%;
  --thirdPartyGray-25-clr-bad: 0, 72%, 93%;
  --thirdPartyGray-25-clr-decent: 219, 47%, 94%;
  --thirdPartyGray-25-clr-good: 82, 56%, 82%;
  --thirdPartyGray-25-clr-primary: 208, 91%, 74%;
  --thirdPartyGray-25-clr-strong: 222, 38%, 77%;
  --thirdPartyGray-25-sep: 223, 21%, 76%;
  --thirdPartyGray-25-sep-alt: 223, 18%, 76%;
  --thirdPartyGray-30-bg: 223, 20%, 48%;
  --thirdPartyGray-30-clr: 0, 0%, 100%;
  --thirdPartyGray-30-clr-accent: 82, 57%, 92%;
  --thirdPartyGray-30-clr-bad: 0, 72%, 97%;
  --thirdPartyGray-30-clr-decent: 219, 47%, 94%;
  --thirdPartyGray-30-clr-good: 82, 56%, 93%;
  --thirdPartyGray-30-clr-primary: 208, 91%, 80%;
  --thirdPartyGray-30-clr-strong: 222, 38%, 82%;
  --thirdPartyGray-30-sep: 223, 21%, 81%;
  --thirdPartyGray-30-sep-alt: 223, 18%, 81%;
  --thirdPartyGray-35-bg: 223, 18%, 51%;
  --thirdPartyGray-35-clr: 0, 0%, 100%;
  --thirdPartyGray-45-bg: 223, 18%, 59%;
  --thirdPartyGray-45-clr: 0, 0%, 11%;
  --thirdPartyGray-45-clr-strong-alt: 0, 0%, 100%;
  --thirdPartyGray-95-bg: 220, 16%, 96%;
  --thirdPartyGray-95-clr: 223, 38%, 33%;
  --thirdPartyGray-95-clr-bad: 359, 100%, 67%;
  --thirdPartyGray-95-clr-decent: 218, 20%, 51%;
  --thirdPartyGray-95-clr-good: 82, 56%, 50%;
  --thirdPartyGray-95-clr-strong: 208, 100%, 37%;
  --thirdPartyGray-100-bg: 0, 0%, 100%;
  --thirdPartyGray-100-clr: 223, 38%, 33%;
  --thirdPartyGray-100-clr-accent: 0, 0%, 11%;
  --thirdPartyGray-100-clr-bad: 0, 72%, 72%;
  --thirdPartyGray-100-clr-decent: 218, 20%, 51%;
  --thirdPartyGray-100-clr-good: 82, 56%, 32%;
  --thirdPartyGray-100-clr-primary: 208, 91%, 56%;
  --thirdPartyGray-100-clr-strong: 208, 100%, 37%;
  --thirdPartyGray-100-sep: 223, 21%, 25%;
  --thirdPartyGray-100-sep-alt: 223, 18%, 25%;
  --thirdPartyGray--100-bg: 0, 0%, 0%;
  --thirdPartyGray--100-clr: 0, 0%, 100%;
  --thirdPartyGray--100-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--100-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--35-bg: 224, 35%, 16%;
  --thirdPartyGray--35-clr: 0, 0%, 100%;
  --thirdPartyGray--35-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--35-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--35-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--35-clr-good: 82, 56%, 50%;
  --thirdPartyGray--35-clr-primary: 208, 91%, 65%;
  --thirdPartyGray--35-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--35-sep: 220, 27%, 54%;
  --thirdPartyGray--35-sep-alt: 219, 13%, 55%;
  --thirdPartyGray--30-bg: 224, 35%, 17%;
  --thirdPartyGray--30-clr: 0, 0%, 100%;
  --thirdPartyGray--30-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--30-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--30-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--30-clr-good: 82, 56%, 50%;
  --thirdPartyGray--30-clr-primary: 208, 91%, 65%;
  --thirdPartyGray--30-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--30-sep: 220, 27%, 54%;
  --thirdPartyGray--30-sep-alt: 219, 13%, 55%;
  --thirdPartyGray--20-bg: 224, 35%, 20%;
  --thirdPartyGray--20-clr: 0, 0%, 100%;
  --thirdPartyGray--20-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--20-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--20-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--20-clr-good: 82, 56%, 50%;
  --thirdPartyGray--20-clr-primary: 208, 91%, 65%;
  --thirdPartyGray--20-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--20-sep: 220, 27%, 54%;
  --thirdPartyGray--20-sep-alt: 219, 13%, 55%;
  --thirdPartyGray--15-bg: 224, 35%, 21%;
  --thirdPartyGray--15-clr: 0, 0%, 100%;
  --thirdPartyGray--15-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--15-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--15-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--15-clr-good: 82, 56%, 50%;
  --thirdPartyGray--15-clr-primary: 208, 91%, 65%;
  --thirdPartyGray--15-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--15-sep: 220, 27%, 54%;
  --thirdPartyGray--15-sep-alt: 219, 13%, 55%;
  --thirdPartyGray--10-bg: 224, 35%, 22%;
  --thirdPartyGray--10-clr: 0, 0%, 100%;
  --thirdPartyGray--10-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--10-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--10-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--10-clr-good: 82, 56%, 50%;
  --thirdPartyGray--10-clr-primary: 208, 91%, 65%;
  --thirdPartyGray--10-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--10-sep: 220, 27%, 54%;
  --thirdPartyGray--10-sep-alt: 219, 13%, 55%;
  --thirdPartyGray--5-bg: 222, 37%, 24%;
  --thirdPartyGray--5-clr: 0, 0%, 100%;
  --thirdPartyGray--5-clr-accent: 82, 57%, 44%;
  --thirdPartyGray--5-clr-bad: 359, 100%, 74%;
  --thirdPartyGray--5-clr-decent: 219, 47%, 94%;
  --thirdPartyGray--5-clr-good: 82, 56%, 50%;
  --thirdPartyGray--5-clr-primary: 208, 91%, 56%;
  --thirdPartyGray--5-clr-strong: 0, 0%, 100%;
  --thirdPartyGray--5-sep: 220, 27%, 54%;
  --thirdPartyGray--5-sep-alt: 219, 13%, 55%;
  --thirdPartyPrimary-0-bg: 208, 100%, 37%;
  --thirdPartyPrimary-0-clr: 0, 0%, 100%;
  --thirdPartyPrimary-0-clr-accent: 82, 57%, 82%;
  --thirdPartyPrimary-0-clr-bad: 359, 100%, 93%;
  --thirdPartyPrimary-0-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary-0-clr-good: 82, 56%, 82%;
  --thirdPartyPrimary-0-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary-0-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary-0-sep: 208, 77%, 44%;
  --thirdPartyPrimary-0-sep-alt: 208, 60%, 81%;
  --thirdPartyPrimary-5-bg: 208, 91%, 56%;
  --thirdPartyPrimary-5-clr: 0, 0%, 100%;
  --thirdPartyPrimary-5-clr-accent: 0, 0%, 100%;
  --thirdPartyPrimary-5-clr-bad: 0, 0%, 100%;
  --thirdPartyPrimary-5-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary-5-clr-good: 0, 0%, 100%;
  --thirdPartyPrimary-5-clr-primary: 208, 89%, 93%;
  --thirdPartyPrimary-5-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary-5-sep: 208, 77%, 99%;
  --thirdPartyPrimary-5-sep-alt: 208, 60%, 99%;
  --thirdPartyPrimary-25-bg: 208, 91%, 65%;
  --thirdPartyPrimary-25-clr: 0, 0%, 18%;
  --thirdPartyPrimary-25-clr-accent: 0, 0%, 18%;
  --thirdPartyPrimary-25-clr-bad: 0, 0%, 18%;
  --thirdPartyPrimary-25-clr-decent: 219, 47%, 33%;
  --thirdPartyPrimary-25-clr-good: 0, 0%, 18%;
  --thirdPartyPrimary-25-clr-primary: 208, 89%, 28%;
  --thirdPartyPrimary-25-clr-strong: 0, 0%, 29%;
  --thirdPartyPrimary-25-sep: 208, 77%, 28%;
  --thirdPartyPrimary-25-sep-alt: 208, 60%, 29%;
  --thirdPartyPrimary-30-bg: 208, 91%, 67%;
  --thirdPartyPrimary-30-clr: 0, 0%, 18%;
  --thirdPartyPrimary-30-clr-accent: 0, 0%, 18%;
  --thirdPartyPrimary-30-clr-bad: 0, 0%, 18%;
  --thirdPartyPrimary-30-clr-decent: 219, 47%, 33%;
  --thirdPartyPrimary-30-clr-good: 0, 0%, 18%;
  --thirdPartyPrimary-30-clr-primary: 208, 89%, 28%;
  --thirdPartyPrimary-30-clr-strong: 0, 0%, 29%;
  --thirdPartyPrimary-30-sep: 208, 77%, 28%;
  --thirdPartyPrimary-30-sep-alt: 208, 60%, 29%;
  --thirdPartyPrimary-40-bg: 208, 91%, 72%;
  --thirdPartyPrimary-40-clr: 0, 0%, 18%;
  --thirdPartyPrimary-40-clr-accent: 0, 0%, 18%;
  --thirdPartyPrimary-40-clr-bad: 0, 0%, 18%;
  --thirdPartyPrimary-40-clr-decent: 219, 47%, 33%;
  --thirdPartyPrimary-40-clr-good: 0, 0%, 18%;
  --thirdPartyPrimary-40-clr-primary: 208, 89%, 28%;
  --thirdPartyPrimary-40-clr-strong: 0, 0%, 29%;
  --thirdPartyPrimary-40-sep: 208, 77%, 28%;
  --thirdPartyPrimary-40-sep-alt: 208, 60%, 29%;
  --thirdPartyPrimary-100-bg: 0, 0%, 100%;
  --thirdPartyPrimary-100-clr: 0, 0%, 18%;
  --thirdPartyPrimary-100-clr-accent: 0, 0%, 18%;
  --thirdPartyPrimary-100-clr-bad: 0, 0%, 18%;
  --thirdPartyPrimary-100-clr-decent: 219, 47%, 33%;
  --thirdPartyPrimary-100-clr-good: 0, 0%, 18%;
  --thirdPartyPrimary-100-clr-primary: 208, 89%, 28%;
  --thirdPartyPrimary-100-clr-strong: 0, 0%, 29%;
  --thirdPartyPrimary-100-sep: 208, 77%, 28%;
  --thirdPartyPrimary-100-sep-alt: 208, 60%, 29%;
  --thirdPartyPrimary--100-bg: 0, 0%, 0%;
  --thirdPartyPrimary--100-clr: 0, 0%, 100%;
  --thirdPartyPrimary--100-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--100-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--55-bg: 211, 98%, 22%;
  --thirdPartyPrimary--55-clr: 0, 0%, 100%;
  --thirdPartyPrimary--55-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--55-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--55-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--55-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--55-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--55-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--55-sep: 208, 77%, 83%;
  --thirdPartyPrimary--55-sep-alt: 213, 40%, 63%;
  --thirdPartyPrimary--35-bg: 207, 99%, 30%;
  --thirdPartyPrimary--35-clr: 0, 0%, 100%;
  --thirdPartyPrimary--35-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--35-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--35-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--35-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--35-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--35-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--35-sep: 208, 77%, 83%;
  --thirdPartyPrimary--35-sep-alt: 213, 40%, 60%;
  --thirdPartyPrimary--30-bg: 206, 99%, 32%;
  --thirdPartyPrimary--30-clr: 0, 0%, 100%;
  --thirdPartyPrimary--30-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--30-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--30-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--30-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--30-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--30-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--30-sep: 208, 77%, 83%;
  --thirdPartyPrimary--30-sep-alt: 208, 60%, 83%;
  --thirdPartyPrimary--20-bg: 205, 99%, 35%;
  --thirdPartyPrimary--20-clr: 0, 0%, 100%;
  --thirdPartyPrimary--20-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--20-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--20-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--20-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--20-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--20-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--20-sep: 208, 77%, 83%;
  --thirdPartyPrimary--20-sep-alt: 208, 60%, 83%;
  --thirdPartyPrimary--10-bg: 210, 85%, 44%;
  --thirdPartyPrimary--10-clr: 0, 0%, 100%;
  --thirdPartyPrimary--10-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--10-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--10-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--10-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--10-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--10-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--10-sep: 208, 77%, 83%;
  --thirdPartyPrimary--10-sep-alt: 208, 60%, 83%;
  --thirdPartyPrimary--5-bg: 213, 80%, 48%;
  --thirdPartyPrimary--5-clr: 0, 0%, 100%;
  --thirdPartyPrimary--5-clr-accent: 82, 57%, 98%;
  --thirdPartyPrimary--5-clr-bad: 359, 100%, 99%;
  --thirdPartyPrimary--5-clr-decent: 219, 47%, 94%;
  --thirdPartyPrimary--5-clr-good: 82, 56%, 98%;
  --thirdPartyPrimary--5-clr-primary: 0, 0%, 100%;
  --thirdPartyPrimary--5-clr-strong: 0, 0%, 100%;
  --thirdPartyPrimary--5-sep: 208, 77%, 83%;
  --thirdPartyPrimary--5-sep-alt: 208, 60%, 83%;
  --cyber-0-bg: 220, 41%, 27%;
  --cyber-0-clr: 0, 0%, 100%;
  --cyber-0-clr-accent: 82, 56%, 50%;
  --cyber-0-clr-bad: 359, 100%, 75%;
  --cyber-0-clr-decent: 222, 6%, 55%;
  --cyber-0-clr-good: 82, 56%, 50%;
  --cyber-0-clr-primary: 220, 100%, 68%;
  --cyber-0-clr-strong: 0, 0%, 100%;
  --cyber-0-sep: 220, 42%, 31%;
  --cyber-0-sep-alt: 219, 47%, 10%;
  --cyber-10-bg: 220, 43%, 35%;
  --cyber-10-clr: 0, 0%, 100%;
  --cyber-10-clr-bad: 359, 100%, 67%;
  --cyber-10-clr-decent: 222, 6%, 62%;
  --cyber-10-clr-good: 82, 56%, 50%;
  --cyber-10-clr-primary: 220, 100%, 70%;
  --cyber-15-bg: 220, 44%, 39%;
  --cyber-15-clr: 0, 0%, 100%;
  --cyber-25-bg: 220, 45%, 46%;
  --cyber-25-clr: 0, 0%, 100%;
  --cyber-25-clr-bad: 359, 100%, 67%;
  --cyber-25-clr-decent: 223, 6%, 55%;
  --cyber-25-clr-good: 82, 56%, 50%;
  --cyber-25-clr-primary: 220, 47%, 18%;
  --cyber-25-clr-strong: 0, 0%, 100%;
  --cyber-25-sep: 220, 42%, 31%;
  --cyber-35-bg: 220, 53%, 54%;
  --cyber-35-clr: 0, 0%, 100%;
  --cyber-55-bg: 220, 100%, 68%;
  --cyber-55-clr: 0, 0%, 100%;
  --cyber-55-clr-primary: 221, 100%, 92%;
  --cyber-55-clr-strong: 220, 41%, 27%;
  --cyber-60-bg: 220, 100%, 72%;
  --cyber-70-bg: 220, 100%, 79%;
  --cyber-75-bg: 220, 100%, 82%;
  --cyber-100-bg: 0, 0%, 100%;
  --cyber--75-bg: 219, 41%, 7%;
  --cyber--60-bg: 220, 47%, 11%;
  --cyber--60-clr: 0, 0%, 100%;
  --cyber--60-clr-accent: 82, 56%, 50%;
  --cyber--60-clr-decent: 222, 6%, 55%;
  --cyber--60-clr-good: 82, 56%, 50%;
  --cyber--60-clr-primary: 220, 100%, 68%;
  --cyber--60-clr-strong: 220, 100%, 79%;
  --cyber--60-sep: 220, 42%, 31%;
  --cyber--45-bg: 222, 44%, 15%;
  --cyber--45-clr: 0, 0%, 100%;
  --cyber--45-clr-bad: 359, 100%, 75%;
  --cyber--45-clr-decent: 222, 6%, 55%;
  --cyber--45-clr-primary: 220, 100%, 68%;
  --cyber--45-clr-strong: 220, 100%, 79%;
  --cyber--45-sep: 220, 42%, 31%;
  --cyber--40-bg: 221, 45%, 16%;
  --cyber--40-clr: 0, 0%, 100%;
  --cyber--40-sep: 220, 42%, 31%;
  --cyber--35-bg: 220, 47%, 18%;
  --cyber--35-clr: 0, 0%, 100%;
  --cyber--35-clr-accent: 82, 56%, 50%;
  --cyber--35-clr-bad: 359, 100%, 75%;
  --cyber--35-clr-decent: 223, 6%, 55%;
  --cyber--35-clr-good: 82, 56%, 50%;
  --cyber--35-clr-primary: 220, 100%, 68%;
  --cyber--35-clr-strong: 220, 100%, 79%;
  --cyber--35-sep: 220, 42%, 31%;
  --cyber--35-sep-alt: 219, 47%, 10%;
  --cyber--30-bg: 220, 44%, 19%;
  --cyber--25-bg: 220, 43%, 20%;
  --cyber--25-clr: 0, 0%, 100%;
  --cyber--25-clr-decent: 222, 6%, 55%;
  --cyber--20-bg: 220, 42%, 21%;
  --cyber--20-clr: 0, 0%, 100%;
  --cyber--20-clr-decent: 222, 6%, 55%;
  --cyber--20-clr-strong: 0, 0%, 100%;
  --cyber--10-bg: 220, 41%, 24%;
  --cyber--10-clr: 0, 0%, 100%;
  --cyber--5-bg: 220, 41%, 26%;
  --cyber--5-clr: 0, 0%, 100%;
  --cyber--5-sep: 220, 42%, 31%;
  --consultant-0-bg: 82, 57%, 43%;
  --consultant-10-bg: 82, 45%, 48%;
  --consultant-20-bg: 82, 42%, 54%;
  --consultant-30-bg: 82, 42%, 60%;
  --consultant-40-bg: 82, 42%, 66%;
  --consultant-55-bg: 82, 42%, 74%;
  --consultant-70-bg: 82, 42%, 83%;
  --consultant--20-bg: 82, 57%, 34%;
  --consultant--15-bg: 82, 57%, 36%;
  --consultant--10-bg: 82, 57%, 38%;
  --specialPrimary-0-bg: 216, 100%, 67%;
  --specialPrimary-0-clr: 0, 0%, 100%;
  --specialPrimary-15-bg: 216, 100%, 72%;
  --specialPrimary-15-clr: 0, 0%, 100%;
  --specialPrimary-35-bg: 216, 100%, 78%;
  --specialPrimary-35-clr: 0, 0%, 100%;
  --specialPrimary-55-bg: 216, 100%, 85%;
  --specialPrimary-55-clr: 210, 57%, 31%;
  --specialPrimary-55-clr-bad: 359, 100%, 67%;
  --specialPrimary-55-clr-good: 150, 100%, 36%;
  --specialPrimary-65-bg: 216, 100%, 88%;
  --specialPrimary-65-clr: 210, 57%, 31%;
  --specialPrimary-80-bg: 216, 100%, 93%;
  --specialPrimary-80-clr: 210, 57%, 31%;
  --specialPrimary-80-clr-accent: 150, 100%, 33%;
  --specialPrimary-80-clr-decent: 208, 32%, 59%;
  --specialPrimary-80-clr-primary: 216, 100%, 67%;
  --specialPrimary-80-sep: 207, 26%, 93%;
  --specialPrimary-85-bg: 216, 100%, 95%;
  --specialPrimary-85-clr: 210, 57%, 31%;
  --specialPrimary-85-clr-accent: 150, 100%, 33%;
  --specialPrimary-85-clr-decent: 208, 32%, 59%;
  --specialPrimary-90-bg: 215, 100%, 97%;
  --specialPrimary-90-clr: 210, 57%, 31%;
  --specialPrimary-90-clr-accent: 150, 100%, 33%;
  --specialPrimary-90-clr-bad: 359, 100%, 67%;
  --specialPrimary-90-clr-decent: 208, 32%, 59%;
  --specialPrimary-90-clr-good: 150, 100%, 36%;
  --specialPrimary-90-clr-primary: 216, 100%, 67%;
  --specialPrimary-90-sep: 207, 26%, 93%;
  --specialPrimary-90-sep-alt: 208, 31%, 81%;
  --specialPrimary-100-bg: 0, 0%, 100%;
  --specialPrimary-100-clr: 210, 57%, 31%;
  --specialPrimary-100-clr-accent: 150, 100%, 33%;
  --specialPrimary-100-clr-bad: 359, 100%, 67%;
  --specialPrimary-100-clr-decent: 208, 32%, 59%;
  --specialPrimary-100-clr-good: 150, 100%, 36%;
  --specialPrimary-100-clr-primary: 216, 100%, 67%;
  --specialPrimary-100-sep: 207, 26%, 93%;
  --specialPrimary-100-sep-alt: 208, 31%, 81%;
  --specialPrimary--60-bg: 216, 50%, 27%;
  --specialPrimary--60-clr: 0, 0%, 100%;
  --specialPrimary--50-bg: 216, 50%, 33%;
  --specialPrimary--50-clr: 0, 0%, 100%;
  --specialPrimary--20-bg: 216, 57%, 53%;
  --specialPrimary--20-clr: 0, 0%, 100%;
  --specialPrimary--10-bg: 216, 75%, 60%;
  --specialPrimary--10-clr: 0, 0%, 100%;
  --specialAccent-0-bg: 150, 100%, 36%;
  --specialAccent-0-clr: 0, 0%, 100%;
  --specialAccent-15-bg: 150, 67%, 46%;
  --specialAccent-15-clr: 0, 0%, 100%;
  --specialAccent-35-bg: 150, 57%, 59%;
  --specialAccent-35-clr: 0, 0%, 100%;
  --specialAccent-65-bg: 150, 58%, 78%;
  --specialAccent-65-clr: 210, 57%, 31%;
  --specialAccent-80-bg: 150, 58%, 87%;
  --specialAccent-80-clr: 210, 57%, 31%;
  --specialAccent-85-bg: 150, 58%, 91%;
  --specialAccent-85-clr: 210, 57%, 31%;
  --specialAccent-85-clr-accent: 150, 100%, 33%;
  --specialAccent-85-clr-decent: 208, 32%, 59%;
  --specialAccent-90-bg: 150, 56%, 94%;
  --specialAccent-90-clr: 210, 57%, 31%;
  --specialAccent-90-clr-accent: 150, 100%, 33%;
  --specialAccent-90-clr-decent: 208, 32%, 59%;
  --specialAccent-100-bg: 0, 0%, 100%;
  --specialAccent-100-clr: 210, 57%, 31%;
  --specialAccent-100-clr-accent: 150, 100%, 33%;
  --specialAccent-100-clr-decent: 208, 32%, 59%;
  --specialAccent--20-bg: 150, 100%, 29%;
  --specialAccent--20-clr: 0, 0%, 100%;
  --specialAccent--10-bg: 150, 100%, 33%;
  --specialAccent--10-clr: 0, 0%, 100%;
  --focus: 217, 99%, 65%;
  --top-coef-bg: 57, 85%, 84%;
  --top-coef-clr: 210, 57%, 26%;
  --team1: 208, 100%, 62%;
  --team2: 82, 56%, 50%;
  --slot-background: 202, 22%, 10%;
  --slot-background-light: 213, 13%, 17%;
  --slot-background-light-2: 212, 13%, 19%;
  --slot-background-light-3: 214, 13%, 21%;
  --slot-background-light-4: 212, 13%, 23%;
  --slot-background-light-5: 203, 23%, 11%;
  --slot-background-dark: 213, 13%, 14%;
  --slot-text-darken: 0, 0%, 60%;
  --slot-text-darken-2: 0, 0%, 80%;
  --slot-text-darken-3: 0, 0%, 73%;
  --slot-text-darken-4: 0, 0%, 85%;
  --slot-primary: 82, 58%, 49%;
  --slot-primary-dark: 82, 59%, 39%;
  --slot-border: 213, 10%, 21%;
  --slot-background-add: 210, 14%, 20%;
  --slot-background-add-hover: 212, 12%, 25%;
  --slot-color-add: 0, 0%, 87%;
  --slot-hot: 34, 84%, 56%;
  --slot-hot-dark: 23, 96%, 44%;
  --slot-promo: 12, 61%, 48%;
  --slot-promo-dark: 8, 97%, 29%;
  --slot-new: 82, 89%, 48%;
  --slot-new-dark: 82, 90%, 30%;
  --slot-caption: 0, 0%, 100%;
  --casino-promo: 220, 75%, 77%;
  --casino-promo-dark: 211, 49%, 41%;
  --casino-new: 90, 75%, 76%;
  --casino-new-dark: 80, 49%, 40%;
  --casino-cashback: 70, 100%, 70%;
  --casino-cashback-dark: 60, 100%, 50%;
  --casino-cashback-vip: 47, 75%, 77%;
  --casino-cashback-vip-dark: 38, 49%, 41%;
  --casino-caption: 202, 22%, 10%;
  --slot-popup-main: 206, 74%, 18%;
  --slot-popup-main-dark: 207, 71%, 8%;
  --slot-modal-gold: 45, 69%, 67%;
  --slot-light: 0, 0%, 100%;
  --slot-dark: 0, 0%, 0%;
  --slot-dark-1: 205, 11%, 22%;
  --slot-dark-2: 212, 11%, 30%;
  --slot-dark-3: 205, 10%, 24%;
  --slot-tag-1-bg: 335, 100%, 50%;
  --slot-tag-2-bg: 140, 100%, 33%;
  --cyber-alternative-gradient-start: 202, 100%, 62%;
  --cyber-alternative-gradient-end: 249, 100%, 71%;
  --cyber-alternative-gradient-clr: 0, 0%, 100%;
  --cyber-bad-gradient-1-bg: 359, 39%, 58%;
  --cyber-bad-gradient-2-bg: 359, 27%, 54%;
  --cyber-bad-gradient-3-bg: 359, 43%, 53%;
  --cyber-bad-gradient-4-bg: 359, 43%, 52%;
  --cyber-disabled-gradient-start: 211, 48%, 34%;
  --cyber-disabled-gradient-end: 230, 38%, 37%;
  --cyber-disabled-gradient-clr: 0, 0%, 100%;
  --cyber-good-gradient-1-bg: 82, 54%, 61%;
  --cyber-good-gradient-2-bg: 82, 49%, 57%;
  --cyber-good-gradient-3-bg: 82, 64%, 40%;
  --cyber-good-gradient-4-bg: 82, 40%, 45%;
  --cyber-secondary-bg: 220, 100%, 68%;
  --cyber-secondary-clr: 220, 84%, 63%;
  --cyber-secondary-clr-accent: 0, 0%, 100%;
  --cyber-secondary-gradient-start: 270, 87%, 64%;
  --cyber-secondary-gradient-middle: 254, 76%, 56%;
  --cyber-secondary-gradient-end: 254, 69%, 50%;
  --cyber-team1: 169, 56%, 50%;
  --cyber-team2: 339, 100%, 67%;
  --cyber-alternative-team1: 207, 92%, 79%;
  --cyber-alternative-team2: 46, 63%, 71%;
  --slot-machine-accent: 189, 90%, 70%;
  --slot-machine-bg-1: 222, 100%, 20%;
  --slot-machine-bg-2: 209, 100%, 52%;
  --slot-machine-bg-3: 230, 89%, 17%;
  --slot-machine-bg-4: 249, 63%, 46%;
  --loading: 208, 61%, 32%;
  --custom-modal-overlay-bg: 210, 57%, 26%;
  --status-icon-title: 208, 100%, 62%;
  --status-icon-title-success: 82, 55%, 41%;
  --status-icon-bg: 208, 100%, 62%;
  --status-icon-bg-success: 82, 56%, 50%;
  --status-icon-bg-success-special: 150, 100%, 36%;
  --status-icon-bg-error: 359, 100%, 67%;
  --status-icon-bg-before: 0, 0%, 100%;
  --status-icon-bg-error-before: 0, 0%, 100%;
  --status-icon-bg-success-before: 0, 0%, 100%;
  --status-icon-clr: 0, 0%, 100%;
  --status-icon-clr-success: 0, 0%, 100%;
  --status-icon-clr-error: 0, 0%, 100%;
  --custom-ui-button-bg-gradient-theme-cyber-accent-start: 202, 100%, 62%;
  --custom-ui-button-bg-gradient-theme-cyber-accent-end: 249, 100%, 71%;
  --custom-ui-button-clr-gradient-theme-cyber-accent: 0, 0%, 100%;
  --custom-ui-button-disabled-bg-gradient-theme-cyber-accent-start: 211, 48%,
    34%;
  --custom-ui-button-disabled-bg-gradient-theme-cyber-accent-end: 230, 38%, 37%;
  --custom-ui-button-bg-theme-cyber-accent-gradient-start: 202, 100%, 62%;
  --custom-ui-button-bg-theme-cyber-accent-gradient-end: 249, 100%, 71%;
  --custom-ui-button-clr-theme-cyber-accent-gradient: 0, 0%, 100%;
  --custom-ui-button-bg-hover-theme-cyber-accent-gradient-start: 202, 100%, 62%;
  --custom-ui-button-bg-hover-theme-cyber-accent-gradient-end: 249, 100%, 71%;
  --custom-ui-button-clr-hover-theme-cyber-accent-gradient: 0, 0%, 100%;
  --custom-ui-button-disabled-bg-gradient-theme-cyber-accent-gradient-start: 211,
    48%, 34%;
  --custom-ui-button-disabled-bg-gradient-theme-cyber-accent-gradient-end: 230,
    38%, 37%;
  --custom-ui-button-disabled-clr-gradient-theme-cyber-accent: 222, 6%, 55%;
  --custom-ui-market-value-clr-theme-cyber-accent: 0, 0%, 100%;
  --custom-ui-market-value-clr-toggled-theme-cyber-accent: 0, 0%, 100%;
  --custom-ui-market-value-clr-theme-gray-30: 210, 57%, 26%;
  --custom-ui-market-bg-theme-cyber-accent-gradient-start: 202, 100%, 62%;
  --custom-ui-market-bg-theme-cyber-accent-gradient-end: 249, 100%, 71%;
  --custom-ui-market-clr-theme-cyber-accent-gradient: 0, 0%, 100%;
  --custom-ui-market-bg-toggled-theme-cyber-accent-gradient-start: 270, 87%, 64%;
  --custom-ui-market-bg-toggled-theme-cyber-accent-gradient-middle: 254, 76%,
    56%;
  --custom-ui-market-bg-toggled-theme-cyber-accent-gradient-end: 254, 69%, 50%;
  --custom-ui-market-clr-toggled-theme-cyber-accent-gradient: 0, 0%, 100%;
  --custom-ui-market-clr-bad-toggled-theme-cyber-accent-gradient: 359, 100%, 75%;
  --custom-ui-market-clr-good-toggled-theme-cyber-accent-gradient: 82, 56%, 50%;
  --custom-ui-market-bg-1-bad-toggled-theme-cyber-accent-gradient: 359, 39%, 58%;
  --custom-ui-market-bg-2-bad-toggled-theme-cyber-accent-gradient: 359, 27%, 54%;
  --custom-ui-market-bg-3-bad-toggled-theme-cyber-accent-gradient: 359, 43%, 53%;
  --custom-ui-market-bg-4-bad-toggled-theme-cyber-accent-gradient: 359, 43%, 52%;
  --custom-ui-market-bg-1-good-toggled-theme-cyber-accent-gradient: 82, 54%, 61%;
  --custom-ui-market-bg-2-good-toggled-theme-cyber-accent-gradient: 82, 49%, 57%;
  --custom-ui-market-bg-3-good-toggled-theme-cyber-accent-gradient: 82, 64%, 40%;
  --custom-ui-market-bg-4-good-toggled-theme-cyber-accent-gradient: 82, 40%, 45%;
  --custom-ui-tab-bg-hover-theme-cyber-start: 202, 100%, 62%;
  --custom-ui-tab-bg-hover-theme-cyber-end: 249, 100%, 71%;
  --custom-ui-tab-clr-hover-theme-cyber: 0, 0%, 100%;
  --custom-ui-tab-bg-theme-cyber-gradient-start: 220, 41%, 27%;
  --custom-ui-tab-bg-theme-cyber-gradient-end: 220, 47%, 18%;
  --custom-ui-tab-clr-theme-cyber-gradient: 0, 0%, 100%;
  --custom-ui-tab-bg-hover-theme-cyber-gradient-start: 202, 100%, 62%;
  --custom-ui-tab-bg-hover-theme-cyber-gradient-end: 249, 100%, 71%;
  --custom-ui-tab-clr-hover-theme-cyber-gradient-start: 0, 0%, 100%;
  --cyber-champ-card-status-bg: 220, 100%, 68%;
  --cyber-champ-card-status-clr: 0, 0%, 100%;
  --cyber-game-card-before: 220, 100%, 68%;
  --coupon-bet-is-live-bg: 220, 100%, 68%;
  --coupon-bet-is-live-clr: 220, 43%, 35%;
  --ui-cyber-slider-slide: 220, 47%, 18%;
  --ui-cyber-slider-slide-after-start: 220, 100%, 68%;
  --ui-cyber-slider-slide-after-middle: 220, 100%, 83%;
  --ui-cyber-slider-slide-after-end: 220, 100%, 68%;
  --ui-scrollbar-accent-bg: 220, 100%, 68%;
  --ui-scrollbar-accent-bg-hover: 220, 44%, 46%;
  --ui-cyber-slider-slide-container-before: 220, 100%, 68%;
  --custom-cyber-multi-banner-gradient: 220, 47%, 18%;
  --custom-tp-mobile-bottom-navigation-link-ico-theme-third-party-gray-10: 223,
    12%, 78%;
  --custom-ui-tag-bg-theme-dynamic-accent: 220, 100%, 68%;
  --custom-ui-tag-clr-theme-dynamic-accent: 0, 0%, 100%;
  --custom-icon-zone-clr: 208, 62%, 40%;
  --custom-top-events-banner-app-timer-progress-bg: 208, 100%, 62%;
  --products-gradient-1: 180, 86%, 31%;
  --products-gradient-2: 208, 100%, 62%;
  --products-gradient-3: 342, 51%, 38%;
  --products-gradient-4: 169, 57%, 31%;
  --products-gradient-5: 254, 69%, 50%;
}
